{% extends "base.html" %}   
{% load static i18n %}

{% block content %}

<h3>Tjenestebestillinger</h3>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Tidsstempel</th>
            <th>Tjenestetype</th>
            <th>Arrangement</th>
            <th>Status</th>
            <th>Valg</th>
        </tr>
    </thead>

    <tbody>
        {% for item in objects %}
        <tr>
            <td>{{item.related_to_order.id}}</td>
            <td>{{item.created}}</td>
            <td>{{item.related_to_order.service.name}}</td>
            <td>..</td>
            <td>{{item.related_to_order.state}}</td>
            <td>
                <button class="btn wb-btn-main">
                    Behandling
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% enblock %}
