{% extends "screenshow/meta_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}


{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <div>

                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <label class="d-block">
                            {% trans "Name" %}
                            <i class="fas fa-asterisk text-warning float-end"></i>

                        </label>
                        <input type="text" class="form-control form-control-lg"
                            id="{{ form.name.id_for_label }}"
                            name="{{ form.name.name }}"
                            value="{{ form.name.value|default:'' }}"
                            placeholder="{% trans 'Layout Name' %}..." />

                        {{ form.name.errors }}
                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-4 col-sm-12 mt-lg-0 mt-sm-2">
                        <label class="d-block">
                            {% trans "Description" %}

                        </label>
                        <input type="text" class="form-control form-control-lg"
                            id="{{ form.description.id_for_label }}"
                            name="{{ form.description.name }}"
                            value="{{ form.description.value|default:'' }}"
                            placeholder="{% trans 'Layout Description' %}... ({% trans 'Optional' %})" />
                    </div>



                </div>
               <div class="row">


                  <div class="col-lg-4 col-sm-12 mt-lg-0 mt-sm-2">
                        <label class="d-block">
                            {% trans "Quantity" %}

                        </label>
                        <input type="number" class="form-control form-control-lg"
                            id="{{ form.quantity.id_for_label }}"
                            name="{{ form.quantity.name }}"
                            value="{{ form.quantity.value|default:10 }}"
                            placeholder="{% trans 'Number of items on screen' %}" />
                    </div>


                </div>
              <div class="row">


                  <div class="col-lg-2 col-sm-12 mt-lg-0 mt-sm-2">
                        <label class="d-block">
                            {% trans "Is Room Based" %}

                        </label>
                        <input type="checkbox" class="form-check-input"
                            id="{{ form.is_room_based.id_for_label }}"
                            name="{{ form.is_room_based.name }}"
                            value="{{ form.is_room_based.value|default:"true"}}"
                            placeholder="{% trans 'Is Room Based' %}" />
                    </div>

                  <div class="col-lg-2 col-sm-12 mt-lg-0 mt-sm-2">
                        <label class="d-block">
                            {% trans "All Events" %}

                        </label>
                        <input type="checkbox" class="form-check-input"
                            id="{{ form.all_events.id_for_label }}"
                            name="{{ form.all_events.name }}"
                            value="{{ form.all_events.value|default:"true" }}"
                            placeholder="{% trans 'All Events' %}" />
                    </div>

                 <div class="col-lg-2 col-sm-12 mt-lg-0 mt-sm-2">
                        <label class="d-block">
                            {% trans "Active" %}

                        </label>
                        <input type="checkbox" class="form-check-input"
                            id="{{ form.active.id_for_label }}"
                            name="{{ form.active.name }}"
                            value="{{ form.active.value|default:"true" }}"
                            placeholder="{% trans 'Active' %}" />
                    </div>

                </div>
            </div>
        </div>


        <div class="mt-3">
            <button type="reset" class="btn btn-lg btn-warning">
                {% trans "Reset Form" %}
            </button>

            <div class="float-end">
                <button type="submit" class="btn btn-lg btn-success">
                    <i class="fas fa-save"></i>&nbsp;
                    {% trans "Save" %}
                </button>
                <a class="btn btn-lg btn-danger" href="{% url 'screenshow:layout_list' %}">
                    <i class="fas fa-times"></i>&nbsp;
                    {% trans "Cancel" %}
                </a>
            </div>

        </div>
    </form>
{% endblock %}
