DATABASE_URL=postgres://myuser:mypasswd@localhost:5432/everycheese

### Application Config
# --> Name of the application instance, will appear throughout
#APP_TITLE=WeBook
# --> Logo of the application
#APP_LOGO=/static/images/wemade_logo.jpg
