{% extends "arrangement/meta_base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}


{% block content %}
    <form method="post">

        {% csrf_token %}

        <!-- {{ form | crispy }} -->
        <div class="form-group mb-3">
            <label for="{{ form.name.id_for_label }}" class="h5 d-block fw-bold">
                {{ form.name.label }}
            </label>
            <input type="text" class="form-control form-control-lg"
                id="{{ form.name.id_for_label }}"
                name="{{ form.name.name }}"
                value="{{ form.name.value|default:'' }}">
        </div>

      <div class="form-group mb-3">
            <label for="{{ form.name_en.id_for_label }}" class="h5 d-block fw-bold">
                {{ form.name_en.label }}
            </label>
            <input type="text" class="form-control form-control-lg"
                id="{{ form.name_en.id_for_label }}"
                name="{{ form.name_en.name }}"
                value="{{ form.name_en.value|default:'' }}">
        </div>

        <label for="{{form.self_nested_children.id_for_label}}" class="h5 d-block fw-bold">
            {{form.self_nested_children.label}}            
        </label>
        <div class="form-group mb-3">
            {{form.parent}}
        </div>

        <a class="btn wb-btn-secondary me-3" onClick="window.history.back(); return false;">
            <i class="fas fa-times"></i>&nbsp; 
            {% trans "Cancel" %}
        </a>
        <div class="float-end">
            {% if not form.instance.id %}
            <button type="submit" class="btn wb-btn-main" value="submitAndNew" name="submitAndNew"
                data-mdb-toggle="tooltip" title="{% trans 'Save and then create a new arrangement type' %}">
                {% trans "Save, and new" %}
            </button>
            {% endif %}

            <button type="submit" class="btn wb-btn-main" value="submit" name="submit"
                data-mdb-toggle="tooltip" title="{% trans 'Create a new arrangement type based on your input' %}">
                <i class="fas fa-check"></i>&nbsp; 
                {% trans "Save" %}
            </button>
        </div>
    </form>


    <script src="{% static '@fonticonpicker/fonticonpicker/dist/js/jquery.fonticonpicker.min.js' %}"></script>
    <script>

        $(document).ready(function () {
            el = $('#{{form.icon_class.id_for_label}}').fontIconPicker();

            fetch('{% static "fontawesome-icon-manifest_no.json" %}')
                .then(fetchedJson =>  fetchedJson.json())
                .then(parsedJson => el.setIcons( parsedJson ));
        })

    </script>
{% endblock %}
