{% include "arrangement/vue/pattern_designer.html" %}
{% include "arrangement/vue/select-main-planner-s2.html" %}
{% include "arrangement/vue/location-select2.html" %}

<template id="editSerieDialog">
    <dialog-component
        :is-draggable="true"
        :is-visible="isVisible"
        :chain-to="chainTo"
        @close="$emit('close')">
        <template v-slot:header>
            <h3 class="mb-0 fw-bold">
                <i class="fas fa-calendar-alt"></i> Planlegg Gjentagende Hendelse
            </h3>
        </template>

        <template v-slot:content>
            <div class="row">
                <div class="col-6">
                    <div>
                        <label class="fw-bold">Tittel på norsk</label>
                        <input type="text" v-model="localModelValue.title" name="" id="" class="form-control">
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <label class="fw-bold">Tittel på engelsk</label>
                        <input type="text" v-model="localModelValue.title_en" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6">
                    <label class="fw-bold">Start</label>
                    <input type="time" v-model="localModelValue.start_time" class="form-control">
                </div>
                <div class="col-6">
                    <label class="fw-bold">Slutt</label>
                    <input type="time" v-model="localModelValue.end_time" class="form-control">
                </div>
            </div>

            <div class="mt-2 row">
                <div class="col-4">
                    <label class="fw-bold">Lokasjon</label>
                    <location-select v-model:selected="localModelValue.location"></location-select>
                </div>
                <div class="col-8">
                    <label class="fw-bold">Rom</label>
                    <rooms-select v-model:selected="localModelValue.rooms"></rooms-select>
                </div>
            </div>

            <div class="mt-3">
                <pattern-designer v-model:schedule="localModelValue.schedule"></pattern-designer>
            </div>

            <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-headingTwo">
                        <button
                        data-mdb-collapse-init
                        class="accordion-button collapsed"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#flush-collapseTwo"
                        aria-expanded="false"
                        aria-controls="flush-collapseTwo"
                        >
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex">
                                    <div class="badge badge-success">
                                        <i class="fas fa-clipboard"></i>
                                    </div>
                                    <div class="ms-2">
                                        Detaljer
                                    </div>
                                </div>
                                <div class="h6 text-muted d-block me-5">
                                    (Kopiert fra arrangement)
                                </div>
                            </div>
                        </button>
                    </h4>
                    <div
                        id="flush-collapseTwo"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTwo"
                        data-mdb-parent="#accordionFlushExample"
                    >
                        <div class="accordion-body">
                            <div>
                                <tree-select-component 
                                    :is-open="false" 
                                    label="Målgruppe" 
                                    json-url="{% url 'arrangement:audience_tree' %}"
                                    button-label="Velg målgruppe"
                                    icon="fas fa-users"
                                    button-position="left"
                                    v-model="localModelValue.audience">
                
                                </tree-select-component>
                            </div>
                
                            <div>
                                <tree-select-component 
                                    :is-open="false" 
                                    label="Arrangementstype" 
                                    json-url="{% url 'arrangement:arrangement_type_tree_list' %}"
                                    button-label="Velg arrangementstype"
                                    icon="fas fa-cog"
                                    button-position="left"
                                    v-model="localModelValue.arrangement_type">
                
                                </tree-select-component>
                            </div>
                
                            <div>
                                <tree-select-component 
                                    :is-open="false" 
                                    label="Status" 
                                    json-url="{% url 'arrangement:statustype_tree' %}"
                                    button-label="Velg status"
                                    icon="fas fa-cog"
                                    button-position="left"
                                    v-model="localModelValue.status_type">
                
                                </tree-select-component>
                            </div>
    
                            <div>
                                <label for="ticketCode">Billettkode</label>
                                <input type="text" id="ticketCode" v-model="localModelValue.ticket_code" class="form-control">
                            </div>
                
                            <div class="mt-2">
                                <label for="">Forventet besøkende</label>
                                <input type="number" id="expected_visitors" v-model="localModelValue.expected_visitors" class="form-control">            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-headingOne">
                    <button
                        data-mdb-collapse-init
                        class="accordion-button collapsed"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#flush-collapseOne"
                        aria-expanded="false"
                        aria-controls="flush-collapseOne"
                    >
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <div class="d-flex">
                                <div class="badge badge-warning">
                                    <i class="fas fa-hammer"></i>
                                </div>
                                <div class="ms-2">
                                    Rigging
                                </div>
                            </div>
                            <div class="h6 text-muted d-block me-5">
                                (Valgfritt)
                            </div>
                        </div>
                    </button>
                    </h4>
                    <div
                        id="flush-collapseOne"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOne"
                        data-mdb-parent="#accordionFlushExample"
                        >
                    <div class="accordion-body">
                        <h4>Opprigging</h4>
                        <p>
                            Definer tidspunkt for opprigging av arrangementet.
                        </p>
                        
                        <rigging-form v-model="localModelValue.riggingBefore"></rigging-form>
                    
                        <h4 class="mt-3">Nedrigging</h4>
                        <p>
                            Definer tidspunkt for nedrigging av arrangementet
                        </p>
            
                        <rigging-form v-model="localModelValue.riggingAfter"></rigging-form>
                    </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-headingThree">
                        <button
                        data-mdb-collapse-init
                        class="accordion-button collapsed"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#flush-collapseThree"
                        aria-expanded="false"
                        aria-controls="flush-collapseThree"
                        >
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex">
                                    <div class="badge badge-info">
                                        <i class="fas fa-tv"></i>
                                    </div>
                                    <div class="ms-2">
                                        Skjerm & Møteplass
                                    </div>
                                </div>
                                <div class="h6 text-muted d-block me-5">
                                    (Kopiert fra arrangement & Valgfritt)
                                </div>
                            </div>
                        </button>
                    </h4>
                    <div
                        id="flush-collapseThree"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree"
                        data-mdb-parent="#accordionFlushExample"
                    >
                        <div class="accordion-body">
                            <display-layout-select></display-layout-select>

                            <div class="mt-2">
                                <label for="meeting_place">Møtested (Norsk)</label>
                                <input type="text" id="meeting_place" v-model="localModelValue.meeting_place" class="form-control">
                            </div>

                            <div class="mt-2">
                                <label for="meeting_place_en">Møtested (Engelsk)</label>
                                <input type="text" id="meeting_place_en" v-model="localModelValue.meeting_place_en" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-headingFour">
                        <button
                        data-mdb-collapse-init
                        class="accordion-button collapsed"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#flush-collapseFour"
                        aria-expanded="false"
                        aria-controls="flush-collapseFour"
                        >
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex">
                                    <div class="badge badge-info">
                                        <i class="fas fa-users"></i>
                                    </div>
                                    <div class="ms-2">
                                        Planleggere
                                    </div>
                                </div>
                                <div class="h6 text-muted d-block me-5">
                                    (Kopiert fra arrangement)
                                </div>
                            </div>
                        </button>
                    </h4>
                    <div
                        id="flush-collapseFour"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree"
                        data-mdb-parent="#accordionFlushExample"
                    >
                        <div class="accordion-body">
                        
                            <div class="mt-2 w-25 ">
                                <label class="d-block">Hovedplanlegger</label>
                                <select-main-planner-s2 v-model:selected="localModelValue.mainPlanner" />
                            </div>

                            <div class="mt-2 w-25">
                                <label class="d-block">Medplanleggere</label>
                                <select-main-planner-s2 v-model:selected="localModelValue.planners" :multiple="true" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <div class="d-flex justify-content-between">
                <div>
                    <button class="btn wb-btn-secondary" @click="close()">
                        <i class="fas fa-times"></i>&nbsp;
                        <span>Avbryt</span>
                    </button>
                </div>
                <div>
                    <button class="btn wb-btn-main ms-2" @click="save()">
                        Lagre
                    </button>
                </div>
            </div>
        </template>
    </dialog-component>
</template>


<script>

    let EditSerieDialog = {
        template: '#editSerieDialog',
        components: { 
            DialogComponent, 
            DisplayLayoutSelect, 
            TreeSelectComponent, 
            RoomsSelect, 
            PatternDesigner,
            RiggingForm,
            SelectMainPlannerS2,
            LocationSelect
         },
        props: {
            modelValue: {
                type: Object,
                default: function() {
                    return {
                        title: '',
                        date: '',
                        start_time: '',
                        end_time: '',
                    }
                }
            },
            isVisible: {
                type: Boolean,
                default: false,
            },
            chainTo: {
                type: String,
                default: '',
            },
        },
        methods: {
            close() {
                this.$emit('close');
            },
            save() {
                this.localModelValue.schedule.inOldStyle.time.start = this.localModelValue.start_time;
                this.localModelValue.schedule.inOldStyle.time.end = this.localModelValue.end_time;
                
                this.localModelValue.schedule.exploded = window.SeriesUtil.calculate_serie(this.localModelValue.schedule.inOldStyle);

                const formatDate = (date) => {
                    return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`
                }

                this.localModelValue.schedule.exploded.forEach((ev) => {
                    ev.fc = {
                        title: this.localModelValue.title,
                        start: ev.from,
                        end: ev.to,
                        classNames: [
                            'serie-event:' + this.localModelValue.uuid, 
                            'start-date:' + formatDate(ev.from),
                            'end-date:' + formatDate(ev.to)
                        ],
                        extendedProps: {
                            parentType: 'serie',
                            parentUuid: this.localModelValue.uuid
                        }
                    }
                });

                this.$emit('update:modelValue', this.localModelValue);
                this.close();
            },
        },
        emits: ['close', 'update:modelValue'],
        delimiters: ['[[', ']]'],
        watch: {
            modelValue: {
                handler: function (val, oldVal) {
                    console.log("modelValue changed", val)
                    this.localModelValue = {...val};
                },
                deep: true,
            },
        },
        data: function () {
            return {
                localModelValue: {...this.modelValue} || {},
                schedule: {},
                dialog: false,
                valid: false,
                name: '',
                nameRules: [
                    v => !!v || 'Name is required',
                    v => (v && v.length <= 20) || 'Name must be less than 20 characters',
                ],
                description: '',
                descriptionRules: [
                    v => !!v || 'Description is required',
                    v => (v && v.length <= 100) || 'Description must be less than 100 characters',
                ],
                form: {
                    name: '',
                    description: '',
                },
                loading: false,
                error: false,
                errorMessage: '',
            }
        },
    }

</script>