{% extends "arrangement/meta_base.html" %}
{% load static i18n %}

{% block noheader %}

<style>
    .stampGroove {
     border: dashed;   
    }
</style>

<div class="clearfix">
    
    <div class="float-start">
        <h2>Planleggingskalender</h2>
    </div>
</div>

<div class="btn-group">
    <a class="btn btn-wemade"
        href="{% url 'arrangement:arrangement_create' %}">
        Planlegg nytt arrangement
    </a>
    <!-- <button class="btn btn-wemade">
        Planlegg enkelt nytt arrangement
    </button> -->
</div>

<!-- <div class="btn-group">
    <button class="btn btn-success">
        <i class="fas fa-plus"></i>
        Ny enkelthendelse
    </button>
    <button class="btn btn-success">
        <i class="fas fa-plus"></i>
        Ny repeterende hendelse
    </button>
</div> -->

<!-- <div class="float-end">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
        <label class="form-check-label" for="flexSwitchCheckDefault">Multi-select</label>
    </div>      
</div> -->


<!-- <ul class="nav light-tabs nav-tabs rounded-top mt-4" id="navTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link text-center" id="overview-tab" data-mdb-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">
        <span class="h6 mb-0"><i class="fas fa-eye"></i></span>
        &nbsp; <span class="h6">Arrangementer</span></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link active text-center" id="planner-tab" data-mdb-toggle="tab" href="#planner" role="tab" aria-controls="planner" aria-selected="true"
          onclick="calendarManager.redraw();">
        <span class="h6 mb-0"><i class="fas fa-calendar"></i></span>
        &nbsp; <span class="h6">Lokasjoner</span></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="planners-tab" data-mdb-toggle="tab" href="#planners" role="tab" aria-controls="planners" aria-selected="false">
        <span class="h6 mb-0"><i class="fas fa-users"></i></span>
        &nbsp; <span class="h6">Personer</span>
      </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="planners-tab" data-mdb-toggle="tab" href="#planners" role="tab" aria-controls="planners" aria-selected="false">
          <span class="h6 mb-0"><i class="fas fa-calendar"></i></span>
          &nbsp; <span class="h6">Mine kalendere</span>
        </button>
      </li>
  </ul> -->


{% endblock %}

{% block content %}

    <div id="arrangementPlannerCalendar"></div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        /**
         * Get the slug from a calendar dom element node
         * Returns undefined if no slug was found
         * */
        function findSlugFromEl(el) {
            var slug = undefined;

            el.classList.forEach((classToEvaluate) => {
                var classSplit = classToEvaluate.split(":");
            
                if (classSplit.length > 1 && classSplit[0] == "slug") {
                    slug = classSplit[1];
                }
            });

            if (slug === undefined) {
                console.error("Tried to execute open method for arrangement but could not acquire slug.")
                return undefined;
            }

            return slug
        }

        function bindPopover (elementToBindWith) {

            var info = {
                slug: findSlugFromEl(elementToBindWith)
            }

            new mdb.Popover(elementToBindWith, {
                trigger: "hover focus",
                content: `<h5>${info.slug}</h5>`,
                html: true,
            })
        }

        var plannerCalendarEl = undefined;
        document.addEventListener('DOMContentLoaded', function() {
            plannerCalendarEl = document.getElementById('arrangementPlannerCalendar');

            var plannerCalendar = new FullCalendar.Calendar(plannerCalendarEl, {
                initialView: 'dayGridMonth',
                events: "{% url 'arrangement:arrangement_events' %}",
                eventContent: (arg) => {
                    var icon_class = arg.event.extendedProps.icon;
                    let html = `<span class="h6">
                                    <span class='text-white ms-2'>
                                        <i class='${icon_class}'></i>
                                    </span> 
                                    ${arg.event.title}
                                </span>`
                    return { html: html }
                },
                eventDidMount: (arg) => {
                    bindPopover(arg.el)

                    $.contextMenu({
                        className: "",
                        selector: ".fc-event",
                        items: {
                            open: {
                                name: "{% trans 'Open arrangement' %}",
                                isHtmlName: false,
                                callback: function (key, opt) {
                                    location.href = "/arrangement/arrangement/" + findSlugFromEl(opt.$trigger[0]);
                                }
                            },
                        }
                    });
                }
            });

            plannerCalendar.render();
        });
    </script>

{% endblock %}