{% include "arrangement/vue/stepper.html" %}
{% include "arrangement/vue/display-layout-select-component.html" %}
{% include "arrangement/vue/rooms-select.html" %}
{% include "arrangement/planner/edit-serie-dialog.html" %}
{% include "arrangement/planner/edit-event-dialog.html" %}
{% include "arrangement/vue/select-main-planner-s2.html" %}
{% include "arrangement/vue/location-select2.html" %}

<template id="vuec-planner-base">

    <edit-serie-dialog
        v-model="focusedSerie"
        :use-backdrop="true"
        :is-visible="editSerieDialogExpanded"
        @close="editSerieDialogExpanded = false"
        chain-to="#plannerBaseDialogAA">

    </edit-serie-dialog>

    <edit-event-dialog
        v-model:event="focusedEvent"
        :use-backdrop="true"
        :is-visible="editEventDialogExpanded"
        @close="editEventDialogExpanded = false"
        chain-to="#plannerBaseDialogAA">

    </edit-event-dialog>

    <dialog-component
        :use-backdrop="false"
        width="60rem" 
        id="plannerBaseDialogAA"
        ref="baseDialog"
        :is-visible="isVisible"
        @close="$emit('close')"
        @fullscreenenter="rerender()"
        @fullscreenexit="rerender()"
        :is-draggable="true"
        :start-full-screen="true">

        <template v-slot:header>
            <h3 class="mb-0 fw-bold">
                <i class="fas fa-calendar-plus"></i> Nytt Arrangement
            </h3>
        </template>

        <template v-slot:content>
            <div class="row">
                <div class="col-3">
                    <h3 class="text-muted">Legende</h3>
                    <hr>
                </div>
                <div class="col-9">
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                HEADER
                            </div>
                            <div>
                                <button class="btn border-1 wb-large-btn wb-btn-white " @click="newEvent()">
                                    <i class="fas fa-plus"></i>&nbsp; Legg til hendelse
                                </button>
                                <button class="btn border-1 wb-large-btn wb-btn-white " @click="newSerie()">
                                    <i class="fas fa-plus"></i>&nbsp; Legg til gjentagende hendelse
                                </button>
                                <button class="btn wb-btn-main btn-lg ms-2">
                                    <i class="fas fa-calendar text-white"></i>
                                </button>
                                <button class="btn wb-btn-main btn-lg ms-2">
                                    <i class="fas fa-table text-white"></i>
                                </button>
                            </div>

                        </div>

                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex">
                                    <button class="btn wb-btn-white me-1">
                                        <i class="fas fa-arrow-left"></i>
                                    </button>
                                    <button class="btn wb-btn-white ms-1">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>

                                <div class="border rounded-4 border-dark p-2">
                                    <input type="checkbox" name="" id="">
                                    Automatisk juster visning basert på hendelser
                                </div>

                                <div class="mt-2">
                                    <button class="btn wb-btn-white text-dark fw-light">
                                        Dag
                                    </button>
                                    <button class="btn wb-btn-white text-dark fw-light ms-1">
                                        Uke
                                    </button>
                                    <button class="btn wb-btn-white text-dark fw-light ms-1">
                                        Måned
                                    </button>
                                    <button class="btn wb-btn-white text-dark fw-light ms-1">
                                        År
                                    </button>
                                </div>
                            </div>
                        </div>

                        <calendar-component
                            class="w-100"
                            height="50rem"
                            view="timelineMonth"
                            ref="calendar">
                        </calendar-component>
                    </div>
                </div>
            </div>
        </template>

        <template v-slot:footer>
    
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <button class="btn wb-btn-secondary" @click="nextStep = false">
                        <i class="fas fa-arrow-left"></i>
                        Tilbake
                    </button>
                </div>

                <div>
                    <em>
                        <i class="fas fa-circle-notch fa-spin"></i>
                    </em>
                </div>

                <div>
                    <button class="btn wb-btn-main" @click="nextStep = true">
                        <i class="fas fa-arrow-right"></i>
                        Neste
                    </button>
                </div>
            </div>
        </template>

    </dialog-component>
</template>

<script>
    let PlannerBaseDialog = {
        template: "#vuec-planner-base",
        delimiters: ['[[', ']]'],   
        props: {
            isVisible: {
                type: Boolean,
                default: false
            }
        },
        emits: ['close'],
        data: function() {
            return {
                baseDialogEl: null,
                nextStep: false,
                editSerieDialogExpanded: false,
                editEventDialogExpanded: false,
                focusedEvent: null,
                calendarEventsSource: [],
                focusedSerie: null,
                arrangement: {
                    title: '',
                    title_en: '',
                    audience: [],
                    status_type: [],
                    arrangement_type: [],
                    rooms: [],
                    location: {},
                    events: [],
                    series: []
                }
            }
        },
        methods: {
            close() {
                this.$emit('close');
            },
            regenerateEventSource() {
                let events = [];
                this.arrangement.series.forEach(serie => {
                    if (serie.schedule) {
                        events = events.concat(
                            serie.schedule.exploded.map((ev) => ev.fc)
                        );
                    }
                });

                this.calendarEventsSource = events;
            },
            rerender() {
                this.$refs.calendar.render();
            },
            newEvent() {
                this.editEventDialogExpanded = true;
                this.focusedEvent = {
                    title:              this.arrangement.title,
                    title_en:           this.arrangement.title_en,
                    meeting_place:      this.arrangement.meeting_place,
                    meeting_place_en:   this.arrangement.meeting_place_en,
                    audience:           this.arrangement.audience,
                    status_type:        this.arrangement.status_type,
                    arrangement_type:   this.arrangement.arrangement_type,
                    rooms:              this.arrangement.rooms,
                    mainPlanner:        this.arrangement.mainPlanner,
                    planners:           this.arrangement.planners,
                    ticket_code:        this.arrangement.ticket_code,
                    expected_visitors:  this.arrangement.expected_visitors,
                    location:           this.arrangement.location,
                };
            },
            editEvent(event) {
                this.focusedEvent = event;
                this.editEventDialogExpanded = true;
            },
            newSerie() {
                this.editSerieDialogExpanded = true;
                this.focusedSerie = {
                    uuid:               crypto.randomUUID(), 
                    title:              this.arrangement.title,
                    title_en:           this.arrangement.title_en,
                    meeting_place:      this.arrangement.meeting_place,
                    meeting_place_en:   this.arrangement.meeting_place_en,
                    audience:           this.arrangement.audience,
                    status_type:        this.arrangement.status_type,
                    arrangement_type:   this.arrangement.arrangement_type,
                    rooms:              this.arrangement.rooms,
                    mainPlanner:        this.arrangement.mainPlanner,
                    planners:           this.arrangement.planners,
                    ticket_code:        this.arrangement.ticket_code,
                    expected_visitors:  this.arrangement.expected_visitors,
                    location:           this.arrangement.location,
                }
            },
            editSerie(serie) {
                this.focusedSerie = serie;
                this.editSerieDialogExpanded = true;
            }
        },
        watch: {
            calendarEventsSource: function(val) {
                this.$refs.calendar.removeAllEventSources();
                this.$refs.calendar.addEventSource(val);
                console.log("val calendarEventsSource", val);
            },
            isVisible: function(val) {
                this.$nextTick(() => {
                    this.baseDialogEl = this.$refs.baseDialog.$el;
                })
            },
            focusedEvent: function(val) {
                if (val) {
                    this.arrangement.events.splice(this.arrangement.events.indexOf(this.focusedEvent), 1);
                    this.arrangement.events.push(val);
                }
            },
            focusedSerie: function(newValue, oldValue) {
                if (newValue) {                    
                    this.arrangement.series.forEach((serie, index) => {
                        if (serie.uuid === newValue.uuid) {
                            this.arrangement.series.splice(index, 1);
                        }
                    });
                    
                    this.regenerateEventSource();

                    this.arrangement.series.push(newValue);
                }
            }
        },
        components: { 
            DialogComponent, 
            Stepper, 
            DisplayLayoutSelect, 
            TreeSelectComponent, 
            RoomsSelect,
            CalendarComponent, 
            EditSerieDialog, 
            EditEventDialog,
            SelectMainPlannerDialogComponent,
            SelectMainPlannerS2,
            LocationSelect
        }
    }
</script>