
{% load static i18n %}

{% block content %}
<style>
  #designerCalendar .fc-day-sun, #designerCalendar .fc-day-sat {
    background-color: #f4f5d7;
}
   /* menu header */
   .css-title:before {
        content: "some CSS title";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: #DDD;
        padding: 2px;

        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
    }
    .css-title :first-child {
        margin-top: 20px;
    }

    /* menu header via data attribute */
    .data-title:before {
        content: attr(data-menutitle);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: #DDD;
        padding: 2px;

        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
    }
    .data-title :first-child {
        margin-top: 20px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://dragselect.com/v2/ds.min.js"></script>

<h3 class="mt-5">{% trans "Planner" %}</h3>
<button class="btn btn-primary"
        onclick="newEventDialog()">
    <i class="fas fa-calendar-plus"></i>&nbsp; {% trans "New event" %}
</button>
<button class="btn btn-primary"
        onclick="loadNewSerieDialog()">
    <i class="fas fa-redo"></i>&nbsp; {% trans "New recurring event" %}
</button>
<ul class="stepper" data-mdb-stepper="stepper">
    <li class="stepper-step stepper-active" id="item-stepper-calendar">
      <div class="stepper-head">
        <span class="stepper-head-icon"> <i class="fas fa-calendar"></i> </span>
        <span class="stepper-head-text"> {% trans "Calendar" %} </span>
      </div>
      <div class="stepper-content py-3">
        <div class="row">
          <div class="col-12">
            <div id="designerCalendar"></div>
          </div>
        </div>
      </div>
    </li>
    <li class="stepper-step" id="item-stepper-timeline">
      <div class="stepper-head">
        <span class="stepper-head-icon"> <i class="fas fa-clock"></i> </span>
        <span class="stepper-head-text"> {% trans "Timeline" %} </span>
      </div>
      <div class="stepper-content py-3">

        <div class="row">
            <div class="col-12">
              <div id="timeline_vis"></div>
            </div>
        </div>
      </div>
    </li>
    <li class="stepper-step" id="item-stepper-table">
      <div class="stepper-head">
        <span class="stepper-head-icon"> <i class="fas fa-user"></i> </span>
        <span class="stepper-head-text"> {% trans "Table" %} </span>
      </div>
      <div class="stepper-content py-3">

        <div class="row">
            <div class="col-12">
                <table class="table table-sm table-striped" id="eventsTable">
                  <thead></thead>
                  <tbody></tbody>
                  <tfoot></tfoot>
                </table>
            </div>
        </div>
      </div>
    </li>
  </ul>

  <script src="{% static 'fullcalendar-scheduler/main.min.js' %}"></script>
  <script src="{% static 'fullcalendar-scheduler/locales-all.min.js' %}"></script>
  <script src="{% static 'js/planner.js' %}"></script>
  <script src="{% static 'js/inputGroupManager.js' %}"></script>

<script>
    let selectAllow = true;

    window.addEventListener('DOMContentLoaded', (event) => {
      bind_global_hotkeys();
      hotkey_map.get(document.querySelector('#item-stepper-calendar')).bind();
    });

    function bind_global_hotkeys() {
      hotkeys('fn+n, fn+s', function (event, handler) {
        event.preventDefault();
        switch (handler.key) {
          case 'ctrl+z+n': 
            newEventDialog();
            break;
          case 'ctrl+z+s':
            loadNewSerieDialog();
            break;
        }
      });
    }

    const hotkey_map = new Map();

    hotkey_map.set(document.querySelector("#item-stepper-calendar"), {
      init: function () {
        calendarManager.calendar.prev();
        calendarManager.calendar.next();
      },
      bind: function () {
        console.log("Hotkey bind -- > Calendar");

        hotkeys('ctrl+left, ctrl+right', function (event, handler) {
          switch (handler.key) {
            case 'ctrl+left':
              calendarManager.calendar.prev();
              break;
            case 'ctrl+right':
              calendarManager.calendar.next();
              break;
          }
        });
      },
      unbind: function () {
        console.log("Hotkey unbind -- > Calendar");
        hotkeys.unbind("ctrl+left, ctrl+right")
      }
    });
    
    hotkey_map.set(document.querySelector("#item-stepper-timeline"), {
      init: function () {
      },
      bind: function () {
        console.log("Hotkey bind -- > Timeline");
      },
      unbind: function () {
        console.log("Hotkey unbind -- > Timeline");
      }
    });
    hotkey_map.set(document.querySelector("#item-stepper-table"), {
      init: function () {
      },
      bind: function () {
        console.log("Hotkey bind -- > Table");
      },
      unbind: function () {
        console.log("Hotkey unbind -- > Table");
      }
    })

    const stepper_observer = new MutationObserver((mutations) => {
      const mutation_on_previous = mutations[mutations.length - 1];
      const mutation_on_new = mutations[0];

      let handle_step_mutation = function handleMutation (mutation) {
        const { target } = mutation
          if (mutation.attributeName === "class") {
            let section;

            const isSetToActive = mutation.target.classList.contains('stepper-active');
        
            let functions_for_target = hotkey_map.get(target);

            if (isSetToActive) {
              functions_for_target.bind(section);
              functions_for_target.init();
            }
            else {
              functions_for_target.unbind(section);
            }
          }
      }

      handle_step_mutation(mutation_on_previous);
      handle_step_mutation(mutation_on_new);
    });

    let observation_config = {
      attributes: true,
      attributeFilter: ['class'],
      childList: false,
      characterData: false,
    };

    stepper_observer.observe(document.querySelector('#item-stepper-calendar'), observation_config);
    stepper_observer.observe(document.querySelector('#item-stepper-timeline'), observation_config);
    stepper_observer.observe(document.querySelector('#item-stepper-table'), observation_config);

    class SelectComponent {
        constructor (element_id, options) {
            this.element_id = element_id
            this.options = options
        }

        insert_options () {
            for (let [key, value] of this.options) {
                let option = document.createElement('option');
                option.setAttribute("value", key);
                option.innerText = value;
                document.getElementById(this.element_id).append(option);
            }
        }
    }

    function parseDateObjTimeToString (date_obj, separator=":", include_seconds=false) {
      let hours = String(date_obj.getHours());
      let minutes = String(date_obj.getMinutes());
      let seconds = String(date_obj.getSeconds());

      if (hours.length == 1) {
        hours = "0" + hours;
      }
      if (minutes.length == 1) {
        minutes += "0";
      }
      if (seconds.length == 1 && include_seconds === true) {
        seconds += "0";
      }

      return hours + separator + minutes + (include_seconds === true ? separator + seconds : "");
    }

    let translatedTextsMap = new Map([
      ["create", '{% trans "Create" %}'],
      ["edit", '{% trans "Edit" %}'],
      ["delete", '{% trans "Delete" %}'],
      ["info", '{% trans "Info" %}']
    ]);

    var planner = new Planner({
      onClickEditButton: function (eventId) { updateEventDialog(eventId); },
      csrf_token: '{% csrf_token %}',
      texts: translatedTextsMap,
      arrangement_id: {{ object.id }},
    });

    var plannerTableManager = new SimpleTableManager(
      'eventsTable',
      function (index) { planner.context.remove_event(index) },
      function (index) { updateEventDialog(index) },
      function (index) { console.log('INFO!') },
    )

    var plannerTimelineManager = new TimeLineManager("timeline_vis");

    var calendarManager = new CalendarManager(
      "designerCalendar",
      {
        "initialView": "dayGridMonth",
        "navLinks": true,
        "locale": 'nb',
        "weekNumbers": true,
        "selectable": true,
        "selectMirror": false,
        "editable": true,

        "unselectAuto": true,
        "selectMinDistance": 1,
        "select": function ( selectionInfo ) {
            eventDialogManager.flush();
            eventDialogManager.event_id.value = -1;

            $(eventEditDialog).modal('show');
        },
        "headerToolbar": {
          "left": 'prev,next today',
          "center": 'title',
          "right": 'dayGridMonth,timeGridWeek,timeGridDay'
        } 
      },
    );
    
    plannerTableManager.onClickEditButton = function (index) {
      updateEventDialog(index);
    }

    planner.renderer_manager.add_renderer(plannerTableManager);
    planner.renderer_manager.add_renderer(plannerTimelineManager)
    planner.renderer_manager.add_renderer(calendarManager);

    planner.init()
  </script>

  {% include 'arrangement/planner/dialogs/edit_event.html' %}
  {% include 'arrangement/planner/dialogs/new_serie.html' %}
{% endblock %}