
{% load static i18n %}

{% block content %}
<style>
  #designerCalendar .fc-day-sun, #designerCalendar .fc-day-sat {
    background-color: #f4f5d7;
}
* { user-select: none; }

  .shadow-event {
    pointer-events: none;
  }

  .focused-cell {
    border: solid 1px blue!important;
    background-color: ghostwhite;
    color:black
  }

  .collision_analysis_shadow_event {
    color: red;
    background-color: smokewhite;
    border: dotted 3px red!important;
  }

  .popover {
    border: solid 1px black;
  }

  .cut-highlight-daygrid-event {
    border: dotted 1px red!important;
    background-color: ghostwhite!important;
    color: black!important;;
  }

   /* menu header */
   .css-title:before {
        content: "some CSS title";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: #DDD;
        padding: 2px;

        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
    }
    .css-title :first-child {
        margin-top: 20px;
    }

    .ds-selected * {
      /* position: absolute!important; */
      pointer-events: none;
    }

    /* menu header via data attribute */
    .data-title:before {
        content: attr(data-menutitle);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: #DDD;
        padding: 2px;

        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
    }
    .data-title :first-child {
        margin-top: 20px;
    }

    .wemade-tabs > .nav-item {
    background-color: #21384B;
    width: 100%;
  }

  .wemade-tabs > .nav-item > .nav-link {
    color:white;
  }
  .wemade-tabs > .nav-item > .active {
    background-color:#386080;;
  }

  .stageIsDone {
    color:white;
  }

  #plannerTab > li.nav-item > button.nav-link {
    padding: 0.8rem;
    /* border: initial; */
  }
  #plannerTab > li.nav-item > button.nav-link.active {
    padding: 0.8rem;
    /* border: initial; */
  }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://dragselect.com/v2/ds.min.js"></script>
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>




<div id="collisionAnalysisWrapper" style="display: none;">
  <div class="mt-2 p-2" style="border: 3px dotted black; background-color: ghostwhite;">
    <legend class="fw-bolder">Kollisjonsanalyse</legend>

    <div id="collisionAnalysisLoader">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div> Analysis is being calculated...
    </div>

    <div id="collisionAnalysisBody">
    </div>
  </div>
</div>

<div class="p-2 border" style="background-color: ghostwhite;">
  <div class="row">
    <div class="col-9">
      <div class="input-group">
        <div class="input-group-prepend">
        </div>
        <input type="search" class=" form-control" value="{{object.name}}">
        <div class="input-group-append">
          <button class="mr-0"><i class="fas fa-chevron-down"></i></button><button class="ml-0"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="clearfix">
        <div class="float-end">
          <button class="">
            <i class="fas fa-plus"></i>
          </button>
          <button class="">
            <i class="fas fa-list"></i>
          </button>
          <button class="">
            <i class="fas fa-trash"></i>
          </button>
          <button class="">
            <i class="fas fa-lock"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <ul class="nav nav-tabs" id="plannerTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button  class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Oversikt</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Planlegger</button>
      </li>
      <li class="nav-item" role="presentation">
        <button  class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Ordre</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-users"></i>&nbsp; Planleggere</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Detaljer</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Notater</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Kvitteringer & Rekvirering</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
  
  </div>
</div>

<div style="background-color: #386080; color:white" class="p-2">
  <h3 class="text-white text-center fw-bolder"> {{object.name}} </h3>
</div>
<div style="background-color: #386080; color:white" class="p-2">
  <div class="float-start">
    <span class="badge badge-success badge-md"><strong>Hovedplanlegger: </strong>{{ object.responsible.full_name }}</span>
    <span class="badge badge-info badge-md"><strong>Målgruppe: </strong>{{ object.audience }}</span>
  </div>

  <div class="clearfix">
    <div class="float-end">
      <button class="btn btn-light" onclick="planner.collision_analyzer.requestCollisionAnalysis()">
        Kjør kollisjonsanalyse
      </button>
      <button class="btn btn-light" onclick="requisitioningDialog.open()">
        Begynn rekvirering
      </button>
    </div>
  </div>
          
</div>
<div class="row g-0" style=" background-color: #21384B;">
  <div class="col-2">
    <ul class="nav nav-tabs wemade-tabs mb-3" id="tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="arrangement-tab-planner"
          data-mdb-toggle="tab"
          href="#arrangement-tabs-planner"
          role="tab"
          aria-controls="arrangement-tabs-planner"
          aria-selected="true"
          ><i class="fas fa-calendar"></i>&nbsp; {% trans "Planner" %}</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="arrangement-tab-notes"
          data-mdb-toggle="tab"
          href="#arrangement-tabs-notes"
          role="tab"
          aria-controls="arrangement-tabs-notes"
          aria-selected="false"
          ><i class="fas fa-comment"></i>&nbsp; {% trans "Notes" %}</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="arrangement-tab-orders"
          data-mdb-toggle="tab"
          href="#arrangement-tabs-orders"
          role="tab"
          aria-controls="arrangement-tabs-orders"
          aria-selected="false"
          ><i class="fas fa-dollar-sign"></i>&nbsp; {% trans "Orders" %}</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="arrangement-tab-planners"
          data-mdb-toggle="tab"
          href="#arrangement-tabs-planners"
          role="tab"
          aria-controls="arrangement-tabs-planners"
          aria-selected="false"
          ><i class="fas fa-users"></i>&nbsp; {% trans "Planners" %}</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="arrangement-tab-details"
          data-mdb-toggle="tab"
          href="#arrangement-tabs-details"
          role="tab"
          aria-controls="arrangement-tabs-details"
          aria-selected="false"
          ><i class="fas fa-info"></i>&nbsp; {% trans "Details" %}</a>
      </li>
      
    </ul>
  </div>

  <div class="col-10 bg-white p-3 tabContent">
    <div class="tab-content" id="arrangement-content">
      <div
        class="tab-pane fade show active"
        id="arrangement-tabs-planner"
        role="tabpanel"
        aria-labelledby="arrangement-tab-planner">

          <div class="clearfix mb-2">
            <div class="float-end">
              <div class="float-end ms-4">
                <label><em class="small fw-bolder">{% trans "Month" %}:</em></label>
                
                <select class="form-control"
                      style="display: inline!important; width: 100px; border-left:0;border-top:0;border-right:0;border-radius: 0;" placeholder=""
                      id="monthNavigationSelect">
                </select>
              </div>
          
              <div class="float-end">
                <label><em class="small fw-bolder">{% trans "Year" %}:</em></label>
                <select class="form-control d-inline" 
                        style="display: inline!important; width: 100px; border-left:0;border-top:0;border-right:0;border-radius: 0;"
                        id="yearNavigationSelect">
                </select>
              </div>
            </div>
          </div>

          <div class="btn-group float-start" style="box-shadow: none;">
            <button class="btn btn-info mb-2" onclick="iconsDialog.open()"><i class="fas fa-info"></i>&nbsp; {% trans "Icons" %}</button>
            <button class="btn btn-info mb-2"><i class="fas fa-info-circle"></i>&nbsp; {% trans "User guide" %}</button>
          </div>
          <div class="clearfix">
            <div class="btn-group float-end" style="box-shadow: none;">
              <button class="btn btn-success mb-2" onclick="newEventDialog()"><i class="fas fa-plus"></i>&nbsp; {% trans "New event" %}</button>
              <button class="btn btn-success mb-2" onclick="loadNewSerieDialog()"><i class="fas fa-plus"></i>&nbsp; {% trans "New repeating event" %}</button>
            </div>
          </div>

          <div id="designerCalendar" class="bg-white"></div>
      </div>

      <!-- Notes tab -->
      <div
        class="tab-pane fade"
        id="arrangement-tabs-notes"
        role="tabpanel"
        aria-labelledby="arrangement-tab-notes">
      <span id="arrrangementNotesWrapper"></span>

      </div>

      <!-- Orders tab -->
      <div
        class="tab-pane fade"
        id="arrangement-tabs-orders"
        role="tabpanel"
        aria-labelledby="arrangement-tab-orders">

        <span id="arrangement_ordersWrapper">
      </div>

      <!-- Planners tab -->
      <div
        class="tab-pane fade"
        id="arrangement-tabs-planners"
        role="tabpanel"
        aria-labelledby="arrangement-tab-planners">

        <span id="arrangement_plannersWrapper"></span>
      </div>

      <!-- Details tab -->
      <div
        class="tab-pane fade"
        id="arrangement-tabs-details"
        role="tabpanel"
        aria-labelledby="arrangement-tab-details">

        <form>
          <div>
            <label>Navn på arrangement</label>
            <input type="text" class="form-control" />
          </div>

          <div class="mt-2">
            <label>Målgruppe</label>
            <select class="form-control"></select>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<div class="row mt-5">
  <div class="col-6">
    <span id="peopleRequisitionsWrapper"></span>
    <br>
    <span id="peopleToRequisitionWrapper"></span>
  </div>

  <div class="col-6">
    <span id="serviceRequisitionsWrapper"></span>
  </div>
</div>

  <script src="{% static 'fullcalendar-scheduler/main.min.js' %}"></script>
  <script src="{% static 'fullcalendar-scheduler/locales-all.min.js' %}"></script>
  <script src="{% static 'js/planner.js' %}"></script>
  <script src="{% static 'js/notes.js' %}"></script>
  <script src="{% static 'js/inputGroupManager.js' %}"></script>
  

<script>
    let selectAllow = true;

    window.addEventListener('DOMContentLoaded', (event) => {
      bind_global_hotkeys();
      $('#arrrangementNotesWrapper').load('{% url "arrangement:notes_on_entity_component" %}?entityType=arrangement&entityPk={{object.pk}}');
      $('#arrangement_ordersWrapper').load('{% url "arrangement:requisitions_on_arrangement" %}?arrangementId={{object.pk}}');
      $('#arrangement_plannersWrapper').load('{% url "arrangement:planners_on_arrangement" %}?arrangementId={{object.pk}}');

      new ExtendedSelect({
        jqElement: $('#arrangement_audienceSelect'),
        getUrl: '{% url "arrangement:audience_search" %}',
        extraHeaders: {
            'X-CSRFToken': '{{ csrf_token }}'
        },
        initialSearchValue: '',
        dataParser: function (item) {
          return {
              value: item.pk,
              text: item.fields.name,
              secondary_text: ""
          }
        }
      })
      new MonthSelectComponent("monthNavigationSelect");
      new YearSelectComponent({ 
        element_id: "yearNavigationSelect", 
        breadth: 20, 
        focusYear: (new Date().getFullYear()) 
      });

      document.getElementById('yearNavigationSelect').addEventListener("change", function () {
        calendarManager.go_to_year(document.getElementById('yearNavigationSelect').value);
      });

      document.getElementById('monthNavigationSelect').addEventListener("change", function () {
        calendarManager.go_to_month(document.getElementById('monthNavigationSelect').value - 1);
      });
    });

    function bind_global_hotkeys() {
      hotkeys('fn+n, fn+s', function (event, handler) {
        event.preventDefault();
        switch (handler.key) {
          case 'ctrl+z+n': 
            newEventDialog();
            break;
          case 'ctrl+z+s':
            loadNewSerieDialog();
            break;
        }
      });
    }

    class SelectComponent {
        constructor (element_id, options) {
            this.element_id = element_id
            this.options = options
        }

        insert_options () {
            for (let [key, value] of this.options) {
                let option = document.createElement('option');
                option.setAttribute("value", key);
                option.innerText = value;
                document.getElementById(this.element_id).append(option);
            }
        }

        set_selected(value) {
          $("#" + this.element_id).val(value).change();
        }
    }
    
    class MonthSelectComponent extends SelectComponent {
        constructor (element_id) {
            let options = new Map([
              ["1", '{% trans "january" %}'],
              ["2", '{% trans "februar" %}'],
              ["3", '{% trans "march" %}'],
              ["4", '{% trans "april" %}'],
              ["5", '{% trans "may" %}'],
              ["6", '{% trans "june" %}'],
              ["7", '{% trans "july" %}'],
              ["8", '{% trans "august" %}'],
              ["9", '{% trans "september" %}'],
              ["10", '{% trans "october" %}'],
              ["11", '{% trans "november" %}'],
              ["12", '{% trans "december" %}'],
            ]);

            super(element_id, options)

            this.insert_options();
        }
    }

    class YearSelectComponent extends SelectComponent {
      constructor ({ element_id, breadth, focusYear } = {}) {

        let options = new Map();
        let years = [];

        for (let i = 0; i < breadth; i++) {
          years.push((focusYear + i), (focusYear + i));
          years.push((focusYear - i), (focusYear - 1));
        }

        years = years.sort();
        years.forEach( (item) => {
          options.set(item, item)
        })

        super(element_id, options);
        this.insert_options();
        this.set_selected(focusYear);
      }
    }

    function parseDateObjTimeToString (date_obj, separator=":", include_seconds=false) {
      let hours = String(date_obj.getHours());
      let minutes = String(date_obj.getMinutes());
      let seconds = String(date_obj.getSeconds());

      if (hours.length == 1) {
        hours = "0" + hours;
      }
      if (minutes.length == 1) {
        minutes += "0";
      }
      if (seconds.length == 1 && include_seconds === true) {
        seconds += "0";
      }

      return hours + separator + minutes + (include_seconds === true ? separator + seconds : "");
    }

    let translatedTextsMap = new Map([
      ["create", '{% trans "Create" %}'],
      ["edit", '{% trans "Edit" %}'],
      ["delete", '{% trans "Delete" %}'],
      ["info", '{% trans "Info" %}']
    ]);

    var planner = new Planner({
      onClickEditButton: function (eventId) { updateEventDialog(eventId); },
      onClickOrderServiceButton: function (events) { openOrderServiceDialog(events); },
      onSelectionCopied: function (clipboard) {
        console.log("==> onSelectionCopied")
        console.log(clipboard);

        let rootNode = $("<span></span>")
        clipboard.events.forEach(function (event) {
          rootNode.append($('<p>'+event.title+'</p>'))
        });

        $('#clipboardCounter').text(clipboard.events.length);

        console.log(document.getElementById('clipboardPopover'))
        let popover = new mdb.Popover(document.getElementById('clipboardPopover'), { 
          html: true,
          title: "Utklippstavle",
          content: rootNode.html(),
          container: 'body',
        })
      },
      csrf_token: '{% csrf_token %}',
      csrf_token2: '{{ csrf_token }}',
      texts: translatedTextsMap,
      arrangement_id: {{ object.id }},
      $serviceRequisitionsWrapperEl: $('#serviceRequisitionsWrapper'),
      $peopleRequisitionsWrapperEl: $('#peopleRequisitionsWrapper'),
      $peopleToRequisitionWrapperEl: $('#peopleToRequisitionWrapper'),
    });

    var calendarManager = new CalendarManager(
      "designerCalendar",
      {
        "initialView": "dayGridMonth",
        "navLinks": true,
        "locale": 'nb',
        "weekNumbers": true,
        "selectable": true,
        "selectMirror": false,
        "loading": (isLoading) => {
          console.log(isLoading)
        },
        "editable": true,
        "unselectAuto": true,
        "selectMinDistance": 1,
        "select": function ( selectionInfo ) {
            eventDialogManager.flush();
            eventDialogManager.event_id.value = -1;

            eventDialogManager.fromDate.valueAsDate = selectionInfo.start;
            eventDialogManager.fromTime.value = parseDateObjTimeToString(selectionInfo.start);

            eventDialogManager.toDate.valueAsDate = selectionInfo.end;
            eventDialogManager.toTime.value = parseDateObjTimeToString(selectionInfo.end);

            eventDialogManager.title.value = "";

            $(eventEditDialog).modal('show');
        },
        "datesSet": function (arg) {

          $('.fc-daygrid-day').on('click', function (){
              calendarManager.cellSel.selectCell($(this));
          })

          $('#monthNavigationSelect').val(arg.view.getCurrentData().currentDate.getMonth() + 1);
          $('#yearNavigationSelect').val(arg.view.getCurrentData().currentDate.getFullYear())

        },
        "headerToolbar": {
          "left": 'prev,next today',
          "center": 'title',
          "right": 'dayGridMonth,timeGridWeek,timeGridDay'
        } 
      },
    );

    planner.renderer_manager.add_renderer(calendarManager);
    planner.init()
  </script>

  {% include 'arrangement/planner/dialogs/edit_event.html' %}
  {% include 'arrangement/planner/dialogs/new_serie.html' %}
  {% include 'arrangement/planner/dialogs/order_service.html' %}
  {% include 'arrangement/planner/dialogs/allocate_rooms.html' %}
  {% include 'arrangement/planner/dialogs/allocate_people.html' %}
  {% include 'arrangement/planner/dialogs/color_selection.html' %}
  {% include 'arrangement/planner/dialogs/icons_dialog.html' %}
  {% include 'arrangement/requisitioneer/requisition_dialog.html' %}
{% endblock %}