{% extends "screenshow/meta_base.html" %}
{% load static i18n %}


{% block beneath_breadcrumbs_block %}
    <a class="btn btn-danger">
        <i class="fa fa-trash"></i>&nbsp; {% trans "Delete" %}
    </a>
    <a class="btn btn-success"
        href="{% url 'screenshow:screen_edit' object.slug %}">
        <i class="fa fa-edit"></i>&nbsp; {% trans "Edit" %}
    </a>
{% endblock %}

{% block content %}

<section>
    <div class="row">

        <div class="col-5 ps-5">
            <div>
               <h4 class="mb-4">
                    <i class="fa fa-television"></i>&nbsp;
                    {% trans "Screen" %}
                </h4>
            </div>
            <div>
                <h5>
                    {% trans "Screen Name:" %}
                  <span>{{ object.screen_model }}</span>
                </h5>

            </div>

            <div class="mt-5">
                <h5>
                    {% trans "Number of items showing: " %}
                   <span>{{ object.items_shown }}</span>
                </h5>

            </div>



        </div>

    </div>
</section>

{% endblock %}
