{% extends "arrangement/location/location_section_base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "Locations" %}
{% endblock %}

{% block section_subtitle %}
    All Locations
{% endblock %}

{% block current_crumb_title %}
    <i class="fas fa-list"></i>&nbsp; All Locations
{% endblock %}

{% block content %}

    <h4 class="fw-bold"><i class="fas fa-list" aria-hidden="true"></i>&nbsp; All Locations</h4>
    <a class="btn btn-success btn-sm mb-2 mt-2"
        href="{% url 'arrangement:location_create' %}">
        <i class="fas fa-plus"></i>&nbsp; New Location
    </a>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <td class="h6">
                    <i class="fas fa-building"></i>
                    <span>Location</span>
                </td>
                <td class="h6">
                    <i class="fas fa-cog"></i>
                    <span>Options</span>
                </td>
            </tr>
        </thead>

        <tbody>
            {% for item in object_list %}
                <tr>
                    <td>
                        {{ item.name }}
                    </td>

                    <td>
                        <a class="btn btn-sm btn-info"
                            href="{% url 'arrangement:location_detail' item.slug %}">

                            <i class="fa fa-eye"></i>
                            Open
                        </a>
                        <a class="btn btn-sm btn-success"
                            href="{% url 'arrangement:location_edit' item.slug %}">

                            <i class="fa fa-edit"></i>
                            Edit
                        </a>
                        <a class="btn btn-sm btn-danger"
                           href="{% url 'arrangement:location_delete' item.slug %}">
                            <i class="fa fa-trash"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
        <tfoot>
            <td colspan="2">
                <em class="float-end">{{ object_list|length }} {% trans "elements" %}</em>
            </td>
        </tfoot>
    </table>

{% endblock %}