{% extends "arrangement/location/location_section_base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "Location" %} {{ object.name }}
{% endblock %}
{% block section_subtitle %}
    {{ object.name }}
{% endblock %}
{% block current_crumb_title %}
    {{ object.name }}
{% endblock %}

{% block beneath_breadcrumbs_block %}
    <a class="btn btn-outline-success"
        href="{% url 'arrangement:location_edit' object.slug %}">
        
        <i class="fa fa-edit"></i>&nbsp; Edit
    </a>
    <a class="btn  btn-outline-danger">
        <i class="fa fa-trash"></i>&nbsp; Delete
    </a>
{% endblock %}

{% block content %}


<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#profile0" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Calendar</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#contact0" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Rooms</a>
    </li>
  </ul>

  <div class="tab-content">

        <div class="tab-pane fade " id="profile0" role="tabpanel" aria-labelledby="profile-tab0">
            <section class="mt-5">
                <h4><i class="fa fa-calendar"></i>&nbsp; Calendar</h3>
                
                <div id="location_calendar" class="mb-4"></div>
            </section>
        </div>
        <div class="tab-pane fade" id="contact0" role="tabpanel" aria-labelledby="contact-tab0">
            <h4><i class="fas fa-table"></i>&nbsp; Rooms</h3>
            
            <button class="btn btn-success"
                    data-mdb-toggle="modal"
                    data-mdb-target="#createRoomModal">
                <i class="fa fa-plus"></i>&nbsp; New Room
            </button>

            <span id="roomsTableLoaderWrapper">

            </span>
        </div>
    </div>

    <div
  class="modal fade"
  id="createRoomModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            <span class="badge badge-success">
                <i class="fas fa-plus"></i>
            </span>
            New room
        </h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="createNewRoomDialogForm">
            <input type="hidden" name="location" value="{{ object.id }}" />
            <div class="form-group">
                <label>Lokasjon</label>
                <input type="text" class="form-control" value="{{ object.name }}" disabled/>
            </div>

            <div class="form-group mt-3">
                <label>Room Name</label>
                <input type="text" class="form-control" name="name" id="roomNameInput"/>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="createNewRoom()">Create room</button>
        <button type="button" class="btn btn-success" onclick="createNewRoom(false /* dont close after save*/)">Create room, and new</button>
        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
          <i class="fa fas-times"></i>&nbsp; Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<script>
    var resources = JSON.parse('{{ resources_json | safe }}')

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('location_calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'resourceTimelineWeek',
            height: 600,
            navLinks:true,
            locale: 'nb',
            
            resources: resources
        });
        calendar.render();
        loadRoomsTableForLocation()
    });

    function loadRoomsTableForLocation () {
        $('#roomsTableLoaderWrapper').load('{% url "arrangement:locationroomlist" object.id %}?location={{object.id }}')
    }

    async function createNewRoom (closeModalOnDone=true) {
        let dataForm = new FormData(document.getElementById("createNewRoomDialogForm"))
        let url = "{% url 'arrangement:room_create' %}"

        fetch(url, {
            method: 'POST',
            body: dataForm,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        }).then(function(response) {
            console.log(response);
            if (response.ok) {
                console.log("Response after room create is OK")
                loadRoomsTableForLocation() // refresh rooms table to include our newly created room
            }
            else {
                console.log(response)
                throw "Response not OK."
            }
        }).catch(function(err) {
            console.log(err)
        }).then(function(response) {
            if (closeModalOnDone) {
                $('#createRoomModal').modal('hide');
            }
            else {
                // if we don't want to close the modal, we know we want to empty the form
                $('#createNewRoomDialogForm').trigger("reset");
            }
        })
    }
</script>
{% endblock %}