{% extends "common/meta_base.html" %}
{% load static i18n %}

{% block section_title_block %}
    {{ object.name }}
{% endblock %}

{% block beneath_breadcrumbs_block %}
    <a class="btn wb-btn-main"
        href="{% url 'arrangement:location_delete' object.slug %}">
        <i class="fa fa-trash"></i>&nbsp; Slett
    </a>
    <a class="btn wb-btn-main"
        href="{% url 'arrangement:location_edit' object.slug %}">
        <i class="fa fa-edit"></i>&nbsp; Rediger
    </a>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs webook-tabs">
    <!-- Information/General -->
    <li class="nav-item" role="presentation">
        <a  href="#tab-calendar"
            class="nav-link active"
            role="tab"
            data-mdb-toggle="tab">
            <i class="fas fa-calendar"></i>
            Kalender
        </a>
    </li>
    <!-- Rooms -->
    <li class="nav-item" role="presentation">
        <a href="#tab-rooms"
            class="nav-link"
            role="tab"
            data-mdb-toggle="tab">
            <i class="fas fa-table"></i>
            Rom
        </a>
    </li>
</ul>

<div class="tab-content pt-4">
    <div class="tab-pane fade show active" id="tab-calendar" role="tabpanel">
        <div id="location_calendar" class="mb-4"></div>
    </div>
    <div class="tab-pane fade" id="tab-rooms" role="tabpanel">
        <span id="roomsTableLoaderWrapper">
        </span>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#roomsTableLoaderWrapper').load('{% url "arrangement:locationroomlist" object.id %}?location={{object.id }}')
        renderLocationCalendar();
    });

    const tabEl = document.querySelector('a[href="#tab-calendar"]');
    tabEl.addEventListener('shown.mdb.tab', (event) => {
        // Render calendar when tab is shown, due to possible issues that may occur after pagination on rooms table
        // Causes rendering issues - not sure why, but it is a recurrent issue with fullcalendar and tabs
        console.log('Tab shown')
        renderLocationCalendar(); 
    })

    function renderLocationCalendar() {
        var calendarEl = document.getElementById('location_calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            schedulerLicenseKey: '{{ FULLCALENDAR_LICENSE_KEY }}',
            initialView: 'resourceTimelineWeek',
            height: 600,
            navLinks:true,
            locale: 'nb',

            events: async function () {
                return await fetch('{% url "arrangement:events_on_location_source" %}?location={{ object.slug }}')
                    .then(response => response.json())
            },

            resources: async function () {
                return await fetch('{% url "arrangement:rooms_on_location_resource_source" %}?location={{ object.slug }}')
                    .then(response => response.json())
            }
        });
        calendar.render();
    }

</script>
{% endblock %}
