{% extends "common/meta_base.html" %}
{% load static i18n %}

{% block noheader %} {%endblock %}

{% block section_title_block %}
    <!-- {{ object.name }} -->
{% endblock %}

{% block beneath_breadcrumbs_block %}
{% endblock %}

{% block content %}

{% include "arrangement/vue/dialog-component.html" %}

{% include "arrangement/location/delete-location-dialog.html" %}
{% include "arrangement/room/edit-room-dialog.html" %}
{% include "arrangement/location/location-list-popover.html" %}
{% include "arrangement/vue/month_select_component.html" %}
{% include "arrangement/vue/year_select_component.html" %}
{% include "arrangement/location/edit-location-dialog.html" %}
{% include "arrangement/event/event-info-popover.html" %}
{% include "arrangement/room/room-info-dialog.html" %}


<div id="locationsDetailApp">

    <div ref="container">

    </div>

    <delete-location-dialog-component ref="deleteLocationDialog">
    </delete-location-dialog-component>

    <edit-room-dialog-component ref="editRoomDialog"
        @updated="refreshRooms()">
    </edit-room-dialog-component>

    <edit-location-dialog-component ref="editLocationDialog">
    </edit-location-dialog-component>

    <event-info-popover-component
        :is-visible="eventPopoverIsExpanded"
        ref="eventPopover" style="z-index: 1000000001;"
        :event-id="focusedEventId"
        style="width: 12.5em">

    </event-info-popover-component>


    <room-info-dialog-component ref="roomInfoDialog">
    </room-info-dialog-component>


    <div class="d-flex justify-content-between align-items-end mb-3">    
        <div class="d-flex align-items-end">
            <div class="w-100">
                <button class="btn wb-btn-secondary mb-3" onclick="location.href = '/arrangement/location/list'">
                    <i class="fas fa-arrow-left"></i>
                    Tilbake til oversikt
                </button>
                <div class="d-flex input-group input-group-lg">
                    <label for="" class="fw-bold input-group-text">År</label>

                    <year-select-component :classes="['form-control', 'form-control-lg']" style="height: 100%;" v-model="year">
                    </year-select-component>
                </div>
            </div>

            <div class="input-group input-group-lg ms-2">
                <label for="" class="fw-bold input-group-text">Måned</label>

                <month-select-component
                    :classes="[ 'form-control', 'form-control-lg' ]" v-model="month">
                </month-select-component>
            </div>

            <div class="ms-3">
                <div class="btn-group wb-btn-white shadow-0">
                    <button class="btn border-1 wb-large-btn wb-btn-white shadow-0" @click="oneIntervalBack()" id="planner__moveBackOneIntervalButton">
                        <h5 class="mb-0"> <i class="fas fa-angle-left"></i> </h5>
                    </button>
                    <button class="btn border-1 wb-large-btn wb-btn-white shadow-0" @click="oneIntervalForward()"
                        id="planner__moveForwardOneIntervalButton">
                        <h5 class="mb-0"> <i class="fas fa-angle-right"></i> </h5>
                    </button>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-center">
                {{object.name}}
                <location-list-popover-component v-model="locationSlug">
                </location-list-popover-component>
            </h3>
            <div class="border wb-bg-secondary text-center ps-4 pe-4 border-dark border-1 rounded-2 p-2 mb-2 d-flex justify-content-between">
                <div>
                    <div class="fw-bold">Totalt: </div> [[ rooms.length ]]
                </div>
                <div>
                    <div class="fw-bold">Ledige: </div> [[ noOfAvailableRooms ]]
                </div>
                <div>
                    <div class="fw-bold">Opptatte: </div> [[ noOfUnavailableRooms ]]
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div>
                    <button class="btn wb-btn-main me-1" @click="deleteLocation()">
                        <i class="fas fa-trash"></i>
                    </button>
                    <button class="btn wb-btn-main ms-1" @click="editLocation()">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>
            </div>

        </div>

        <div>
            <div class="d-flex align-items-end justify-content-end">    
                <button class="btn wb-btn-main ms-2" @click="newRoom()">
                    <i class="fas fa-plus"></i>
                    Nytt rom
                </button>
            </div>


            <div class="d-flex mt-2 align-items-end">

                <div class="input-group input-group-lg">
                    <span class="input-group-text fw-bold" id="inputGroup-sizing-lg">
                        <i class="fas fa-filter"></i>&nbsp;
                        Ledighet
                    </span>
                    <select name="" id="" class="form-control form-control-lg" v-model="roomStatusFilter">
                        <option value="inactive">
                            Alle statuser
                        </option>
                        <option value="showBusy">
                            Bare opptatte rom
                        </option>
                        <option value="showFree">
                            Bare ledige rom
                        </option>
                    </select>
                </div>
                
                <div class="ms-4 input-group input-group-lg">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="search" name="" placeholder="Søk etter rom..." class="form-control form-control-lg" v-model="roomsSearchTerm">
                </div>
            </div>
        </div>
    </div>

    <div id="location_calendar" class="mb-4"></div>
</div>


<script>
    const colorSwatch = [
        "#63b598", "#ce7d78", "#ea9e70", "#a48a9e", "#c6e1e8", "#648177", "#0d5ac1",
        "#f205e6", "#1c0365", "#14a9ad", "#4ca2f9", "#a4e43f", "#d298e2", "#6119d0",
        "#d2737d", "#c0a43c", "#f2510e", "#651be6", "#79806e", "#61da5e", "#cd2f00",
        "#9348af", "#01ac53", "#c5a4fb", "#996635", "#b11573", "#4bb473", "#75d89e",
        "#2f3f94", "#2f7b99", "#da967d", "#34891f", "#b0d87b", "#ca4751", "#7e50a8",
        "#c4d647", "#e0eeb8", "#11dec1", "#289812", "#566ca0", "#ffdbe1", "#2f1179",
        "#935b6d", "#916988", "#513d98", "#aead3a", "#9e6d71", "#4b5bdc", "#0cd36d",
        "#250662", "#cb5bea", "#228916", "#ac3e1b", "#df514a", "#539397", "#880977",
        "#f697c1", "#ba96ce", "#679c9d", "#c6c42c", "#5d2c52", "#48b41b", "#e1cf3b",
        "#5be4f0", "#57c4d8", "#a4d17a", "#be608b", "#96b00c", "#088baf", "#f158bf",
        "#e145ba", "#ee91e3", "#05d371", "#5426e0", "#4834d0", "#802234", "#6749e8",
        "#0971f0", "#8fb413", "#b2b4f0", "#c3c89d", "#c9a941", "#41d158", "#fb21a3",
        "#51aed9", "#5bb32d", "#21538e", "#89d534", "#d36647", "#7fb411", "#0023b8",
        "#3b8c2a", "#986b53", "#f50422", "#983f7a", "#ea24a3", "#79352c", "#521250",
        "#c79ed2", "#d6dd92", "#e33e52", "#b2be57", "#fa06ec", "#1bb699", "#6b2e5f",
        "#64820f", "#21538e", "#89d534", "#d36647", "#7fb411", "#0023b8", "#3b8c2a",
        "#986b53", "#f50422", "#983f7a", "#ea24a3", "#79352c", "#521250", "#c79ed2",
        "#d6dd92", "#e33e52", "#b2be57", "#fa06ec", "#1bb699", "#6b2e5f", "#64820f",
        "#9cb64a", "#996c48", "#9ab9b7", "#06e052", "#e3a481", "#0eb621", "#fc458e",
        "#b2db15", "#aa226d", "#792ed8", "#73872a", "#520d3a", "#cefcb8", "#a5b3d9",
        "#7d1d85", "#c4fd57", "#f1ae16", "#8fe22a", "#ef6e3c", "#243eeb", "#dd93fd",
        "#3f8473", "#e7dbce", "#421f79", "#7a3d93", "#635f6d", "#93f2d7", "#9b5c2a",
        "#15b9ee", "#0f5997", "#409188", "#911e20", "#1350ce", "#10e5b1", "#fff4d7",
        "#cb2582", "#ce00be", "#32d5d6", "#608572", "#c79bc2", "#00f87c", "#77772a",
        "#6995ba", "#fc6b57", "#f07815", "#8fd883", "#060e27", "#96e591", "#21d52e",
        "#d00043", "#b47162", "#1ec227", "#4f0f6f", "#1d1d58", "#947002", "#bde052",
        "#e08c56", "#28fcfd", "#36486a", "#d02e29", "#1ae6db", "#3e464c", "#a84a8f",
        "#911e7e", "#3f16d9", "#0f525f", "#ac7c0a", "#b4c086", "#c9d730", "#30cc49",
        "#3d6751", "#fb4c03", "#640fc1", "#62c03e", "#d3493a", "#88aa0b", "#406df9",
        "#615af0", "#2a3434", "#4a543f", "#79bca0", "#a8b8d4", "#00efd4", "#7ad236",
        "#7260d8", "#1deaa7", "#06f43a", "#823c59", "#e3d94c", "#dc1c06", "#f53b2a",
        "#b46238", "#2dfff6", "#a82b89", "#1a8011", "#436a9f", "#1a806a", "#4cf09d",
        "#c188a2", "#67eb4b", "#b308d3", "#fc7e41", "#af3101", "#71b1f4", "#a2f8a5",
        "#e23dd0", "#d3486d", "#00f7f9", "#474893", "#3cec35", "#1c65cb", "#5d1d0c",
        "#2d7d2a", "#ff3420", "#5cdd87", "#a259a4", "#e4ac44", "#1bede6", "#8798a4",
        "#d7790f", "#b2c24f", "#de73c2", "#d70a9c", "#88e9b8", "#c2b0e2", "#86e98f",
        "#ae90e2", "#1a806b", "#436a9e", "#0ec0ff", "#f812b3", "#b17fc9", "#8d6c2f",
        "#d3277a", "#2ca1ae", "#9685eb", "#8a96c6", "#dba2e6", "#76fc1b", "#608fa4",
        "#20f6ba", "#07d7f6", "#dce77a", "#77ecca"
    ]


    $(document).ready(function () {
        let locationsDetailApp = Vue.createApp({
            data() {
                return {
                    roomStatusFilter: 'inactive',
                    roomsSearchTerm: '',
                    eventPopoverIsExpanded: false,
                    isExpanded: false,
                    focusedEventId: null,
                    year: new Date().getFullYear(),
                    month: new Date().getMonth() + 1,
                    selectedRole: 'planners',
                    triggerRef: null,
                    colorByArrangementIds: {},
                    locationSlug: '{{ object.slug }}',
                    calendar: null,
                    availabilityMap: null,
                    rooms: [],
                    events: [],
                }
            },
            components: {
                EditRoomDialogComponent,
                DeleteLocationDialogComponent,
                LocationListPopoverComponent,
                MonthSelectComponent,
                YearSelectComponent,
                EditLocationDialogComponent,
                PopoverComponent,
                EventInfoPopoverComponent,
                RoomInfoDialogComponent
            },
            methods: {
                getVisibleRooms() {

                },
                viewRoom() {
                    this.$refs.roomInfoDialog.open(this);
                },
                newRoom() {
                    this.$refs.editRoomDialog.open(0, {{ object.id }});
                },
                deleteLocation() {
                    this.$refs.deleteLocationDialog.open("{{ object.name }}", "{{ object.slug }}");
                },
                editLocation() {
                    this.$refs.editLocationDialog.open("{{ object.slug }}");
                },
                oneIntervalBack() {
                    //this.calendar.prev();
                    if (this.month === 1) {
                        this.year = this.year - 1;
                        this.month = 12;
                        return;
                    }

                    this.month = this.month - 1;
                },
                oneIntervalForward() {
                    //this.calendar.next();
                    if (this.month === 12) {
                        this.year = this.year + 1;
                        this.month = 1;
                        return;
                    }
                    this.month = this.month + 1;
                },
                async refreshRooms() {
                    await this.getRooms();
                    this.calendar.refetchResources();
                    await this.getAvailability();
                },
                async refreshEvents() {
                    await this.getEvents();
                    this.calendar.refetchEvents();
                },

                async getAvailability() {
                    await fetch('{% url "arrangement:availability_for_location" %}?location={{ object.slug }}')
                        .then(response => response.json())
                        .then(data => {
                            this.availabilityMap = data;
                        });
                },
                async getRooms() {
                    await fetch('{% url "arrangement:rooms_on_location_resource_source" %}?location={{ object.slug }}')
                        .then(response => response.json())
                        .then(data => {
                            console.log("rooms set")
                            this.rooms = data;
                            if (this.roomsSearchTerm && this.roomsSearchTerm.length > 1) {
                                this.rooms = this.rooms.filter(room => room.title.toLowerCase().includes(this.roomsSearchTerm.toLowerCase()));
                            }
                        });
                },
                async getEvents(start, end) {
                    let querystr = '{% url "arrangement:events_on_location_source" %}?location={{ object.slug }}';
                    if (start && end) {
                        querystr += '&start=' + start.toISOString() + '&end=' + end.toISOString();
                    }

                    await fetch(querystr)
                        .then(response => response.json())
                        .then(data => {
                            this.events = data;
                        });
                }
            },
            watch: {
                locationSlug() {
                    this.calendar.refetchResources();
                    this.calendar.refetchEvents();
                },
                year() {
                    this.calendar.gotoDate(this.year + '-' + String(this.month).padStart(2, "0") + '-01');
                },
                roomsSearchTerm() {
                    this.calendar.refetchResources();
                },
                roomStatusFilter() {
                    this.calendar.refetchResources();
                },
                month() {
                    this.calendar.gotoDate(this.year + '-' + String(this.month).padStart(2, "0")  + '-01');
                },
            },
            computed: {
                noOfAvailableRooms() {
                    if (!this.availabilityMap) {
                        return 0;
                    }
                    return Object.values(this.availabilityMap).filter(v => v).length;
                },
                noOfUnavailableRooms() {
                    if (!this.availabilityMap) {
                        return 0;
                    }
                    return Object.values(this.availabilityMap).filter(v => !v).length;
                },
            },
            mounted: async function () {
                await this.getRooms();
                await this.getAvailability();

                var calendarEl = document.getElementById('location_calendar');
                this.calendar = new FullCalendar.Calendar(calendarEl, {
                    schedulerLicenseKey: '{{ FULLCALENDAR_LICENSE_KEY }}',
                    initialView: 'resourceTimelineMonth',
                    navLinks: false,
                    nowIndicator: true,

                    headerToolbar: false,
                    locale: 'nb',

                    eventMouseEnter: function (arg) {
                        const getTime = (date) => {
                            return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                        }

                        console.log("event", arg.event.extendedProps)
                        let rooms = arg.event.extendedProps.room_slugs.split(",").join(', ');

                        $(arg.el).popover({
                            content: "<span class='fw-bold'>" + arg.event.title + '</span><br><i class="fas fa-clock"></i>&nbsp; ' + getTime(arg.event.start) + ' - ' + getTime(arg.event.end) + "<br><i class='fas fa-map-marker-alt'></i>&nbsp; " + rooms,
                            animation: true,
                            html: true,
                            trigger: 'manual',
                        });
                        $(arg.el).popover('show');

                    }.bind(this),
                    eventMouseLeave: function (arg) {
                        $(arg.el).popover('hide');

                    }.bind(this),
        
                    resourceLabelContent: function(arg) {
                        let nodes = [];
        
                        let isAvailable = this.availabilityMap[arg.resource.id];

                        let wrapperNode = document.createElement('div');
                        wrapperNode.classList.add('d-flex', 'align-items-center', "justify-content-between");
        
                        let leftSection = document.createElement('div');
                        leftSection.classList.add('me-2', "d-flex", "align-items-center");
        
                        let textSection = document.createElement('div');
        
                        let centerSection = document.createElement('div');
                        centerSection.innerHTML = "<small><i>(Eksklusiv)</i></small>"

                        let rightSection = document.createElement('div');
                        rightSection.classList.add('text-muted');
        
                        let availableCircle = document.createElement('div');
                        availableCircle.classList.add(isAvailable ? 'success-circle' : 'danger-circle', 'me-2', 'd-inline-block');
        
                        let titleNode = document.createElement('div');
                        titleNode.classList.add('fw-bold');
                        titleNode.innerText = arg.resource.title;
        
                        let capacityNode = document.createElement('div');
                        capacityNode.classList.add('text-muted');
                        capacityNode.innerText = arg.resource.extendedProps.max_capacity + ' plasser';

                        let exclusiveNode = document.createElement('div');
                        exclusiveNode.classList.add('text-muted', 'small');
                        let html = "";
                        if (arg.resource.extendedProps.is_exclusive)
                            exclusiveNode.innerHTML = '<strong>(* Eksklusiv)</strong>';
                        if (arg.resource.extendedProps.has_screen)
                        {
                            if (arg.resource.extendedProps.is_exclusive) {
                                exclusiveNode.innerHTML += '<span class="ms-3" />';
                            }
                            exclusiveNode.innerHTML += '<i class="fas fa-tv"></i> <span>Har skjerm</span>';
                        }

                        let openButton = document.createElement('button');
                        openButton.classList.add('btn', 'btn-outline-dark','shadow-0', "float-end", "me-2");
                        openButton.innerHTML = '<i class="fas fa-eye"></i>';
                        openButton.addEventListener('click', function() {
                            console.log(arg);
                            this.$refs.roomInfoDialog.open(arg.resource.id, this.calendar.getDate(), this.colorByArrangementIds);
                        }.bind(this));
                        rightSection.appendChild(openButton);

                        let editButton = document.createElement('button');
                        editButton.classList.add('btn', 'btn-outline-dark','shadow-0', "float-end");
                        editButton.innerHTML = '<i class="fas fa-edit"></i>';
                        editButton.addEventListener('click', function() {
                            console.log(arg);
                            this.$refs.editRoomDialog.open(arg.resource.id);
                        }.bind(this));
                        rightSection.appendChild(editButton);
        
                        leftSection.appendChild(availableCircle);
                        textSection.appendChild(titleNode);
                        textSection.appendChild(capacityNode)
                        textSection.appendChild(exclusiveNode)
                        leftSection.appendChild(textSection);
        
                        wrapperNode.appendChild(leftSection);
                        wrapperNode.appendChild(rightSection);
        
                        nodes.push(wrapperNode)
        
                        return { domNodes: nodes };
                    }.bind(this),
        
                    events: async function (a) {
                        await this.getEvents(a.start, a.end);

                        console.log("getEvents", a.start, a.end);

                        const arrangementIds = this.events.map((event) => event.arrangement_id);
                        let swatchCursor = 0;

                        this.events.forEach((event) => {
                            if (!(event.arrangement_id in this.colorByArrangementIds)) {
                                this.colorByArrangementIds[event.arrangement_id] = colorSwatch[swatchCursor];
                                swatchCursor++;
                            }
                            event.borderColor = this.colorByArrangementIds[event.arrangement_id];
                            event.backgroundColor = this.colorByArrangementIds[event.arrangement_id];
                        })

                        return this.events;
                    }.bind(this),
        
                    resources: async function () {

                        let rooms = this.rooms;
                        if (this.roomsSearchTerm && this.roomsSearchTerm.length > 1) {
                            // debounce
                            rooms = rooms.filter(room => room.title.toLowerCase().includes(this.roomsSearchTerm.toLowerCase()));
                        }
                        if (this.roomStatusFilter === 'showBusy') {
                            rooms = rooms.filter(room => !this.availabilityMap[room.id]);
                        }
                        if (this.roomStatusFilter === 'showFree') {
                            rooms = rooms.filter(room => this.availabilityMap[room.id]);
                        }
                        
                        console.log("getResources", rooms);
                        return rooms;
                    }.bind(this),
                });
                this.calendar.render();
            },
            delimiters: ['[[', ']]'],
        });

        locationsDetailApp.mount('#locationsDetailApp')
    })

</script>
{% endblock %}
