{% load static i18n %}


<template id="vuec-calendar">
    <div ref="popover" :is-visible="false" style="display: none;">
        <span class="fw-bold">
            [[ hoveredEvent.title ]]
        </span>
        <br>
        <i class="fas fa-clock"></i>&nbsp; [[ getTime(hoveredEvent.start) ]] - [[ getTime(hoveredEvent.end) ]]
    </div>

    <div ref="calendar" :id="autoId">
    </div>
</template>


<script>

    let CalendarComponent = {
        components: {
        },
        data() {
            return {
                autoId: Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15),
                calendar: null,
                hoveredEvent: {
                    title: null,
                    start: null,
                    end: null,
                },
            }
        },
        props: {
            startDate: Date,
            view: String,
            locale: String,
            height: String,
            showHeader: Boolean,
            headerToolbar: Boolean,
            eventContent: Function,
            eventSource: Function,
            navLinks: Boolean,
            weekNumbers: Boolean,
            contextMenuItems: Array,
            onEventClick: Function,
        },
        methods: {
            getTime(date) {
                if (date === undefined || date === null)
                    return "";
                return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
            },
            render() {
                if (this.calendar)
                    this.calendar.render();
                else
                    this.initCalendar();
            },
            initCalendar() {
                this.$nextTick(() => {
                    if (this.$refs.calendar === undefined) {
                       this.initCalendar();
                       return;
                    }
                    else {
                        console.log("calendar is defined");
                        console.log(this.$refs.calendar);
                    }

                    this.calendar = new FullCalendar.Calendar(this.$refs.calendar, {
                        eventMouseEnter: function (arg) {
                            
                            this.hoveredEvent = arg.event;
                                                       
                            this.$nextTick(() => {
                                $(arg.el).popover({
                                    content: this.$refs.popover.innerHTML,
                                    animation: true,
                                    container: this.$refs.calendar,
                                    html: true,
                                    trigger: 'manual',
                                });
                                $(arg.el).popover('show');
                            });
                        }.bind(this),
                        eventMouseLeave: function (arg) {
                            $(arg.el).popover('hide');
                        }.bind(this),
                        eventDidMount: function (arg) {

                        }.bind(this),
                        schedulerLicenseKey: "{{ FULLCALENDAR_LICENSE_KEY }}",
                        initialView: this.view || "dayGridMonth",
                        initialDate: this.startDate || new Date(),
                        height: this.height || "auto",
                        navLinks: this.navLinks || true,
                        scrollTime: "06:00:00",
                        locale: this.locale || "nb",
                        headerToolbar: this.headerToolbar || true,
                        events: this.eventSource || [],
                        weekNumbers: this.weekNumbers || false,
                        eventClick: this.onEventClick || null,
                    })
                    this.calendar.render();
                })
            },
            openNavigateToDateSwal() {
                Swal.fire({
                    title: 'Gå til dato',
                    html: "<input type='date' id='swalGoToDate' class='form-control'></input>",
                    showCancelButton: true,
                    confirmButtonText: 'Gå til dato',
                    cancelButtonText: 'Avbryt',
                }).then((result) => {
                    if (result.isConfirmed) {
                        let date = new Date(document.getElementById('swalGoToDate').value);
                        this.gotoDate(date);
                    }
                })
            },
            today() {
                this.calendar.today();
            },
            gotoDate(date) {
                this.calendar.gotoDate(date);
            },
            getDate() {
                return this.calendar.getDate();
            },
            next() {
                this.calendar.next();
                this.$emit('dateChanged', this.calendar.getDate());
            },
            prev() {
                this.calendar.prev();
                this.$emit('dateChanged', this.calendar.getDate());
            },
            addEventSource(source) {
                this.calendar.addEventSource(source);
                console.log("addEventSource", source)
                //this.render();
                console.log("events in fc", this.calendar.getEvents());
                this.calendar.refetchEvents();
            },
            removeAllEventSources() {
                this.calendar.getEventSources().forEach(function (source) {
                    source.remove();
                });
            },
        },
        emits: ['dateChanged'],
        mounted() {
            this.initCalendar(); 

            if (this.contextMenuItems) {
                $.contextMenu({
                    className: "",
                    selector: "#" + this.autoId + " .fc-event",
                    items: this.contextMenuItems
                });
            }
        },
        delimiters: ["[[", "]]"],
        template: "#vuec-calendar",
    }

</script>