{% include "arrangement/vue/month_select_component.html" %}
{% include "arrangement/vue/year_select_component.html" %}

<template id="vuec-month-calendar-template">

    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <div class="input-group input-group-lg w-100">
                <span class="input-group-text fw-bold">
                    År
                </span>

                <year-select-component class="form-control form-control-lg" v-model="year">
                </year-select-component>
            </div>

            <div class="input-group input-group-lg ms-3">
                <span class="input-group-text fw-bold">
                    Måned
                </span>

                <month-select-component class="form-control form-control-lg" v-model="month">
                </month-select-component>
            </div>
        </div>
        
        <div class="btn-group shadow-0">
            <button class="btn border-1 wb-large-btn wb-btn-white shadow-0" @click="move('back')">
                <h5 class="mb-0"> <i class="fas fa-angle-left"></i> </h5>
            </button>
            <button class="btn border-1 wb-large-btn wb-btn-white shadow-0" @click="move('forward')">
                <h5 class="mb-0"> <i class="fas fa-angle-right"></i> </h5>
            </button>
        </div>
    </div>

    <calendar-component
        ref="calendar"
        view="dayGridMonth"
        :event-source="eventSource">
    </calendar-component>
</template>

<script>
    let MonthCalendarComponent = {
        components: { CalendarComponent, MonthSelectComponent, YearSelectComponent },
        data: function() {
            return {
                month: new Date().getMonth() + 1,
                year: new Date().getFullYear(),
            }
        },
        methods: {
            move(direction) {
                if (direction === "back") {
                    this.$refs.calendar.calendar.prev();
                    return;
                }

                this.$refs.calendar.calendar.next();
            },
        },
        props: {
            eventSource: Function
        },
        template: "#vuec-month-calendar-template",
        delimiters: ["[[", "]]"],
    }
</script>