.btn-webook {
    background-color: #231f20;
    color:white;
    border-radius: 0.5em;
    box-shadow: none;
    font-size: medium;
    text-transform: none;
    padding: .5rem 1.5rem .5rem;
}

.btn-webook:hover {
    color:white;
}

.webook-tabs {
    border-bottom: solid 1px grey;
}

.webook-tabs .nav-link {
    font-size:large;
    color: var(--WEAK-TEXT-COLOR);
    text-transform: none;
}

.webook-tabs > .nav-item > .nav-link.active {
    color: var(--ACTIVE-TEXT-COLOR);
    border-bottom: solid 3.2px var(--ACTIVE-TEXT-COLOR);
}

.webook-tabs > .nav-item > .nav-link:hover {
    color: black;
    border-color: black;
    background-color: white;
}

.sidenav-primary .sidenav-link.active {
    color: #231f20;
    /* border: solid 0.1em #3f3a3b; */
    border-color: #231f20;
    background-color: white;
}

.sidenav-primary .sidenav-link:hover {
    color: #231f20!important;
    border-color: #231f20!important;
    background-color: white!important;
}

div.dt-buttons.btn-group {
    box-shadow: none;
    margin-bottom: 0.4em;
}