{% extends "arrangement/list_view.html" %}
{% load static i18n %}



{% block content %}

<h4 class="fw-bold"><i class="fas fa-list" aria-hidden="true"></i>&nbsp; All People</h4>
<a class="btn btn-success mt-2 mb-2 btn-sm"
    href="{% url 'arrangement:person_create' %}">
    <i class="fas fa-plus"></i>&nbsp; New Person
</a>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <td class="h6">
                <i class="fas fa-user"></i>
                <span>Person</span>
            </td>
            <td class="h6">
                <i class="fas fa-cog"></i>
                <span>Options</span>
            </td>
        </tr>
    </thead>

    <tbody>
        {% for item in object_list %}
            <tr>
                <td>
                    {{ item.full_name }}
                </td>

                <td>
                    <a class="btn btn-sm btn-info"
                        href="{% url 'arrangement:person_detail' item.slug %}">

                        <i class="fa fa-eye"></i>
                        Open
                    </a>
                    <a class="btn btn-sm btn-success"
                        href="{% url 'arrangement:person_edit' item.slug %}">

                        <i class="fa fa-edit"></i>
                        Edit
                    </a>
                    <a class="btn btn-sm btn-danger"
                            href="{% url 'arrangement:person_delete' item.slug %}">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}