{% load static i18n %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <h4>{% trans "Are you sure?" %}</h4>
        <h5>
            {% trans "Are you sure you want to delete" %} <i>'{{ ENTITY_NAME }}'</i> ?<br>
            {% trans "This action can not be reversed." %}
        </h5>
        <a class="btn wb-btn-secondary cancel-button" href="{{ RETURN_URL }}"><i class="fas fa-times"></i>&nbsp; {% trans "Cancel" %}</a>
        <button class="btn wb-btn-main float-end" type="submit"><i class="fas fa-trash"></i>&nbsp; {% trans "Delete" %}</button>
    </form>
{% endblock %}