{% extends "arrangement/organization/organization_section_base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "Organizations" %}
{% endblock %}

{% block section_subtitle %}
    {% trans "All Organizations" %}
{% endblock %}

{% block current_crumb_title %}
    <i class="fas fa-list"></i>&nbsp; {% trans "All Organizations" %}
{% endblock %}

{% block content %}

<h4 class="fw-bold"><i class="fas fa-list" aria-hidden="true"></i>&nbsp; {% trans "All Organizations" %}</h4>
<a class="btn btn-sm btn-success mt-2 mb-2"
    href="{% url 'arrangement:organization_create' %}">
    <i class="fas fa-plus"></i>&nbsp; {% trans "New Organization" %}
</a>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <td class="h6">
                <i class="fas fa-dollar-sign"></i>
                <span>{% trans "Organization" %}</span>
            </td>
            <td class="h6">
                <i class="fas fa-cog"></i>
                <span>{% trans "Options" %}</span>
            </td>
        </tr>
    </thead>

    <tbody>
        {% for item in object_list %}
            <tr>
                <td>
                    {{ item.name }}
                </td>

                <td>
                    <a class="btn btn-sm btn-info"
                        href="{% url 'arrangement:organization_detail' item.slug %}">

                        <i class="fa fa-eye"></i>
                        {% trans "Open" %}
                    </a>
                    <a class="btn btn-sm btn-success"
                        href="{% url 'arrangement:organization_edit' item.slug %}">

                        <i class="fa fa-edit"></i>
                        {% trans "Edit" %}
                    </a>
                    <a class="btn btn-sm btn-danger"
                        href="{% url 'arrangement:organization_delete' item.slug %}">
                        <i class="fa fa-trash"></i>
                        {% trans "Delete" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <td colspan="2">
            <em class="float-end">{{ object_list|length }} {% trans "elements" %}</em>
        </td>
    </tfoot>
</table>

{% endblock %}