{% extends "arrangement/crumb_base.html" %}
{% load static i18n %}

{% block content %}

<h4 class="fw-bold"><i class="fas fa-list" aria-hidden="true"></i>&nbsp; {% trans "All Arrangements" %}</h4>
<a class="btn btn mt-2 mb-2 btn-success btn-sm"
    href="{% url 'arrangement:arrangement_create' %}">
    <i class="fas fa-plus"></i>&nbsp; {% trans "New arrangement" %}
</a>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <td class="h6">
                <i class="fas fa-clock"></i>
                <span>{% trans "Arrangement" %}</span>
            </td>
            <td class="h6">
                <i class="fas fa-cog"></i>
                <span>{% trans "Options" %}</span>
            </td>
        </tr>
    </thead>

    <tbody>
        {% for item in object_list %}
            <tr>
                <td>
                    {{ item.name }}
                </td>

                <td>
                    <a class="btn btn-sm btn-info"
                        href="{% url 'arrangement:arrangement_detail' item.slug %}">

                        <i class="fa fa-eye"></i>
                        {% trans "Open" %}
                    </a>
                    <a class="btn btn-sm btn-success"
                        href="{% url 'arrangement:arrangement_edit' item.slug %}">

                        <i class="fa fa-edit"></i>
                        {% trans "Edit" %}
                    </a>
                    <a class="btn btn-sm btn-danger"
                            href="{% url 'arrangement:arrangement_delete' item.slug %}">
                        <i class="fa fa-trash"></i>
                        {% trans "Delete" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    
    <tfoot>
        <td colspan="2">
            <em class="float-end">{{ object_list|length }} {% trans "elements" %}</em>
        </td>
    </tfoot>
</table>

{% endblock %}