{% extends "arrangement/meta_base.html" %}
{% load static i18n %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <h3>{% trans "Are you sure?" %}</h3>
        <h5>
            {% trans "Are you sure you want to delete" %} <i>'{{ ENTITY_NAME }}'</i> ?<br>
            {% trans "This action can not be reversed." %}
        </h5>
        <a class="btn btn-webook" href="{{ RETURN_URL }}"><i class="fas fa-times"></i>&nbsp; {% trans "Cancel" %}</a>
        <button class="btn btn-webook" type="submit"><i class="fas fa-trash"></i>&nbsp; {% trans "Delete" %}</button>
    </form>
{% endblock %}