<div id="addPlannerDialog" title="Add planners">
    <div>
        <div>
            <select id="addPlannersDialog_plannersSelect" multiple
                class="form-control">
                {% for person in people %}
                    {% if person.is_already_planner == True %}
                        <option value="{{person.pk}}" disabled>{{person}}</option>
                    {% else %}
                        <option value="{{person.pk}}">{{person}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="clearfix">
            <label class="text-muted small float-end">Føringer i grå er personer som allerede er planleggere.</label>
        </div>
        
        <div class="clearfix mt-2">
            <div class="float-end">
                <a href="#" class="btn wb-btn-secondary btn-lg"
                    onclick="window.dialogApi.close('arrangementInspector', 'addPlannerDialog')">
                    <i class="fas fa-times"></i>
                    Avbryt
                </a>
                <a
                    type="button"
                    class="btn wb-btn-main float-end"
                    onclick="addPlannerDialog__addPlanners()">
                    <i class="fas fa-check"></i>
                    Legg til valgte planleggere
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    function addPlannerDialog__addPlanners() {
        let $dialog = $('#addPlannerDialog');

        let planners = $dialog.find('#addPlannersDialog_plannersSelect').val().join(",");
        let formData = new FormData()
        formData.append("planner_ids", planners);
        formData.append("arrangement_slug", "{{arrangement.slug}}")

        fetch('{% url "arrangement:arrangement_add_planners_form" %}', {
            method: 'POST',
            body: formData,
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            }
        }).then(_ => {
            document.dispatchEvent(
                new CustomEvent("arrangementInspector.hasBeenUpdated", {'detail': {
                    dialog: "addPlannerDialog",
                }})
            )
        })
    }
</script>