{% load static i18n %}


<div id="mainDialog" title="{{object.name}}">

    <div id="tabs">
        <ul>
            <li>
                <a href="#tabs-1">
                    <i class="fas fa-info-circle"></i>&nbsp; 
                    Informasjon
                </a>
            </li>
            <li>
                <a href="#tabs-2">
                    <i class="fas fa-calendar"></i>&nbsp; 
                    Tidspunkter
                </a>
            </li>
            <li>
                <a href="#tabs-3">
                    <i class="fas fa-comment"></i>&nbsp; 
                    Notater
                </a>
            </li>
            <li>
                <a href="#tabs-4">
                    <i class="fas fa-receipt"></i>&nbsp; 
                    Kvitteringer
                </a>
            </li>
            <li>
                <a href="#tabs-5">
                    <i class="fas fa-file"></i>&nbsp; 
                    Filer
                </a>
            </li>
        </ul>
        <div id="tabs-1">
            <table class='table table-sm'>
                <tbody>
                    <tr>
                        <td colspan='2'>
                            <strong>Navn:</strong>
                            <input type="text"
                                class="form-control"
                                id="{{ form.name.id_for_label }}" 
                                value="{{ form.name.value|default:'' }}"
                                name="{{ form.name.name }}"
                                placeholder="{% trans 'Name of the arrangement' %}..."/>
                            <br>
                            <strong class="mt-3">Navn (<em class="small">Engelsk</em>):</strong>
                            <input type="text"
                                class="form-control"
                                id="{{ form.name_en.id_for_label }}" 
                                value="{{ form.name_en.value|default:'' }}"
                                name="{{ form.name_en.name }}"
                                placeholder="{% trans 'Name of the arrangement (in english)' %}..."/>

                            {% if form.name.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.name_en.errors }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td colspan='2'>
                            <strong>Målgruppe:</strong>
                            {{ form.audience }}

                            {% if form.audience.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.audience.errors }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <strong>Lokasjon</strong>
                            {{ form.location }}

                            {% if form.location.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.location.errors }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2'>
                            <strong>Arrangementstype:</strong>
                            {{ form.arrangement_type }}
                            
                            {% if form.arrangement_type.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.arrangement_type.errors }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2'>
                            <strong>Billettkode:</strong>
                            <input type="text"
                                class="form-control"
                                id="{{ form.ticket_code.id_for_label }}" 
                                value="{{ form.ticket_code.value|default:'' }}"
                                name="{{ form.ticket_code.name }}"
                                placeholder="{% trans 'Ticket code' %}..."/>
                            
                            {% if form.ticket_code.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.ticket_code.errors }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2'>
                            <strong>Møtested:</strong>
                            <input type="text"
                                class="form-control"
                                id="{{ form.meeting_place.id_for_label }}" 
                                value="{{ form.meeting_place.value|default:'' }}"
                                name="{{ form.meeting_place.name }}"
                                placeholder="{% trans 'Meeting place' %}..."/>
                            
                            {% if form.meeting_place.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.meeting_place.errors }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2'>
                            <strong>Forventet antall besøkende:</strong>
                            <input type="number"
                                min="0"
                                class="form-control"
                                id="{{ form.expected_visitors.id_for_label }}" 
                                value="{{ form.expected_visitors.value|default:'' }}"
                                name="{{ form.expected_visitors.name }}"
                                placeholder="{% trans 'Forventet antall besøkende' %}..."/>
                            
                            {% if form.expected_visitors.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.expected_visitors.errors }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2'>
                            <strong>Faktisk antall besøkende:</strong>
                            <input type="number"
                                min="0"
                                class="form-control"
                                id="{{ form.actual_visitors.id_for_label }}" 
                                value="{{ form.actual_visitors.value|default:'' }}"
                                name="{{ form.actual_visitors.name }}"
                                placeholder="{% trans 'Faktisk antall besøkende' %}..."/>
                            
                            {% if form.actual_visitors.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.actual_visitors.errors }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            <span class='fw-bolder'>Hovedplanlegger:</span> <em>{{ object.responsible.full_name }}</em> <a href='#' id="mainPlannerDialog__promotePlannerBtn" class='text-primary'>(Endre...)</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Planleggere:</strong><br>
                            <select multiple id="mainPlannerDialog_plannersSelect">
                                <option value="MAIN" data-toggle="tooltip" title="Hovedplanlegger" disabled>{{object.responsible}}</option>
                                {% for planner in object.planners.all %}
                                    <option value="{{planner.pk}}">{{planner}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                        <div>
                        <a href='#' class='shadow-0 text-white btn btn-success btn-block mb-2 btn-sm' id='mainDialog__addPlannerBtn'>
                            <i class='fas fa-plus'></i>
                            Legg til planlegger
                        </a>
                    </div>
                    <div>
                        <a href='#' class='shadow-0 text-white btn btn-danger btn-block btn-sm' id='mainDialog_removePlannerBtn'
                            onclick="mainPlannerDialog__removePlanners()">
                            <i class='fas fa-trash'></i>
                            Fjern valgte
                        </a>
                    </div>
                    <div>
                    </div>
                </td>

                    </tr>
                    <tr>
                        <th colspan='2'>
                            <div class="form-check form-switch">
                                {% if object.show_on_multimedia_screen %}
                                    <input class="form-check-input" type="checkbox" role="switch" id="showInMultimediaGuide" checked />
                                {% else %}
                                    <input class="form-check-input" type="checkbox" role="switch" id="showInMultimediaGuide" />
                                {% endif %}
                                <label class="form-check-label" for="flexSwitchCheckChecked">Vises i multimedia guide</label>
                            </div>
                        </th>
                        <!-- <th>
                            <div>{{form.display_layouts}}</div>
                        </th> -->
                    </tr>
                    <tr>
                        <td colspan='3'>
                            <button class=" btn btn-sm shadow-0 btn-success btn-block"
                                    type="button"
                                    onclick="mainPlannerDialog__updateArrangementInfo()">
                                <!-- <i class='fas fa-check'></i> -->
                                Lagre endringer
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        {{ form.errors }}

        </div>
        <div id="tabs-2">
            <div class="table-responsive" style="max-height: 480px;">
                <table class='table table-striped'>
                    <div class="btn-group margin-auto shadow-0">
                        <button class='shadow-0 text-white btn btn-sm btn-success' id='mainPlannerDialog__newTimePlan'><i class='fas fa-plus'></i>&nbsp; Ny tidsplan</button>
                        <!-- &nbsp;|&nbsp; -->
                        <!-- <button class='shadow-0 text-white btn btn-sm btn-success' id='mainPlannerDialog__newSimpleActivity'><i class='fas fa-plus'></i>&nbsp; Ny enkel aktivitet</button> -->
                    </div>
                    <hr>
                    <!-- &nbsp;|&nbsp;
                    <a href='#' class='text-primary' id='mainPlannerDialog__showInCalendarForm'><i class='fas fa-calendar'></i>&nbsp; Vis i kalenderform</a> -->
                    <thead>
                        {% for set in sets  %}
                        <tr>
                            <th>
                                <div>
                                    <h6 class="fw-bolder">  
                                        <!-- <i class="fas fa-chevron-down"></i> -->
                                        Tidsplan: <em>{{ set.title }}</em>
                                    </h6>
                                    <div>
                                        <button type="button" class="btn btn-sm btn-success text-white shadow-0 orderRoomBtn" value="{{set.guid}}">Bestill rom</button> 
                                        <button type="button" class="btn btn-sm btn-success text-white shadow-0 orderPersonBtn" value="{{set.guid}}">Bestill person</button> 
                                    </div>
                                </div>
                                <hr>
                                <table class="table table-sm">
                                    {% for event in set.events %}
                                    <tr>
                                        <td>
                                            <h5>
                                                <em>({{event.start}} - {{event.end}})</em>
                                                {{event.title}}
                                            </h5>
                                            
                                            <div class="btn-group shadow-0">
                                                <button href="#" class="orderRoomForSingleEventBtn btn btn-sm btn-outline-success" value="{{event.pk}}">
                                                    Legg til rom
                                                </button>
                                                <button href="#" class="orderPersonForSingleEventBtn btn btn-sm btn-outline-success" value="{{event.pk}}">
                                                    Legg til personer
                                                </button>
                                            </div>

                                            <div class="mt-2 fw-bolder"><strong>Rom: </strong></div>
                                            <ul>
                                                {% for room in event.rooms.all %}
                                                    <li>{{room}} 
                                                        <a href="#" class="text-danger">
                                                            <i class="fas fa-trash" data-mdb-toggle="tooltip" title="Fjern dette rommet fra aktiviteten"
                                                                onclick="mainPlannerDialog__removeRoomFromEvent('{{event.pk}}', '{{room.pk}}')"></i>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                            <div class="mt-2 fw-bolder"><strong>Personer: </strong></div>
                                            <ul>
                                                {% for person in event.people.all %}
                                                    <li>{{person}} 
                                                        <a href="#" class="text-danger">
                                                            <i class="fas fa-trash" data-mdb-toggle="tooltip" title="Fjern denne personen fra aktiviteten"
                                                                onclick="mainPlannerDialog__removePersonFromEvent('{{event.pk}}', '{{person.pk}}')"></i>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </th>
                            
                        </tr>
                        {% endfor %}
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="tabs-3">
            <div class="clearfix">
                <button class="text-white btn btn-sm btn-success shadow-0 mb-2 float-end" id="mainPlannerDialog__newNoteBtn">Nytt notat</button>
            </div>

            {% for note in object.notes.all %}
                <div class="border bg-light p-2">
                    {{note.content}}

                    <div class="clearfix">
                        <em class="text-muted small float-end">{{note.author}}</em>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="tabs-4">
            Kvitteringer...
        </div>
        <div id="tabs-5">
            <div class="clearfix">
                <button class="btn btn-success btn-sm shadow-0 float-end"
                        id="mainDialog__uploadFilesBtn">
                    <i class="fas fa-upload"></i>
                    Upload file(s)
                </button>
            </div>

            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Filename</th>
                            <th>Uploader</th>
                            <th>Uploaded when</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>


<script>
    function mainPlannerDialog__updateArrangementInfo() {
        var csrf_token="{{csrf_token}}"

        var formData = new FormData();
        formData.append("name",             $('#id_name').val());
        formData.append("audience",         $('#id_audience').val());
        formData.append("location",         $('#id_location').val());
        formData.append("arrangement_type", $('#id_arrangement_type').val());
        formData.append("starts",           $('#id_starts').val());
        formData.append("ends",             $('#id_ends').val());
        formData.append("ticket_code",      $('#id_ticket_code').val());
        formData.append("meeting_place",    $('#id_meeting_place').val());
        formData.append("expected_visitors",$('#id_expected_visitors').val());
        formData.append("actual_visitors",  $('#id_actual_visitors').val());
        formData.append("show_on_multimedia_screen", $('#showInMultimediaGuide'));
        formData.append("csrfmiddlewaretoken","{{ csrf_token }}");

        document.dispatchEvent(
            new CustomEvent("arrangementInspector.submit", { "detail": {
                dialog: "mainDialog",
                formData: formData,
            }})
        );
    }

    function mainPlannerDialog__removeRoomFromEvent(event_pk, room_pk) {
        var formData = new FormData();
        formData.set("event_pk", event_pk);
        formData.set("room_pk", room_pk)

        fetch('/arrangement/planner/remove_room_from_event', {
            method: "POST",
            body: formData,
            headers: {
                "X-CSRFToken": "{{csrf_token}}"
            }
        })
        .then(_ => {
            document.dispatchEvent(
                new CustomEvent("arrangementInspector.hasBeenUpdated", {'detail': {
                    dialog: "mainDialog",
                }})
            )
        })
    }

    function mainPlannerDialog__removePersonFromEvent(event_pk, person_pk) {
        var formData = new FormData();
        formData.set("event_pk", event_pk);
        formData.set("person_pk", person_pk)

        fetch('/arrangement/planner/remove_person_from_event', {
            method: "POST",
            body: formData,
            headers: {
                "X-CSRFToken": "{{csrf_token}}"
            }
        })
        .then(_ => {
            document.dispatchEvent(
                new CustomEvent("arrangementInspector.hasBeenUpdated", {'detail': {
                    dialog: "mainDialog",
                }})
            )
        })
    }

    function mainPlannerDialog__removePlanners() {
        var planners = $('#mainPlannerDialog_plannersSelect').val().join(",");
        console.log(planners)
        var formData = new FormData()
        formData.append("planner_ids", planners);
        formData.append("arrangement_slug", "{{arrangement.slug}}")

        fetch('{% url "arrangement:arrangement_remove_planners_form" %}', {
            method: 'POST',
            body: formData,
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            }
        }).then(_ => {
            document.dispatchEvent(
                new CustomEvent("arrangementInspector.hasBeenUpdated", {'detail': {
                    dialog: "mainDialog",
                }})
            )
        })
    }
</script>