{% load static i18n %}


<div id="{{dialog}}" title="<span class='badge badge-success'><i class='fas fa-clock'></i></span>&nbsp; Ny tidsplan">
    <div>
        <div class="row">
            <div class="col-12">
                <form id="headMockForm">
                    <input type="submit" style="display:none;" />
        
                    <div class="row">
                        <div class="col-8">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <div class="form-outline mb-2">
                                        <input type="text" id="serie_title" class="form-control" />
                                        <label class="form-label" for="serie_title">🇳🇴 Tittel på norsk</label>
                                    </div>    
                                </div>
                                <div class="col-12">
                                    <div class="form-outline mb-2">
                                        <input type="text" id="serie_title_en" class="form-control" />
                                            <label class="form-label" for="serie_title_en">🇬🇧 Tittel på engelsk</label>
                                    </div>  
                                </div>
                            </div>
                
                            <div class="row mb-2">
                                <div class="col-5">
                                    <div class="form-outline timepicker-inline-24 mb-2" id="serie_start_picker">
                                        <input type="text" class="form-control" id="serie_start" />
                                        <label class="form-label" for="serie_start"><i class="fas fa-clock"></i>&nbsp; Start <small>(<i>HH:mm</i>)</small></label>
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <h3><i class="fas fa-arrow-right wb-text-main"></i></h3>
                                </div>
                                <div class="col-5">
                                    <div class="form-outline timepicker-inline-24 mb-2" id="serie_end_picker">
                                        <input type="text" class="form-control" id="serie_end" />
                                        <label class="form-label" for="serie_end"><i class="fas fa-clock"></i>&nbsp; Slutt <small>(<i>HH:mm</i>)</small></label>
                                    </div>
                                </div>
                            </div>
            
                            <div class="form-outline mb-3">
                                <input type="text" id="serie_ticket_code" class="form-control" />
                                    <label class="form-label" for="serie_ticket_code"><i class="fas fa-receipt"></i>&nbsp; Ticket Code</label>
                            </div>        
                            <div class="form-outline mb-2">
                                <input type="text" id="serie_expected_visitors" class="form-control" />
                                    <label class="form-label" for="serie_expected_visitors"><i class="fas fa-users"></i>&nbsp; Expected Visitors</label>
                            </div>     
                            
                        </div>

                        <div class="col-3">
                            <fieldset>
                                <div class="row">
                                    <div class="col-12">
                                        <h5><i class="fas fa-building text-muted"></i>&nbsp; Rom</h5>
                                        <a class="btn btn-block wb-btn-secondary btn-sm"
                                            onclick="createSerieDialog__openAddRooms()"
                                            type="button">
                                            Legg til rom
                                        </a>
                                        
                                        <div id="roomChips"></div>

                                        <div class="table-responsive mt-2">
                                            <table class="table table-sm">
                                                <tbody id="roomsTbody"></tbody>
                                            </table>
                                        </div>

                                        <hr>
                                    </div>
                                    <div class="col-12">
                                        <h5><i class="fas fa-users text-muted"></i>&nbsp; Personer</h5>
                
                                        <a class="btn btn-block wb-btn-secondary btn-sm"
                                            onclick="createSerieDialog__openAddPeople()"
                                            type="button">
                                            Legg til personer
                                        </a>

                                        <div id="peopleChips"></div>
                
                                        <div class="table-responsive mt-2">
                                            <table class="table table-sm">
                                                <tbody id="peopleTbody"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="mt-4">
                            <h5><i class="fas fa-tv"></i>&nbsp; Vises på:</h5>
                            {% for choice_id, choice_label in form.display_layouts_serie_planner.field.choices %}
                                <div class="badge wb-bg-secondary fw-light border-body text-muted rounded-pill clickable-badge p-3 m-1">
                                    <input type="checkbox" value="{{choice_id}}" name="display_layouts_serie_planner" id="id_display_layouts_serie_planner_{{choice_id}}" />
                                    <label for="id_display_layouts_serie_planner_{{choice_id}}">&nbsp;{{choice_label}}</label>
                                </div>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </form>
        
                <fieldset>
                    <h5><i class="fas fa-redo"></i>&nbsp; Pattern for recurring area</h5>
                    <div class="row">
                        <div class="col-3 border-end border-1">
                            <form id="patternMockForm">
                                <input type="submit" style="display:none;" />
        
                                <div>
                                    <input type="radio" name="pattern" id="radio_pattern_daily" value="1" checked required/><label>&nbsp; Daily</label>
                                </div>
                                <div>
                                    <input type="radio" name="pattern" id="radio_pattern_weekly" value="2"/><label>&nbsp; Weekly</label>
                                </div>
                                <div>
                                    <input type="radio" name="pattern" id="radio_pattern_monthly" value="3"/><label>&nbsp; Monthly</label>
                                </div>
                                <div>
                                    <input type="radio" name="pattern" id="radio_pattern_yearly" value="4"/><label>&nbsp; Yearly</label>
                                </div>
                            </form>
                        </div>
                        <div class="col-9">
                            <div id="patternRoute_daily">
                                <div>
                                    <input type="radio" name="pattern_daily_subroute" id="radio_pattern_daily_every_x_day_subroute" value="0" required/>
                                    <label>Every <input type="number" min="1"  id="every_x_day__interval" required /> day</label>
                                </div>
                                
                                <div>
                                    <input type="radio" name="pattern_daily_subroute" id="radio_pattern_daily_every_weekday_subroute" value="1"/>
                                    <label>Every weekday</label>
                                </div>
                            </div>
        
                            <div id="patternRoute_weekly" style="display: none;">
                                <div><label>Skjer hver <input type="number" min="1" id="week_interval" name="repeat_every_x_week" style="width: 40px" required/> week at:</label></div>
                                <span id="day_checkbox_wrapper">
                                    <input type="checkbox" id="monday"> <label>Monday</label>
                                    <input type="checkbox" id="tuesday"> <label>Tuesday</label>
                                    <input type="checkbox" id="wednesday"> <label>Wednesday</label>
                                    <input type="checkbox" id="thursday"> <label>Thursday</label>
                                    <input type="checkbox" id="friday"> <label>Friday</label>
                                    <input type="checkbox" id="saturday"> <label>Saturday</label>
                                    <input type="checkbox" id="sunday"> <label>Sunday</label>
                                </span>
                            </div>
        
                            <div id="patternRoute_monthly" style="display: none;">
                                <div>
                                    <input type="radio" name="pattern_monthly_subroute" id="every_x_day_every_y_month__day_of_month_radio" value="0" required /> 
                                    Day <input type="number" min="1" required id="every_x_day_every_y_month__day_of_month" style="width: 40px"> every <input type="number" required min="1" id="every_x_day_every_y_month__month_interval" style="width: 40px;"> month
                                </div>
                                <div>
                                    <input type="radio" name="pattern_monthly_subroute" id="every_x_day_every_y_month__month_interval_radio" value="1" /> The
                                    <select id="every_dynamic_date_of_month__arbitrator" class="newTimePlanDialog_select" required>
                                    </select>
                                    <select id="every_dynamic_date_of_month__weekday" class="newTimePlanDialog_select" required>
                                    </select>
                                    every <input type="number" required min="1" id="every_dynamic_date_of_month__month_interval" style="width:40px"> months
                                </div>
                            </div>
        
                            <div id="patternRoute_yearly" style="display: none;">
                                <div>
                                    Happens every <input type="number" min="1" required id="pattern_yearly_const__year_interval" style="width: 40px" /> year
                                </div>
                                <div>
                                    <input type="radio" name="pattern_yearly_subroute" id="every_x_datemonth_of_year_radio" value="0" required> Dato:
                                    <input type="number" min="1" required id="every_x_of_month__date" style="width: 40px" />
                                    <select id="every_x_of_month__month" class="newTimePlanDialog_select" required>
                                    </select>
                                </div>
        
                                <div>
                                    <input type="radio" name="pattern_yearly_subroute" id="every_x_dynamic_day_in_month_radio" value="1"> Every:
                                    <select id="every_arbitrary_weekday_in_month__arbitrator" class="newTimePlanDialog_select" required>
                                    </select>
                                    <select id="every_arbitrary_weekday_in_month__weekday" class="newTimePlanDialog_select" required>
                                    </select>
                                    in
                                    <select id="every_arbitrary_weekday_in_month__month" class="newTimePlanDialog_select" required>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
        
                <fieldset>
                    <h5><i class="fas fa-hourglass-end"></i>&nbsp; Area of recurrence</h5>
                    <div class="row">
                        <div class="col-3">
                            <label>Start Date</label>
                            <input type="date" id="area_start_date" required>
                        </div>
                        <div class="col-9" id="area_methods_wrapper">
                            <div>
                                <input type="radio" id="radio_timeAreaMethod_stopWithin" name="timeAreaMethod" value="1">
                                Stop within: <input type="date" id="area_stopWithin" required>
                            </div>
        
                            <div>
                                <input type="radio" id="radio_timeAreaMethod_stopAfterXInstances" name="timeAreaMethod" value="2">
                                <fieldset>
                                    Stop after: <input type="number" min="1" id="area_stopAfterXInstances" required /> occurences
                                </fieldset>
                            </div>
        
                            <div>
                                <input type="radio" id="radio_timeAreaMethod_noStopDate" name="timeAreaMethod" value="3">
                                No stop date
                                | Project <input type="number" min="1" required style="width:50px" id="area_noStop_projectXMonths"> months into the future
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <input type="hidden" name="uuid" id="serie_uuid">


        <div class="clearfix mt-3">
            <a class="btn wb-btn-main btn-lg float-end" type="button" id="submitBtn">
                <i class="fas fa-check"></i>
                Lagre
            </a>
            <a href="#" class="btn wb-btn-secondary btn-lg float-end"
                onclick="window.dialogApi.close('{{managerName}}', '{{dialog}}')">
                <i class="fas fa-times"></i>
                Avbryt
            </a>
        </div>
    </div>
</div>

<script>

    var peopleNameMap = new Map();
    var roomsNameMap = new Map();

    document.addEventListener("{{managerName}}.d2_peopleSelected", (e) => {
        peopleNameMap = e.detail.context.people_name_map;
        createSerieDialog__setPeople(e.detail.context.people);
    })
    document.addEventListener("{{managerName}}.d2_roomsSelected", (e) => {
        roomsNameMap = e.detail.context.room_name_map;
        createSerieDialog__setRooms(e.detail.context.rooms);
    })

    function createSerieDialog__openAddRooms() {
        document.dispatchEvent(new Event("{{managerName}}.{{orderRoomDialog}}.trigger"));
    }

    function createSerieDialog__openAddPeople() {
        document.dispatchEvent(new Event("{{managerName}}.{{orderPersonDialog}}.trigger"));
    }

    function createSerieDialog__setRooms(rooms) {
        var wrapper = $('#roomChips');
        wrapper.empty();

        rooms.split(",").forEach(id => {
            wrapper.append(
                `<span class='chip' rowid='${id}'>
                    ${roomsNameMap.get(id)}
                     <a href='#' class='text-danger'
                            data-mdb-toggle='tooltip'
                            title='{% trans "Remove this room from the activity" %}'
                            onclick='createSerieDialog__removeAssociation(this)'>
                                <i class='fas fa-times'></i>
                            </a>                    
                 </span>`
            );
        });
    }

    function createSerieDialog__setPeople(people) {
        var wrapper = $('#peopleChips');
        wrapper.empty();

        people.split(",").forEach(id => {
            wrapper.append(
                `<span class='chip' rowid='${id}'>
                    ${peopleNameMap.get(id)}
                     <a href='#' class='text-danger'
                            data-mdb-toggle='tooltip'
                            title='{% trans "Remove this room from the activity" %}'
                            onclick='createSerieDialog__removeAssociation(this)'>
                                <i class='fas fa-times'></i>
                            </a>                    
                 </span>`
            )
        })
    }

    function createSerieDialog__removeAssociation(a) {
        $(a).parent().remove();
    }

    function createSerieDialog__getSelectedRoomIds() {
        return Array.from($("#roomChips")[0].children).map(row => row.getAttribute("rowid"));
    }

    function createSerieDialog__getSelectedPeopleIds() {
        return Array.from($("#peopleChips")[0].children).map(row => row.getAttribute("rowid"));
    }
</script>

<script type="module">
    import { SeriesUtil } from "{% static 'modules/planner/seriesutil.js' %}";
    import { SelectComponent, MonthSelectComponent, YearSelectComponent } from "{% static 'modules/planner/selectcomponent.js' %}";
    import { ExtendedTimepicker } from "{% static 'js/timepickerExtended.js' %}";

    class DayOfWeekSelectComponent extends SelectComponent {
        constructor (element_id) {
            let options = new Map([
                ["1", '{% trans "monday" %}'],
                ["2", '{% trans "tuesday" %}'],
                ["3", '{% trans "wednesday" %}'],
                ["4", '{% trans "thursday" %}'],
                ["5", '{% trans "friday" %}'],
                ["6", '{% trans "saturday" %}'],
                ["7", '{% trans "sunday" %}'],
            ]);

            super(element_id, options)

            this.insert_options();
        }
    }

    class ArbitratorSelectComponent extends SelectComponent {
        constructor (element_id) {

            let options = new Map([
                ["0", '{% trans "first" %}'],
                ["1", '{% trans "second" %}'],
                ["2", '{% trans "third" %}'],
                ["3", '{% trans "fourth" %}'],
                ["4", '{% trans "last" %}']
            ]);

            super(element_id, options);

            this.insert_options();
        }
    }

    function createSerieDialog__evaluateEnTitleObligatory() {
        var $enTitleElement = $('#serie_title_en');
        var countSeletedDisplayLayouts = $("input[name='display_layouts_serie_planner'][type='checkbox']:checked").length;

        if (countSeletedDisplayLayouts === 0) {
            $enTitleElement.removeAttr("required");
        }
        else {
            $enTitleElement.attr("required", true);
        }
    }

    $(document).ready(function () {
        new DayOfWeekSelectComponent('every_arbitrary_weekday_in_month__weekday');
        new MonthSelectComponent('every_arbitrary_weekday_in_month__month');
        new MonthSelectComponent('every_x_of_month__month');
        new DayOfWeekSelectComponent('every_dynamic_date_of_month__weekday');
        new ArbitratorSelectComponent('every_dynamic_date_of_month__arbitrator');
        new ArbitratorSelectComponent('every_arbitrary_weekday_in_month__arbitrator');

        var selects = $(".newTimePlanDialog_select");
        for (let i = 0; i < selects.length; i++) {
            var select = selects[i];
            if (select.hasAttribute("init_value")) {
                select.value = select.getAttribute("init_value");
            }
        }
    })
    
    const startTimePicker = new ExtendedTimepicker({
        timepickerWrapperElement: document.getElementById('serie_start_picker'),
        timepickerInputElement: document.getElementById('serie_start'),
        mdbOptions: {
            format24:true,
            inline: true,
        }
    });

    const endTimePicker = new ExtendedTimepicker({
        timepickerWrapperElement: document.getElementById('serie_end_picker'),
        timepickerInputElement: document.getElementById('serie_end'),
        mdbOptions: {
            format24:true,
            inline: true,
        }
    });

    $('#submitBtn').on('click', () => {
        submit_serie();
    })

    let newSerieDialog = $('#newSerieDialog');
    let patterns = new Map();

    patterns.set(
        "1",
        {
            route_fieldset: $("#patternRoute_daily"),
            name: "daily",
            sub_routed_by: 'pattern_daily_subroute',
            constant_fields: [],
            sub_routes: [
                {
                    strategy_name: "daily__every_x_day",
                    route: "pattern_daily_sub__every_x_day",
                    fields: [
                        { element_id: 'every_x_day__interval', out_prop_name: "interval" },
                    ]
                },
                {
                    strategy_name: "daily__every_weekday",
                    route: "pattern_daily_sub__every_weekday",
                    fields: []
                }
            ]
        }
    );
    patterns.set(
        "2",
        {
            strategy_name: "weekly__standard",
            route_fieldset: $("#patternRoute_weekly"),
            name: "weekly",
        }
    );
    patterns.set(
        "3",
        {
            route_fieldset: $("#patternRoute_monthly"),
            name: "monthly",
            sub_routed_by: 'pattern_monthly_subroute',
            constant_fields: [],
            sub_routes: [
                {
                    strategy_name:"month__every_x_day_every_y_month",
                    route: "pattern_monthly_sub__every_x_day_every_y_month",
                    fields: [
                        { element_id: 'every_x_day_every_y_month__day_of_month', out_prop_name: "day_of_month" },
                        { element_id: 'every_x_day_every_y_month__month_interval', out_prop_name: "interval" },
                    ],
                },
                {
                    strategy_name: "month__every_arbitrary_date_of_month",
                    route: "pattern_monthly_sub__every_arbitrary_date_of_month",
                    fields: [
                        { element_id: 'every_dynamic_date_of_month__arbitrator', out_prop_name: "arbitrator" },
                        { element_id: 'every_dynamic_date_of_month__weekday', out_prop_name: "weekday" },
                        { element_id: 'every_dynamic_date_of_month__month_interval', out_prop_name: "interval" },
                    ]
                }
            ]
        }
    );
    patterns.set(
        "4",
        {
            route_fieldset: $("#patternRoute_yearly"),
            name: "yearly",
            sub_routed_by: 'pattern_yearly_subroute',
            constant_fields: [
                { element_id: 'pattern_yearly_const__year_interval', out_prop_name: "interval" },
            ],
            sub_routes: [
                {
                    strategy_name:"yearly__every_x_of_month",
                    route:"pattern_yearly_sub__every_x_of_month",
                    fields: [
                        { element_id: 'every_x_of_month__date', out_prop_name: "day_index" },
                        { element_id: 'every_x_of_month__month', out_prop_name: "month" },
                    ]
                },
                {
                    strategy_name: "yearly__every_arbitrary_weekday_in_month",
                    route: "pattern_yearly_sub__every_arbitrary_weekday_in_month",
                    fields: [
                        { element_id: 'every_arbitrary_weekday_in_month__arbitrator', out_prop_name: "arbitrator" },
                        { element_id: 'every_arbitrary_weekday_in_month__weekday', out_prop_name: "weekday" },
                        { element_id: 'every_arbitrary_weekday_in_month__month', out_prop_name: "month" },
                    ]
                }
            ]
        }
    );

    match_pattern_state_to_radio();
    match_area_state_to_radio();

    /* Handle user changing active pattern */
    $('#area_stopWithin').attr("disabled", "");
    $('#area_stopAfterXInstances').attr("disabled", "");
    $('#area_noStop_projectXMonths').attr("disabled", "");

    function handle_timearea_radio (active_val) {
        $('#area_stopWithin').attr("disabled", "");
        $('#area_stopAfterXInstances').attr("disabled", "");
        $('#area_noStop_projectXMonths').attr("disabled", "");

        if (active_val === "1") {
            $('#area_stopWithin').removeAttr("disabled");
        }
        if (active_val === "2"){
            $('#area_stopAfterXInstances').removeAttr("disabled");
        }
        if (active_val === "3") {
            $('#area_noStop_projectXMonths').removeAttr("disabled");
        }
    }

    $(document).ready(function () {
        $('input:radio[name="timeAreaMethod"]').change(
            function() {
                if ($(this).is(':checked')) {
                    $(this).val();
                    let method = $(this).val()
                    handle_timearea_radio(method);
                }
            }
        )

        /* Handle user changing active pattern */
        $('input:radio[name="pattern"]').change(
            function() {
                if ($(this).is(':checked')) {
                    let pattern = patterns.get($(this).val());
                    patterns.forEach(function (item) {
                        $(item.route_fieldset).hide()
                    })
                    $(pattern.route_fieldset).show();
                }
            }
        )

        /* Handle user changing active pattern */
        $('input:radio[name="pattern"]').click(
            function() {
                if ($(this).is(':checked')) {
                    let pattern = patterns.get($(this).val());
                    patterns.forEach(function (item) {
                        $(item.route_fieldset).hide()
                    })
                    $(pattern.route_fieldset).show();
                }
            }
        )
    })

    class ValidatorFunctions {
        static __watchInputForValidityChange (element) {
            element.classList.add("border-danger");

            element.addEventListener("change", (event) => {
                if (event.target.checkValidity() === true) {
                    event.target.classList.remove("border-danger");
                    event.target.classList.add("border-success");

                    let alert = document.getElementsByClassName('form_alert')[0];
                    alert.classList.remove('text-danger');
                    alert.classList.add("text-success");
                    alert.innerHTML = "<i class='fas fa-check'></i> " + alert.innerText;

                    setTimeout(function () {
                        event.target.classList.remove("border-success");
                        alert.remove();
                    }, 1000);
                }
            })
            }

        /* Validate the "head" component of the form */
        static validate_head() {
            let field_elements = [
                document.getElementById('serie_title'),
                document.getElementById('serie_start'),
                document.getElementById('serie_end'),
                document.getElementById('serie_expected_visitors'),
            ];

            let isInvalid = false;

            for (let i = 0; i < field_elements.length; i++) {
                if (field_elements[i].checkValidity() === false) {
                    isInvalid = true;
                    break;
                }
            }

            if (isInvalid) {
                $('#headMockForm').find(':submit').click();
                return false;
            }

            return true;
        }

        static validate_pattern_radio() {
            let radio = document.querySelector('input[name="pattern"]');

            if (radio.checkValidity() === false) {
                $('#patternMockForm').find(':submit').click();
                return false;
            }

            return true;
        }

        static validate_pattern_route(pattern) {

            let is_valid = true;

            let subpattern_radio = document.querySelector("input[name='" + pattern.sub_routed_by + "']")
            if (subpattern_radio !== null) {
                if (subpattern_radio.checkValidity() === false) {
                    let alert_div = document.createElement('div');
                    alert_div.innerHTML = "<div class='alert alert-danger form_alert'>Vennligst velg et mønster, ved bruk av avhukningsboksene over.</div>"
                    pattern.route_fieldset.append(alert_div)
                    ValidatorFunctions.__watchInputForValidityChange(subpattern_radio);

                    return false;
                }
            }

            let active_inputs = pattern.route_fieldset[0].querySelectorAll("input:not(:disabled):not([type='radio']):not([type='submit']), select:not(:disabled)");
            for(let i = 0; i < active_inputs.length; i++) {
                let input = active_inputs[i];
                if (input.checkValidity() === false) {
                    let alertText = document.createElement('div');
                    alertText.innerHTML = "<span class='text-danger form_alert'>" + input.validationMessage + "</span>";
                    ValidatorFunctions.__watchInputForValidityChange(input);

                    input.parentNode.parentNode.appendChild(alertText);

                    return false;
                }
            }

            if (pattern.name === "weekly") {
                let checked_boxes = document.getElementById('day_checkbox_wrapper').querySelectorAll("input[type='checkbox']:checked");
                if (checked_boxes.length === 0) {
                    let alert_div = document.createElement('div');
                    alert_div.innerHTML = "<div class='alert alert-danger form_alert'>Vennligst huk av for en eller flere dager.</div>"
                    pattern.route_fieldset.append(alert_div);

                    return false;
                }
            }

            return true;
        }

        static validate_recurrence_area () {
            let area_start_date_el = document.getElementById('area_start_date');

            if (area_start_date_el.checkValidity() === false) {
                ValidatorFunctions.__watchInputForValidityChange(area_start_date_el);
                let alertText = document.createElement('div');
                alertText.innerHTML = "<span class='text-danger form_alert'>" + area_start_date_el.validationMessage + "</span>";
                area_start_date_el.parentNode.appendChild(alertText);

                return false;
            }

            let timearea_method_radio = document.querySelector("input[name='timeAreaMethod']");
            if (timearea_method_radio !== null) {
                if (timearea_method_radio.checkValidity() === false) {
                    ValidatorFunctions.__watchInputForValidityChange(timearea_method_radio);

                    let alert_div = document.createElement('div');
                    alert_div.innerHTML = "<div class='alert alert-danger form_alert'>Vennligst velg en metode for regelmessighet</div>"
                    pattern.route_fieldset.append(alert_div);
                    timearea_method_radio.parentNode.parentNode.appendChild(alert_div)

                    return false;
                }
            }

            let active_inputs = document.getElementById('area_methods_wrapper').querySelectorAll("input:not(:disabled):not([type='radio']):not([type='submit']), select:not(:disabled)");
            for(let i = 0; i < active_inputs.length; i++) {
                let input = active_inputs[i];
                if (input.checkValidity() === false) {
                    let alertText = document.createElement('div');
                    alertText.innerHTML = "<span class='text-danger form_alert'>" + input.validationMessage + "</span>";
                    ValidatorFunctions.__watchInputForValidityChange(input);

                    input.parentNode.parentNode.appendChild(alertText);

                    return false;
                }
            }

            return true;
        }
    }

    function submit_serie() {
        let old_alerts = document.getElementsByClassName('form_alert');
        old_alerts.forEach(function (elem) {
            $(elem).remove();
        })

        let time = {
            title: document.getElementById('serie_title').value,
            title_en: document.getElementById('serie_title_en').value,
            start: document.getElementById('serie_start').value,
            end: document.getElementById('serie_end').value,
            ticket_code: document.getElementById('serie_ticket_code').value,
            expected_visitors: document.getElementById('serie_expected_visitors').value,
        }

        let pattern = {}
        let active_pattern_key = $('input:radio[name="pattern"]:checked').val();
        let pattern_obj = patterns.get(`${active_pattern_key}`);


        let headResult = ValidatorFunctions.validate_head();
        let patternResult = ValidatorFunctions.validate_pattern_radio();
        let patternRouteResult = ValidatorFunctions.validate_pattern_route(pattern_obj);
        let areaRecurrenceResult = ValidatorFunctions.validate_recurrence_area();

        if (headResult === false || patternResult === false || patternRouteResult === false || areaRecurrenceResult === false) {
            return;
        }

        // since weekly doesnt have any subroutings (only one option) we cant use the normal method
        if (active_pattern_key !== "2") {
            if (active_pattern_key == "4") {
                pattern["year_interval"] = $('#pattern_yearly_const__year_interval').val();
            }

            let active_sub_route_key = $('input:radio[name="' + pattern_obj.sub_routed_by +'"]:checked').val();
            let sub_route = pattern_obj.sub_routes[active_sub_route_key];
            pattern.pattern_type = pattern_obj.name;
            pattern.pattern_routine = sub_route.strategy_name;

            for (let i = 0; i < sub_route.fields.length; i++) {
                let field = sub_route.fields[i];
                pattern[field.out_prop_name] = document.getElementById(field.element_id).value;
            }
        }
        else {
            pattern["week_interval"] = $('#week_interval').val();
            pattern.pattern_type = pattern_obj.name;

            let days = new Map([
                [0, $('#sunday').is(':checked')],
                [1, $('#monday').is(':checked')],
                [2, $('#tuesday').is(':checked')],
                [3, $('#wednesday').is(':checked')],
                [4, $('#thursday').is(':checked')],
                [5, $('#friday').is(':checked')],
                [6, $('#saturday').is(':checked')],
            ]);
            pattern["days"] = days;
            pattern["pattern_routine"] = "weekly__standard";
        }

        let area = {
        }

        let area_methods = new Map();
        area_methods.set(
            "1",
            {
                name: "StopWithin",
                set: function () {
                    area.stop_within = $('#area_stopWithin').val();
                }
            }
        );
        area_methods.set("2",
        {
            name: "StopAfterXInstances",
            set: function () {
                area.instances = $('#area_stopAfterXInstances').val()
            }
        });
        area_methods.set("3",
        {
            name: "NoStopDate",
            set: function () {
                area.projectionDistanceInMonths = $('#area_noStop_projectXMonths').val()
            }
        });

        let active_area_method = area_methods.get($('input:radio[name="timeAreaMethod"]:checked').val());
        active_area_method.set();
        area.method_name = active_area_method.name;
        area.start_date = $('#area_start_date').val();

        let serie = {
            time: time,
            pattern: pattern,
            time_area: area,
        }

        var display_layouts = [];
        document.querySelectorAll("input[name='display_layouts_serie_planner'][type='checkbox']:checked").forEach(element => {
            display_layouts.push(element.value)
        })

        serie._uuid = $('#serie_uuid').val();
        serie.rooms = createSerieDialog__getSelectedRoomIds();;
        serie.people = createSerieDialog__getSelectedPeopleIds();;
        serie.room_name_map = roomsNameMap;
        serie.people_name_map = peopleNameMap;
        serie.display_layouts = display_layouts.join(",");

        document.dispatchEvent(
            new CustomEvent(
                "{{managerName}}.submit",
                {
                    'detail': { 'dialog': "{{dialog}}", 'serie': serie, "csrf_token": "{{csrf_token}}" }
                }
            )
        )
    }

    /* Ensure that the shown pattern matches the selected pattern in the radio menu. This will correct any such mismatches. */
    function match_pattern_state_to_radio () {
        let active_pattern_key = $('input:radio[name="pattern"]:checked').val();

        // Ensure that if the user closes the modal while working with it, they will
        // come right back to the same pattern fieldset when re-opening it.
        if (active_pattern_key !== undefined && active_pattern_key !== "") {
            for (let i = 0; i < patterns.length; i++) {
                $(patterns[i].route_fieldset).hide();
            }
            $(patterns.get(active_pattern_key).route_fieldset).show();
        }
    }

    function match_area_state_to_radio(){
        let active_area_method = $('input:radio[name="timeAreaMethod"]:checked').val();

        if (active_area_method !== undefined && active_area_method !== "") {
            handle_timearea_radio(active_area_method);
        }
    }

    /*
    Resets a patterns field values, and disables it. This affects all sub-routes of the pattern.
    */
    function reset_pattern(ptrn) {
        if (ptrn.sub_routes !== undefined) {
            ptrn.sub_routes.forEach(function (sub_route) {
                deactivate_pattern_subroute(sub_route);
                sub_route.fields.forEach(function (field_obj) {
                    let field = document.getElementById(field_obj.element_id);
                })
            })
        }
    }

    /*
    Activate a sub route of a pattern. In practice removes the disabled attribute from the fields of this
    sub route.
    */
    function activate_pattern_subroute(subroute) {
        for (let i = 0; i < subroute.fields.length; i++) {
            let field = document.getElementById(subroute.fields[i].element_id);
            field.removeAttribute("disabled");
        }
    }

    /*
    Deactivate a sub route of a pattern. In practice this adds the disabled attribute to the fields of this
    sub route.
    */
    function deactivate_pattern_subroute(subroute) {
        for (let i = 0; i < subroute.fields.length; i++) {
            let field = document.getElementById(subroute.fields[i].element_id);
            field.setAttribute("disabled", "true");
        }
    }

    //set_radio_if_none_set();

    /* Initialization of state */
    patterns.forEach(function (ptrn) {
        $('input:radio[name="' + ptrn.sub_routed_by + '"]').change(
            function () {
                reset_pattern(ptrn);
                let sub = ptrn.sub_routes[$(this).val()];
                activate_pattern_subroute(sub);
            }
        );

        if (ptrn.sub_routes !== undefined) {
            ptrn.sub_routes.forEach(function (sub_route) {
                deactivate_pattern_subroute(sub_route);
            })
        }

        let already_active_radio = $('input:radio[name="' + ptrn.sub_routed_by + '"]:checked').val();
        if (already_active_radio !== undefined && already_active_radio !== "") {
            activate_pattern_subroute(ptrn.sub_routes[already_active_radio])
        }
    })
</script>
