{% load static i18n %}
{% load crispy_forms_tags %}

<!-- {% include "arrangement/vue/popover_component.html" %} -->
{% include "arrangement/vue/js_tree_select_component.html" %}


<div id="{{dialogId}}" class="{{discriminator}}" style="overflow-x: visible;">
    <input type="hidden" name="" id="_audienceId">
    <input type="hidden" name="" id="_arrangementTypeId">
    <input type="hidden" name="" id="_statusTypeId">

    <div class="clearfix">
        <div class="float-start">
            <h4 class="fw-bold">Planlegg nytt arrangement</h4>
        </div>
        <div id="rail" class="float-end stepper-rail"></div>
    </div>

    <hr>

    <div>
        <div id="step-1">
            <form id="arrangementInfoForm">
                <input type="submit" style="display:none;" />
                
                <fieldset>
                    <div class="form-group mb-2">
                        <label>
                            Tittel <i>(Norsk)</i>
                            <span class="fw-bold">&nbsp;*</span>
                        </label>
                        <input type="text"
                            class="form-control form-control-lg mb-2"
                            id="{{ form.name.id_for_label }}"
                            value="{{ form.name.value|default:'' }}"
                            name="{{ form.name.name }}"
                            autocomplete="off"
                            v-model="arrangement.title"
                            required />
                    </div>
                    {% if form.name.errors|length > 0 %}
                        <div class="alert alert-danger">
                            {{ form.name.errors }}
                        </div>
                    {% endif %}

                    <div class="form-group mb-2">
                        <label>
                            Tittel <i>(Engelsk)</i>
                        </label>
                        <input type="text"
                            class="form-control form-control-lg"
                            id="{{ form.name_en.id_for_label }}"
                            value="{{ form.name_en.value|default:'' }}"
                            name="{{ form.name_en.name }}"
                            v-model="arrangement.title_english"
                            autocomplete="off"
                            />
                    </div>
                    {% if form.name_en.errors|length > 0 %}
                        <div class="alert alert-danger">
                            {{ form.name_en.errors }}
                        </div>
                    {% endif %}


                    <tree-select-component
                        class="mb-2"
                        label="Målgruppe *"
                        json-url="/arrangement/audience/tree"
                        icon="fas fa-users"
                        button-label="Velg målgruppe"
                        :selected="arrangement.audience"
                        @input="(id) => arrangement.audience = id">
                    </tree-select-component>

                    <tree-select-component
                        class="mb-2"
                        label="Arrangementstype *"
                        json-url="/arrangement/arrangementtype/treelist"
                        icon="fas fa-cog"
                        button-label="Velg arrangementstype"
                        :selected="arrangement.arrangement_type"
                        @input="(id) => arrangement.arrangement_type = id">
                    </tree-select-component>

                    <tree-select-component
                        class="mb-2"
                        label="Status"
                        json-url="/arrangement/statustype/tree"
                        icon="fas fa-cog"
                        button-label="Velg status"
                        :selected="arrangement.status"
                        @input="(id) => arrangement.status = id">
                    </tree-select-component>

                    <div class="mb-2">
                        <label>
                            <i class="fas fa-map-marker-alt"></i>&nbsp;
                            Lokasjon
                            <span class="fw-bold">&nbsp;*</span>
                        </label>
                        {{ form.location }}
                    </div>
                    {% if form.location.errors|length > 0 %}
                        <div class="alert alert-danger">
                            {{ form.location.errors }}
                        </div>
                    {% endif %}
                </fieldset>
            </form>
        </div>
        <div id="step-services">
            <div class="clearfix">
                <a class="btn btn-lg btn-outline-dark btn-block shadow-0 mb-2 p-2"
                    style="text-transform: none; font-size: larger; border-width: 0.7px;"
                    @click="openAddServiceOrderDialog()">
                    <i class="fas fa-calendar-plus"></i>&nbsp;
                    Bestill tjenester
                </a>
            </div>

            <div class="alert alert-info mt-2">
                Du kan bestille forskjellige tjenester for dette arrangementet. Om du bestiller for arrangementet
                vil bestillingen gjelde alle tidspunkter for arrangementet. Du kan velge å også bare bestille for en
                gitt tidspunkt eller serie av tidspunkt.
            </div>

            <div id="serviceOrders">
                <div
                    class='card card-body shadow-0 wb-bg-secondary border border-dark mt-2' :id="order.key"
                    v-for="order in arrangement.serviceOrders">
                    
                    <h5>
                        [[order.service_name]]
                        <button class='btn wb-btn-main-outline border border-dark shadow-0 float-end' 
                            :id="order.key" 
                            @click="serviceOrders.splice(serviceOrders.indexOf(order), 1)"
                            select-type='serviceOrder' 
                            d-trigger="removeAssociation">
                            
                            <i class='fas fa-times'></i>
                        </button>
                    </h5>
                    <code>
                        [[order.freetext_comment]]
                    </code>
                </div>
            </div>
        </div>
        <div id="step-2">
            <form id="arrangementDetailsForm">
                <input type="submit" value="" style="display: none;">

                <div class="border rounded box-shadow-2 wb-bg-secondary p-4 mb-4">
                    <input type="hidden" 
                        name="{{ form.responsible.name }}" 
                        id="{{ form.responsible.id_for_label }}">

                    <label for="" class="d-block form-label">
                        <i class="fas fa-star"></i>
                        Hovedplanlegger
                    </label>

                    <div class="text-danger" style="display: none;"
                        id="mainPlanner_validationText">
                        Vennligst velg en hovedplanlegger
                    </div>
                    
                    <div>
                        [[ arrangement.mainPlanner.text ]]
                    </div>

                    <button class="wb-btn-main"
                        id="setMainPlannerButton"
                        type="button">
                        Velg hovedplanlegger
                    </button>

                    <div id="select-main-planner-popover" class="popover_wrapper dialog-popover-left-fix" style="display: none;">
                        <div class="popover_content" style="width: 50em!important;">
                            <h5>Velg hovedplanlegger</h5>
                            
                            <input type="search" name="" id="" class="form-control form-control-lg"
                                v-model="mainPlannerSearchTerm"
                                placeholder="Søk etter planlegger... (minst 3 tegn)">       

                            <div class="mt-3">
                                <div v-if="mainPlannerSearchResults.length">
                                    <div v-if="mainPlannerSearchTerm.length == 0"
                                        class="alert alert-info">
                                        <div class="d-flex align-items-center">
                                            <h2 class="mb-0"><i class="fas fa-info"></i></h2>
                                            
                                            <div class="ms-3">
                                                Uten søkeord vises alle personer med gruppe planlegger
                                                <br>
                                                Du kan fortsatt søke etter og velge personer uten gruppe planlegger ved å skrive inn minst 3 tegn i søkefeltet.
                                            </div>
                                        </div>
                                    </div>

                                    <table class="table table-highlight table-bordered table-sm" v-if="mainPlannerSearchResults.length">
                                        <tbody>
                                            <tr v-for="result in mainPlannerSearchResults" class="secondary-hover" @click="setMainPlanner(result)">
                                                <td>
                                                    <a>
                                                        [[ result.full_name ]]
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    <div class="clearfix">
                                        <small class="text-muted float-end fw-bold">
                                            <i class="fas fa-info"></i>&nbsp;
                                            Trykk på navnet til personen du ønsker å velge som hovedplanlegger for arrangementet
                                        </small>
                                    </div>
                                </div>
                                <div 
                                    class="alert alert-info"
                                    v-else>
                                    Ingen resultater
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="border rounded box-shadow-2 wb-bg-secondary p-4 mt-4">
                    <label for="" class="form-label">
                        <i class="fas fa-building"></i>&nbsp;
                        Rom
                    </label>
                    <div>
                        <button class="wb-btn-main"
                            type="button"
                            @click="openAddRoomsDialog()">
                            Velg rom
                        </button>
                    </div>
                    <div id="roomChips" class="chipsList">
                        <span v-for="room in arrangement.rooms">
                            <div class="bg-white p-2 rounded-3 me-2 mt-1 border border-dark">
                                [[room.text]]
                                
                                <a href="#">
                                    <i class="fa fa-times text-danger"
                                        :id="room.id"
                                        select-type="room"
                                        @click="rooms.splice(rooms.indexOf(room), 1)"
                                        d-trigger="removeAssociation">

                                    </i>
                                </a>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="border rounded box-shadow-2 wb-bg-secondary p-4 mt-4">
                    <label for="" class="form-label">
                        <i class="fas fa-users-cog"></i>&nbsp;
                        Planleggere
                    </label>
                    <div>
                        <button class="wb-btn-main"
                            type="button"
                            @click="openAddPlannersDialog()">
                            Velg planleggere
                        </button>
                    </div>
                    <div id="plannerChips" class="chipsList">
                        <span v-for="planner in arrangement.planners">
                            <div class="bg-white p-2 rounded-3 me-2 mt-1 border border-dark">
                                [[planner.text]]
                                
                                <a href="#">
                                    <i class="fa fa-times text-danger"
                                        :id="planner.id"
                                        select-type="person"
                                        @click="planners.splice(planners.indexOf(room), 1)"
                                        d-trigger="removeAssociation">

                                    </i>
                                </a>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="mb-2 mt-4 form-group">
                    <label>
                        <i class="fas fa-receipt"></i>&nbsp;
                        Billetkode
                    </label>
                    <input type="text"
                        class="form-control form-control-lg"
                        id="{{ form.ticket_code.id_for_label }}"
                        value="{{ form.ticket_code.value|default:'' }}"
                        name="{{ form.ticket_code.name }}"
                        placeholder="Billetkode..."
                        v-model="arrangement.ticket_code"/>
                </div>
                {% if form.ticket_code.errors|length > 0 %}
                    <div class="alert alert-danger">
                        {{ form.ticket_code.errors }}
                    </div>
                {% endif %}

                <div class="mb-2 form-group">
                    <label>
                        Forventet besøkende
                    </label>
                    <input type="number"
                        min="0"
                        class="form-control form-control-lg"
                        id="{{ form.expected_visitors.id_for_label }}"
                        value="{{ form.expected_visitors.value|default:'0' }}"
                        name="{{ form.expected_visitors.name }}"
                        v-model="arrangement.expected_visitors"
                        required />
                </div>
                {% if form.expected_visitors.errors|length > 0 %}
                    <div class="alert alert-danger">
                        {{ form.expected_visitors.errors }}
                    </div>
                {% endif %}
            </form>
        </div>
        <div id="step-3">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <h5 class="header-fonted">
                        <i class="fas fa-tv"></i>
                        Skjerm
                    </h5>
                    <label class="d-block">&nbsp; {% trans "Vises på skjerm:" %}</label>
                    {{form.display_layouts}}
                </div>

                <div class="col-lg-8 col-sm-12 mt-sm-2">
                    <div
                        class="form-group"
                        id="display-layout-text-group">

                        <div v-show="showDisplayText">
                            <input type="text" name="{{form.display_text.name}}"
                                class="form-control form-control-lg"
                                id="{{form.display_text.id_for_label}}"
                                v-model="arrangement.display_text"
                                placeholder="Skjermtekst...">
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="mt-2 form-group">
                <label>
                    <i class="fas fa-door-open"></i>&nbsp;
                    Møtested <i>(Norsk)</i>
                </label>
                <input type="text"
                    class="form-control form-control-lg"
                    id="{{ form.meeting_place.id_for_label }}"
                    value="{{ form.meeting_place.value|default:'' }}"
                    name="{{ form.meeting_place.name }}"
                    placeholder="{% trans 'Møtested' %}..."
                    v-model="arrangement.meeting_place"/>
                <div class="form-helper text-end">
                    <i class="fas fa-info-circle"></i>&nbsp;
                    Vil overskrive sted/rom vist på skjerm
                </div>
            </div>
            {% if form.meeting_place.errors|length > 0 %}
                <div class="alert alert-danger">
                    {{ form.meeting_place.errors }}
                </div>
            {% endif %}

            <div class="mt-2 form-group">
                <label>
                    <i class="fas fa-door-open"></i>&nbsp;
                    Møtested <i>(Engelsk)</i>
                </label>
                <input type="text"
                    class="form-control form-control-lg"
                    id="{{ form.meeting_place_en.id_for_label }}"
                    value="{{ form.meeting_place_en.value|default:'' }}"
                    name="{{ form.meeting_place_en.name }}"
                    placeholder="{% trans 'Møtested' %}..."
                    v-model="arrangement.meeting_place_en"/>
                <div class="form-helper text-end">
                    <i class="fas fa-info-circle"></i>&nbsp;
                    Vil overskrive sted/rom vist på skjerm
                </div>
            </div>
            {% if form.meeting_place.errors|length > 0 %}
                <div class="alert alert-danger">
                    {{ form.meeting_place.errors }}
                </div>
            {% endif %}
        </div>
        <div id="step-4">
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-lg btn-outline-dark btn-block shadow-0 mb-2 p-2"
                        style="text-transform: none; font-size: larger; border-width: 0.7px;"
                        @click="openPlanSerieDialog()">
                        <i class="fas fa-calendar-plus"></i>&nbsp;
                        Ny gjentagende aktivitet
                    </a>
                </div>
                <div class="col-6">
                    <a class="btn btn-lg btn-outline-dark shadow-0 btn-block mb-2 p-2"
                        style="text-transform: none; font-size: larger; border-width: 0.7px;"
                        @click="openPlanActivityDialog()">
                        <i class="fas fa-calendar-plus"></i>&nbsp;
                        Ny enkel aktivitet
                    </a>
                </div>
            </div>

            <hr class="mt-0">

            <div id="eventsBody">
                <div class="border border-2 rounded-2 p-3" id='[[element._uuid]]' style="background-color: #f6f6f0;"
                    v-for="event in arrangement.events">
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>
                            <i class="fas fa-calendar"></i>&nbsp;
                            [[event.title]]
                        </h3>
    
                        <h5>
                            [[event.start.toLocaleString()]] - [[event.end.toLocaleString()]]
                        </h5>    
                    </div>
                    
                    <div>
                        <span class="fw-bolder">Målgruppe:</span> [[event.audienceName]]
                    </div>
                    <div>
                        <span class="fw-bolder">Arrangement Type:</span> [[event.arrangementTypeName]]
                    </div>

                    <div class="mt-2">
                        <a href="#" class="btn wb-btn-main-outline bg-white border border-dark shadow-0 "
                            data-toggle='tooltip' title='{% trans "Edit this activity" %}'
                            @click="openDialog('newSimpleActivityDialog', { event_uuid: event._uuid})">
                            <i class="fas fa-edit"></i>&nbsp;
                            Rediger
                        </a>
                        <a href="#" class="btn wb-btn-main-outline bg-white border border-dark shadow-0 ms-2"
                            data-toggle='tooltip' title='{% trans "Remove this activity from the arrangement" %}'
                            @click="events.splice(events.indexOf(event), 1); dialog.data.eventsMap.delete(event._uuid);">
                            <i class="fas fa-trash"></i>&nbsp;
                            Slett
                        </a>
                    </div>
                </div>

            </div>
            <div id="timeplansBody">

                <div class="rounded-2 border border-2 p-3 ps-4 pe-4" 
                    :id='serie._uuid' 
                    style="background-color: #f6f6f0;"
                    v-for="serie in arrangement.series">

                    <code>
                        [[serie]]
                    </code>

                    <h3 class="mb-0">
                        <i class="fas fa-sync"></i>&nbsp;
                        [[serie.time.title]]
                    </h5>
                    <h5 class="mb-0"><i class="fas fa-clock"></i> [[serie.time.start]] - [[serie.time.end]] </h6>
                    <h6>[[serie.friendlyDesc]] </h6>

                    <div class="mb-2">
                        <a href="#" class="btn wb-btn-main-outline bg-white border border-dark shadow-0"
                            data-toggle='tooltip' title='{% trans "Edit this recurring activity" %}'
                            @click="openDialog('newTimePlanDialog', { serie_uuid: serie._uuid })">
                            <i class="fas fa-edit"></i>&nbsp;
                            Rediger tidsplan
                        </a>

                        <a href="#" class="btn wb-btn-main-outline bg-white border border-dark shadow-0 ms-2"
                            data-toggle='tooltip' title='{% trans "Remove this recurring activity from the arrangement to be" %}'
                            @click="series.splice(series.indexOf(serie), 1); dialog.data.seriesMap.delete(serie._uuid);">
                            <i class="fas fa-trash"></i>&nbsp;
                            Slett
                        </a>
                    </div>

                    <div class="accordion" id="accordion_series_[[serie._uuid]]" v-if="serie.collisions.length">
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <a
                            class="accordion-button text-muted collapsed"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#collisionsCollapse_[[serie._uuid]]"
                            aria-expanded="true"
                            aria-controls="collisionsCollapse_[[serie._uuid]]"
                            >
                            <span class="bg-danger rounded-pill text-white p-1 collisions-counter" id='[[serie._uuid]]_collisionCounter'>[[serie.collisions.length]]</span>
                            <i class="fas fa-exclamation-triangle ms-2"></i>&nbsp; Kollisjoner
                        </a>
                        </h2>
                        <div id="collisionsCollapse_[[serie._uuid]]" class="accordion-collapse collapse" aria-labelledby="headingOne" data-mdb-parent="#accordion_series_[[serie._uuid]]">
                            <div class="accordion-body" style="max-height: 35em; overflow: scroll;">
                                <div class="alert alert-danger small">
                                    <strong>OBS: </strong> kollisjoner som ikke blir <abbr title="Bryt ut kollisjoner til enkle aktiviteter og løs kollisjonen">brutt ut</abbr> og løst vil ikke bli opprettet
                                    når arrangementet opprettes.
                                </div>
                                
                                <div
                                    v-for="collisionRecord in serie.collisions">

                                        <div class="bg-dark border p-2 border-2 border-warning text-white p-3 shadow-3 conflict_summary_${collisionsCounter}"
                                            style='background-color: #f6f6f0'>
                                            <h5><i class="fas fa-exclamation-triangle"></i>&nbsp; Konflikt på [[collisionRecord.contested_resource_name]]</h5>
                                            <div class="row">
                                                <div class="col-5">
                                                    <div>
                                                        <div class="fw-bolder">[[collisionRecord.event_a_title]]</div>
                                                        <h6>[[collisionRecord.event_a_start]] - [[collisionRecord.event_a_end]]</h6>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <h3 class=" text-center"><i class="fas fa-arrow-right"></i></h3>
                                                </div>
                                                <div class="col-5">
                                                    <div>
                                                        <div class="fw-bolder">[[collisionRecord.event_b_title]]</div>
                                                        <h6>[[collisionRecord.event_b_start]] - [[collisionRecord.event_b_end]]</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <a href="#" class="btn wb-btn-secondary shadow-0"
                                                    d-trigger="breakOutEvent" d-arg-serie_uuid="[[serie._uuid]]" d-arg-collision_index="[[serie.collisions.length]]"><i class='fas fa-code-branch'></i>&nbsp; Løs konflikt
                                                </a>
                                            </div>
                                            <div v-if="collisionRecord.is_rigging">
                                                <br>

                                                <i class="fas fa-hammer"></i>&nbsp;Rigghendelse
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="navigationButtons clearfix pt-2">
        <div class="float-start">
            <button class="btn wb-btn-blank btn-lg text-muted"
                    d-trigger="close">
                <i class="fas fa-times"></i>&nbsp;
                Avbryt
            </button>
        </div>
        <div class="float-end">
            <button class="btn wb-btn-secondary btn-lg" id="back" type="button">Tilbake</button>
            <a class="btn wb-btn-main btn-lg" id="next" href="#"> Neste</a>
            <button class="btn wb-btn-main btn-lg" type="button" id="finish" d-trigger="submit" style="display: none;">
                Opprett arrangement
            </button>
        </div>
    </div>
</div>

<script type="module">
    import { JSTreeSelect } from "{% static 'js/jsTreeSelect.js' %}";
    import { Popover } from "{% static 'js/popover.js' %}";

    $(document).ready(function () {
        let createArrangementDialogApp = Vue.createApp({
            components: { TreeSelectComponent },
            data() {
                return {
                    dialog: null,
                    mainPlannerSearchTerm: null,
                    mainPlannerSearchResults: [],
                    mainPlannerPopover: null,
                    arrangement: {
                        title: null,
                        title_english: null,
                        audience: null,         // TODO: implement component
                        arrangement_type: null, // TODO: implement component
                        status: null,           // TODO: implement component
                        ticket_code: null,
                        expected_visitors: 0,
                        location: null,
                        events: [],                
                        series: [],
                        rooms: [],
                        meeting_place: null,
                        meeting_place_en: null,
                        serviceOrders: [],
                        planners: [],
                        mainPlanner: { id: null, text: null },
                        display_text: null,
                        display_layouts: []
                    },
                }
            },
            computed: {
                showDisplayText() {
                    let displayLayoutsWithRequisiteText = new Map([
                        {% for display_layout in DISPLAY_LAYOUTS_WITH_REQUISITE_TEXT %}
                            [ "{{ display_layout.id }}", true],
                        {% endfor %}
                    ]);

                    let showDisplayText = false;

                    this.arrangement.display_layouts.forEach((displayLayout) => {
                        if (displayLayoutsWithRequisiteText.has(displayLayout)) {
                            showDisplayText = true;
                        }
                    });

                    return showDisplayText;
                },
            },
            methods: {

                updateArrangementType(payload) {
                    this.arrangement.arrangement_type = payload.id;
                },

                /**
                 * @summary Open a dialog, with the option to send data to the dialog 
                 * @param {string} dialogName
                 * @param {object} data
                 */
                openDialog(dialogName, data = {}) {
                    let payload = {
                        $parent: this.dialog.dialogElement,
                        sendTo: '{{dialogId}}',
                        ...data
                    }

                    this.dialog.raiseTriggerEvent("{{managerName}}", dialogName, payload);
                },
                /**
                 * @summary Open dialog for planning a new activity
                 */
                openPlanActivityDialog() {
                    this.openDialog("newSimpleActivityDialog", {
                        data: { 
                            servicePresets: this.dialog.data.servicePresets,
                            mainPlannerPayload: this.dialog.data.mainPlannerPayload,
                            roomPayload: this.dialog.data.roomPayload,
                            ...this.dialog.vueApp.arrangement
                        }
                    });
                },
                /**
                * @summary Open dialog for planning a new timeplan / serie in the arrangement
                */
                openPlanSerieDialog() {
                    this.openDialog("newTimePlanDialog", {
                        data: {
                            servicePresets: this.dialog.data.servicePresets,
                            mainPlannerPayload: this.dialog.data.mainPlannerPayload,
                            roomPayload: this.dialog.data.roomPayload,
                            ...this.dialog.vueApp.arrangement
                        }
                    });
                },
                /**
                * @summary Open dialog for adding new rooms to the arrangement
                */
                openAddRoomsDialog(dialog, {} = {}, triggeredByElement) {
                    this.openDialog("{{orderRoomDialog}}");
                },
                /**
                * @summary Open dialog for adding new planners to the arrangement
                */
                openAddPlannersDialog(dialog, {} = {}, triggeredByElement) {
                    this.openDialog("{{orderPersonDialog}}", { multiple: true, data: { whenEventName: "plannersSelected" } });
                },
                /**
                * @summary Open dialog for setting the main planner
                */
                openSetMainPlannerDialog(dialog, {} = {}, triggeredByElement) {
                    this.openDialog("{{orderPersonDialog}}", { multiple: false, data: { whenEventName: "setPlanner" } });
                },
                /**
                * @summary Open dialog for ordering new services to the arrangement
                */
                openAddServiceOrderDialog(dialog, {} = {}, triggeredByElement) {
                    this.openDialog("orderServiceDialog", { multiple: false, data: { whenEventName: "newServiceOrder" }, entity_type: "unknown", entity_id: "0" });
                },

                setMainPlanner(planner) {
                    this.arrangement.mainPlanner = { id: planner.id, text: planner.full_name };

                    this.dialog.data.mainPlannerPayload = {
                        allPresets: new Map(),
                        allSelectedEntityIds: [ { id: planner.id, text: planner.full_name } ],
                        selectedPresets: [],
                        viewables: [ { id: planner.id, text: planner.full_name } ]
                    }

                    this.mainPlannerPopover.fadeAndHide();
                }
            },
            watch: {
                mainPlannerSearchTerm: async function (val) {
                        if (val.length > 2 || val.length == 0) {
                        await fetch("{% url 'arrangement:person_search_planners_ajax_view' %}?term=" + val, {
                            method: "GET",
                            headers: {
                                "X-CSRFToken": "{{ csrf_token }}",
                            },
                        }).then((response) => {
                            if (response.ok) {
                                response.json().then((data) => {
                                    this.mainPlannerSearchResults = JSON.parse(data);

                                    this.mainPlannerSearchResults.forEach((planner) => {
                                        planner.full_name = [ planner.first_name, planner.middle_name, planner.last_name ].join(" ");
                                    });
                                });
                            }
                            else {
                                console.log("HTTP-Error: " + response.status);
                            }
                        })
                    }
                }
            },
            delimiters: ['[[', ']]'],
            mounted() {
                this.mainPlannerSearchTerm = "";

                this.dialog = new Dialog({
                    vueApp: this,
                    managerName: '{{managerName}}',
                    dialogId: '{{dialogId}}',
                    discriminator: '{{discriminator}}',
                    postInit: function (dialog) {
                        dialog.querySelectorAll('.form-outline').forEach((formOutline) => {
                            new mdb.Input(formOutline).init();
                        });
                        const mainPlannerPopover = new Popover({
                            triggerElement: dialog.dialogElement.querySelector('#setMainPlannerButton'),
                            wrapperElement: dialog.dialogElement.querySelector('#select-main-planner-popover'),
                        });
                        dialog.vueApp.mainPlannerPopover = mainPlannerPopover;        

                        [
                            {
                                element: dialog.querySelector('#{{ form.location.id_for_label }}'),
                                invalidFeedback: "Vennligst velg en lokasjon",
                            },
                            {% comment %} {
                                element: dialog.querySelector('#{{ form.responsible.id_for_label }}'),
                                invalidFeedback: "Vennligst velg en hovedplanlegger",
                            }, {% endcomment %}
                            {% comment %} {
                                element: dialog.querySelector('#{{ form.status.id_for_label }}'),
                                invalidFeedback: 'Vennligst velg en status',
                            }, {% endcomment %}
                        ].forEach((select) => {
                            const mdbSelect = new mdb.Select(select.element, {
                                {% comment %} filter: true, {% endcomment %}
                                {% comment %} container: "[class='{{discriminator}}']", {% endcomment %}
                                validation: true,
                                noResultText: "Ingen resultater",
                                invalidFeedback: select.invalidFeedback,
                            });
                            mdbSelect._input.classList.add("form-control-lg", "dialog-select-hack");
            
                            select.element.addEventListener("change", (event) => {
                                $(mdbSelect._wrapper).find(".invalid-feedback").hide();
                            });
                        });
            
                        document.addEventListener("{{managerName}}.contextUpdated", (e) => {
                            if (e.detail.context.series !== undefined) {
                                const series = e.detail.context.series;
                                dialog.vueApp.arrangement.series = Array.from(series.values());
                                dialog.data.seriesMap = series;
                            }
                            if (e.detail.context.events !== undefined) {
                                const events = e.detail.context.events;
                                dialog.vueApp.arrangement.events = Array.from(events.values());
                                dialog.data.eventsMap = events;
                            }
                        });
            
                        dialog.data.stepper = new DialogStepper({
                            allowRailBasedNavigation: true,
                            steps: [
                            {
                                element: dialog.getElementById('step-1'),
                                title: 'Generelt',
                                stepIn: () => {},
                                stepOut: () => {
                                    let field_elements = dialog.$('#step-1').find("input, select");
                                    [
                                        mdb.Select.getInstance(dialog.querySelector('#{{ form.location.id_for_label }}')),
                                    ].forEach(mdbSelect => {
                                        if (mdbSelect.hasSelection?.label === "---------" ) {
                                            $(mdbSelect._wrapper).find(".invalid-feedback").show();
                                        }
                                    })
            
                                    for (let i = 0; i < field_elements.length; i++) {
                                        if (field_elements[i].checkValidity() === false) {
                                            dialog.$('#arrangementInfoForm').find(':submit').click();
                                            return false;
                                        }
                                    }
            
                                    if (dialog.vueApp.arrangement.audience === null) {
                                        toastr.error("Vennligst velg en målgruppe");
                                        return false;
                                    }
                                    if (!dialog.vueApp.arrangement.arrangement_type) {
                                        dialog.data.arrangementTypeJsTreeSelect.showInvalidFeedback();
                                        return false;
                                    }
            
                                    return true;
                                }
                            },
                            {
                                element: dialog.getElementById('step-2'),
                                title: 'Detaljer',
                                stepIn: () => {},
                                stepOut: () => {
                                    dialog.$('#step-2').find("input, select").each((index, $el) => {
                                        if ($el.checkValidity() === false) {
                                            dialog.$("#arrangementDetailsForm").find(':submit').click();
                                        }
                                    });
            
                                    {% comment %} const selectedMainPlanner = dialog.getElementById('{{form.responsible.id_for_label}}').value;
                                    if (!!selectedMainPlanner === false) {
                                        dialog.$("#mainPlanner_validationText").show();
                                        return false;
                                    }
                                    else {
                                        dialog.$("#mainPlanner_validationText").hide();
                                    } {% endcomment %}
            
                                    return true;
                                }
                            },
                            {
                                element: dialog.getElementById('step-services'),
                                title: 'Tjenestebestilling',
                                stepIn: () => {},
                                stepOut: () => {
                                    return true;
                                }
                            },
                            {
                                element: dialog.getElementById('step-3'),
                                title: 'Skjermvisning',
                                stepIn: () => {},
                                stepOut: () => {},
                            },
                            {
                                element: dialog.getElementById('step-4'),
                                title: 'Tidsplaner & Aktiviteter',
                                stepIn: () => {
                                    dialog.getElementById('next').style.display = "none";
                                    dialog.getElementById('finish').style.display = "inline-block";
                                },
                                stepOut: () => {
                                    dialog.getElementById('finish').style.display = "none";
                                    dialog.getElementById('next').style.display = "inline-block";
                                }
                            },
                        ]
                        });
            
                        dialog.getElementById('next').onclick = () => dialog.data.stepper.next();
                        dialog.getElementById('back').onclick = () => dialog.data.stepper.back();
                    },
                    methods: {
                        close(dialog, {} = {}, triggeredByElement) {
                            dialog.closeAllDialogsInThisManagerGroup();
                        },
                        validate(dialog, {} = {}, triggeredByElement) {
                            let field_elements = dialog.$('#arrangementInfoForm').find("input, select");
            
                            for (let i = 0; i < field_elements.length; i++) {
                                if (field_elements[i].checkValidity() === false) {
                                    dialog.$('#arrangementInfoForm').find(':submit').click();
                                    return false;
                                }
                            }
            
                            return true;
                        },
                        has_plans(dialog, {} = {}, triggeredByElement) {
                            return dialog.data.seriesMap !== undefined && dialog.data.seriesMap.size > 0 ||
                                dialog.data.eventsMap !== undefined && dialog.data.eventsMap.size > 0;
                        },
                        hasUnresolvedCollisions(dialog, {} = {}, triggeredByElement) {
                            const $collisionCountersPresentInDialog = dialog.$('.collisions-counter').toArray();
            
                            for(let i = 0; i < $collisionCountersPresentInDialog.length; i++) {
                                let $collisionCounter = $collisionCountersPresentInDialog[i];
                                try {
                                    if (parseInt($collisionCounter.innerText) > 0)
                                        return true;
                                }
                                catch (error) {
                                    console.warn(`Could not parse ${$collisionCounter.innerText} to integer for collision counter check.`)
                                }
                            }
                        },
                        submit(dialog, {} = {}, triggeredByElement) {
                            if (dialog.validate() === false) {
                                return;
                            }
                            if (dialog.has_plans() === false) {
                                toastr.warning("Plan(er) må opprettes før vi kan opprette arragementet - du må sette tider.");
                                return;
                            }
            
                            const save = (resolution_behaviour=0) => {
                                console.log("The interior", dialog.interior)
                                let formData = new FormData();
                                console.log("name", dialog.getElementById('id_name').value);
                                formData.append("name",             dialog.getElementById('id_name').value);
                                formData.append("name_en",          dialog.getElementById('id_name_en').value);
                                formData.append("audience",         dialog.vueApp.arrangement.audience);
                                formData.append("location",         dialog.getElementById('id_location').value);
                                formData.append("arrangement_type", dialog.vueApp.arrangement.arrangement_type);
                                formData.append("responsible",      dialog.getElementById('id_responsible').value);
                                formData.append("ticket_code",      dialog.getElementById('id_ticket_code').value || '');
                                formData.append("meeting_place",    dialog.getElementById('id_meeting_place').value);
                                formData.append("meeting_place_en", dialog.getElementById('id_meeting_place_en').value);
                                formData.append("expected_visitors",dialog.getElementById('id_expected_visitors').value);
                                if (dialog.data.selectedPlannerIds)
                                    Array.from(dialog.data.selectedPlannerIds.keys())
                                        .forEach( ( id ) => formData.append("planners", id) )
            
                                let statusValue = dialog.vueApp.arrangement.status;
                                if (statusValue !== undefined)
                                    formData.append("status", statusValue);
                                formData.append("display_text",     dialog.vueApp.arrangement.display_text);
                                formData.append("collision_resolution_behaviour", resolution_behaviour);
                
                                let displayLayouts = [];
                                dialog.querySelectorAll("input[name='display_layouts'][type='checkbox']:checked").forEach(element => {
                                    formData.append("display_layouts", element.value);
                                })  
                
                                formData.append("csrf_token",       "{{csrf_token}}");
                
                                let seriesArray = dialog.data.seriesMap !== undefined ? Array.from(dialog.data.seriesMap.values()) : [];
                                seriesArray.forEach((serie) => { serie.collision_resolution_behaviour = resolution_behaviour });
            
                                let eventsArray = dialog.data.eventsMap !== undefined ? Array.from(dialog.data.eventsMap.values()) : [];
                
                                document.dispatchEvent(
                                    new CustomEvent("{{managerName}}.submit", { "detail": {
                                        dialog: "createArrangementDialog",
                                        formData: formData,
                                        series: seriesArray,
                                        events: eventsArray,
                                    }})
                                );
                            }
            
                            if (dialog.hasUnresolvedCollisions()) {
                                const result = Swal.fire({
                                    title: 'Uoppklarte kollisjoner',
                                    html: "Det er registrert kollisjoner på en eller flere serier som ikke har blitt oppklart ennå.<br><br>" +
                                          "Vi kan løse dette på to måter:<br>" +
                                          "<ul>" +
                                            "<li>Ignorere disse aktivitetene</li>" +
                                            "<li>Opprette de uten rom</li>" +
                                          "</ul><br>" +
                                          "Hva gjør vi?",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    showCloseButton: true,
                                    showCancelButton: true,
                                    showDenyButton: true,
                                    denyButtonText: "Opprett kollisjoner uten rom",
                                    confirmButtonText: 'Ignorer kolliderende aktiviteter'
                                }).then((result) => {
                                    if (result.isConfirmed === true) {
                                        save(0); // 0 designates behaviour ignore colliding activities (dont create them)
                                    }
                                    if (result.isDenied === true) {
                                        // We use the isDenied button for "create without rooms", adding custom buttons to SWAL is a bit tedious,
                                        // so we just override an existing one to fit our purpose.
                                        save(1); // 1 designates behaviour remove contested resources
                                    }
                                });
                            }
                            else {
                                save();
                            }
                        },
                        removeAssociation(dialog, {} = {}, triggeredByElement) {
                            const itemId = triggeredByElement.id;
                            const type = triggeredByElement.getAttribute("select-type");
            
                            let mapOfSelectedItemIds = null;
                            let appropriatePresetMap = null;
            
                            if (type === "room") {
                                mapOfSelectedItemIds = dialog.data.selectedRoomIds;
                                appropriatePresetMap = dialog.data.roomPresets;
                            }
                            else if (type === "serviceOrder") {
                                dialog.data.servicePresets.delete(itemId);
                                triggeredByElement.parentElement.parentElement.remove();
                                return;
                            }
                            else {
                                throw Error("Type not recognized")
                            }
            
                            if (itemId.startsWith("preset_")) {
                                const preset = appropriatePresetMap.get(id.split("_")[1]);
                                preset.ids.forEach((id) => mapOfSelectedItemIds.delete(id));
                            }
                            else {
                                mapOfSelectedItemIds.delete(itemId);
                            }
            
                            triggeredByElement.remove();
                        },
                        breakOutEvent(dialog, { serieUuid, collisionIndex } = {}, triggeredByElement) {
                            dialog.raiseTriggerEvent("arrangementCreator", "breakOutActivityDialog", {
                                serie: dialog.data.seriesMap.get(serieUuid),
                                collision_index: collisionIndex,
                            });
                        },
                    },
                    when: [
                        { eventKnownAs: "newServiceOrder", do: (dialog, payload) => {
                            // this stuff needs to be rewritten along with the other similar methods
                            // maybe use vue or a dialog plugin -- because this is not even a remotely good way of doing it
                
                            dialog.data.servicePresets = new Map((payload.concat(
                                Array.from(dialog.data.servicePresets.values())
                            )).map(x => [crypto.randomUUID(), x]));

                            dialog.vueApp.arrangement.serviceOrders = 
                                Array.from(dialog.data.servicePresets.entries())
                                .map(x => { return { key: x[0], ...x[1] } });

                        } },
                        { eventKnownAs: "roomsSelected", do: (dialog, payload) => {
                                dialog.data.selectedRoomIds = new Map();
                                dialog.data.roomPresets = new Map();
                                payload.allSelectedEntityIds.forEach( (x) => dialog.data.selectedRoomIds.set(x.id, true) );
                                payload.selectedPresets.forEach( (presetId) => dialog.data.roomPresets.set(presetId, payload.allPresets.get(presetId)) );
                
                                dialog.data.roomPayload = payload;

                                dialog.vueApp.arrangement.rooms = payload.viewables;
                        } },
                        { eventKnownAs: "plannersSelected", do: (dialog, payload) => {
                            dialog.data.selectedPlannerIds = new Map();
                            dialog.data.plannerPresets = new Map();
                            payload.allSelectedEntityIds.forEach( (x) => dialog.data.selectedPlannerIds.set(x.id, true) );
                            payload.selectedPresets.forEach( (presetId) => dialog.data.plannerPresets.set(presetId, payload.allPresets.get(presetId)));
            
                            dialog.data.plannerPayload = payload;

                            dialog.vueApp.arrangement.planners = payload.viewables;
                        } },
                        { eventKnownAs: "setPlanner", do: (dialog, payload) => {
                            if (payload.allSelectedEntityIds.length == 0)
                                return;
            
                            dialog.$("#mainPlanner_validationText").hide();
            
                            // save the payload so that it can be re-used / re-applied to child activities / series
                            dialog.data.mainPlannerPayload = payload;
                            const person = payload.viewables[0];
                            
                            dialog.vueApp.arrangement.mainPlanner = { id: person.id, text: person.text }

                            dialog.getElementById('{{ form.responsible.id_for_label }}').value = person.id;
                            dialog.getElementById('setMainPlannerButton').innerText = "Endre hovedplanlegger";
                        } }
                    ],
                    data: {
                        servicePresets: new Map(),
                        roomPresets: new Map(),
                        personPresets: new Map(),
                        selectedRoomIds: new Map(),
                        seriesMap: new Map(),
                        eventsMap: new Map(),
                        stepper: null,
                        vueApp: null,
                    },
                });
            }
        });

        console.log(document.getElementsByClassName(".{{discriminator}}")[0])

        createArrangementDialogApp.mount(   
            document.getElementsByClassName("{{discriminator}}")[0]
        )
    })
</script>
