{% load static i18n %}


<div id="createArrangementDialog" class="uiDialog"
     title="<span class='badge badge-success'><i class='fas fa-plus'></i></span>&nbsp; Planlegg nytt arrangement">

    <div class="dialogBodyWrapper">
        <div class="row">
            <div class="col-6">
                <form id="arrangementInfoForm">
                    <input type="submit" style="display:none;" />

                    <fieldset>
                        <h5 class="header-fonted">
                            <i class="fas fa-clipboard"></i>
                            Informasjon om arrangementet
                        </h5>
                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Navn:</strong>
                                        <input type="text"
                                            class="form-control mb-2"
                                            id="{{ form.name.id_for_label }}" 
                                            value="{{ form.name.value|default:'' }}"
                                            name="{{ form.name.name }}"
                                            autocomplete="off"
                                            placeholder="{% trans 'Name of the arrangement' %}..."
                                            required />
            
                                        <strong>Navn <em>(engelsk)</em>:</strong>
                                        <input type="text"
                                            class="form-control"
                                            id="{{ form.name_en.id_for_label }}" 
                                            value="{{ form.name_en.value|default:'' }}"
                                            name="{{ form.name_en.name }}"
                                            autocomplete="off"
                                            placeholder="{% trans 'Name of the arrangement in english' %}..."
                                            />
            
                                        {% if form.name_en.errors|length > 0 %}
                                            <div class="alert alert-danger">
                                                {{ form.name_en.errors }}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
            
                                <tr>
                                    <td>
                                        <strong>Målgruppe:</strong>
                                        <div>
                                            {{ form.audience }}
                                        </div>
                
                                        {% if form.audience.errors|length > 0 %}
                                            <div class="alert alert-danger">
                                                {{ form.audience.errors }}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
            
                                <tr>
                                    <td colspan="3">
                                        <strong>Lokasjon</strong>
                                        <div>
                                            {{ form.location }}
                                        </div>
            
                                        {% if form.location.errors|length > 0 %}
                                            <div class="alert alert-danger">
                                                {{ form.location.errors }}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
            
                                <tr>
                                    <td colspan='2'>
                                        <strong>Arrangementstype:</strong>
                                        <div>
                                            {{ form.arrangement_type }}
                                        </div>
                                        
                                        {% if form.arrangement_type.errors|length > 0 %}
                                            <div class="alert alert-danger">
                                                {{ form.arrangement_type.errors }}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
            
                                <tr>
                                    <td colspan='2'>
                                        <strong>Hovedplanlegger:</strong>
                                        <div>
                                            {{ form.responsible }}
                                        </div>
            
                                        {% if form.responsible.errors|length > 0 %}
                                            <div class="alert alert-danger">
                                                {{ form.responsible.errors }}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
            
                                <tr>
                                    <td colspan="2">
                                        <strong>Billetkode</strong>
            
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text">
                                                <i class="fas fa-receipt"></i>
                                            </span>
                                            <input type="text"
                                                class="form-control"
                                                id="{{ form.ticket_code.id_for_label }}" 
                                                value="{{ form.ticket_code.value|default:'' }}"
                                                name="{{ form.ticket_code.name }}"
                                                placeholder="{% trans 'Ticket code' %}..."/>
                                        </div>
            
                                        {% if form.ticket_code.errors|length > 0 %}
                                            <div class="alert alert-danger">
                                                {{ form.ticket_code.errors }}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
            
                                <tr>
                                    <td colspan="2">
                                        <strong>Møtested</strong>
            
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text">
                                                <i class="fas fa-building"></i>
                                            </span>
                                            <input type="text"
                                                class="form-control"
                                                id="{{ form.meeting_place.id_for_label }}" 
                                                value="{{ form.meeting_place.value|default:'' }}"
                                                name="{{ form.meeting_place.name }}"
                                                placeholder="{% trans 'Meeting place' %}..."/>
                                        </div>
                                        <div id="textExample1" class="form-text">
                                            <i class="fas fa-exclamation-circle"></i>&nbsp;
                                            Vil overskrive sted/rom vist på skjermer.
                                        </div>
            
                                        {% if form.meeting_place.errors|length > 0 %}
                                            <div class="alert alert-danger">
                                                {{ form.meeting_place.errors }}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
            
                                <tr>
                                    <td colspan="2">
                                        <strong>Expected amount of visitors</strong>
            
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text">
                                                <i class="fas fa-users"></i>
                                            </span>
                                            <input type="number"
                                                min="0"
                                                class="form-control"
                                                id="{{ form.expected_visitors.id_for_label }}" 
                                                value="{{ form.expected_visitors.value|default:'' }}"
                                                name="{{ form.expected_visitors.name }}"
                                                required />
                                        </div>
            
                                        {% if form.expected_visitors.errors|length > 0 %}
                                            <div class="alert alert-danger">
                                                {{ form.expected_visitors.errors }}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
            
                                <tr>
                                    <td colspan="2">
                                        <label class="d-block"><i class='fas fa-desktop'></i>&nbsp; {% trans "Show on:" %}</label>
                                        {{form.display_layouts}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>
            <div class="col-6">
                <tr>
                    <td>
                        <h5 class="header-fonted">
                            <i class="fas fa-clock"></i>
                            Plan
                        </h4>
                        <div class="row mt-4">
                            <div class="col-6">
                                <button class="playfulButton playfulButton-green" id="createArrangementDialog_createSimpleActivity">
                                    <!-- <div class="icon"><i class="fas fa-plus"></i></div> -->
                                    Ny enkel aktivitet
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="playfulButton  playfulButton-green" id="createArrangementDialog_createSerie">
                                    <!-- <div class="icon"><i class="fas fa-plus"></i></div> -->
                                    Ny tidsplan
                                </button>
                            </div>
                        </div>

                        <h5 class="mt-3">Tidsplaner: </h5>
                        <div id="timeplansBody"></div>

                        <!-- <table class="table-sm table">
                            <tbody id="seriesTbody">
                            </tbody>
                        </table> -->

                        <h5 class="mt-3">Enkle aktiviteter: </h5>
                        <table class="table-sm table">
                            <tbody id="eventsTbody">
                            </tbody>
                        </table>
                    </td>
                </tr>
            </div>
        </div>
        <button class=" btn btn-sm shadow-0 btn-success btn-block"
        type="button"
        onclick="createArrangementDialog_submit()">
            Opprett Arrangement
        </button>
    </div>
</div>

<script>

    var seriesMap;
    var eventsMap;

    $(document).ready(function () {
        document.addEventListener("{{managerName}}.contextUpdated", (e) => {
            if (e.detail.context.series !== undefined) {
                setSeries(e.detail.context.series);
            }
            if (e.detail.context.events !== undefined) {
                setEvents(e.detail.context.events);
            }
        })

        $("input[name='display_layouts'][type='checkbox']").on("change", (e) => {
            var $enTitleElement = $('#id_name_en');
            var countSeletedDisplayLayouts = $("input[name='display_layouts'][type='checkbox']:checked").length;

            if (countSeletedDisplayLayouts === 0) {
                $enTitleElement.removeAttr("required");
            }
            else {
                $enTitleElement.attr("required", true);
            }
        });
    })

    function validate_arrangement_info_form() {
        let field_elements = $('#arrangementInfoForm').find("input, select");

        let isInvalid = false;

        for (let i = 0; i < field_elements.length; i++) {
            if (field_elements[i].checkValidity() === false) {
                isInvalid = true;
                break;
            }
        }

        if (isInvalid) {
            $('#arrangementInfoForm').find(':submit').click();
            return false;
        }

        return true;
    }

    function has_plans () {
        let has_plans = false;

        console.log("SeriesMap", seriesMap);
        console.log("EventsMap", eventsMap)

        if (seriesMap !== undefined && seriesMap.size > 0) {
            has_plans = true;
        }
        if (eventsMap !== undefined && eventsMap.size > 0) {
            has_plans = true;
        }

        return has_plans;
    }

    function createArrangementDialog_submit() {

        if (validate_arrangement_info_form() === false) {
            return;
        }
        if (has_plans() === false) {
            toastr.warning("Plan(er) må opprettes før vi kan opprette arragementet - du må sette tider.");
            return;
        }

        var formData = new FormData();
        formData.append("name",             $('#id_name').val());
        formData.append("name_en",          $('#id_name_en').val());
        formData.append("audience",         $('#id_audience').val());
        formData.append("location",         $('#id_location').val());
        formData.append("arrangement_type", $('#id_arrangement_type').val());
        formData.append("responsible",      $('#id_responsible').val());
        formData.append("ticket_code",      $('#id_ticket_code').val());
        formData.append("meeting_place",    $('#id_meeting_place').val());
        formData.append("expected_visitors",$('#id_expected_visitors').val());
        
        let displayLayouts = [];
        document.querySelectorAll("input[name='display_layouts'][type='checkbox']:checked").forEach(element => {
            formData.append("display_layouts", element.value);
        })

        formData.append("csrf_token",       "{{csrf_token}}");

        var seriesArray = seriesMap !== undefined ? Array.from(seriesMap.values()) : [];
        var eventsArray = eventsMap !== undefined ? Array.from(eventsMap.values()) : [];

        document.dispatchEvent(
            new CustomEvent("{{managerName}}.submit", { "detail": {
                dialog: "createArrangementDialog",
                formData: formData,
                series: seriesArray,
                events: eventsArray,
            }})
        );
    }

    function setEvents(events) {
        eventsMap = new Map();

        var tbody = $('#eventsTbody');
        tbody.html("");

        events.forEach(element => {
            eventsMap.set(element._uuid, element);
            tbody.append(
                $(`
                    <tr id='${element._uuid}'> 
                        <td> ${element.title} (${element.start} - ${element.end}) </td> 
                        <td> 
                            <div class='btn-group'>
                                <button class='btn btn-sm btn-danger shadow-0' 
                                    data-toggle='tooltip' title='{% trans "Remove this serie from the arrangement to be" %}' 
                                    onclick='createArrangementDialog_removeSimpleActivity("${element._uuid}")'>
                                    <i class='fas fa-trash'></i>
                                </button> 
                                <button class='btn btn-sm btn-success shadow-0' 
                                    data-toggle='tooltip' title='{% trans "Edit this serie" %}' 
                                    onclick='createArrangementDialog_editSimpleActivity("${element._uuid}")'>
                                    <i class='fas fa-edit'></i>
                                </button> 
                            </div>
                        </td> 
                    </tr>`)
            )
        })
    } 

    function setSeries(series) {
        seriesMap = new Map();

        var tbody = $('#timeplansBody');
        tbody.html("")

        series.forEach(element => {
            var uuid = crypto.randomUUID();
            seriesMap.set(element._uuid, element);
            collisions_html = "";
            console.log(element)
            if (element.collisions !== undefined) {
                element.collisions.forEach(collisionRecord => {
                    collisions_html += ` 
                    <div class="small p-4 bg-light border">
                        ${collisionRecord.event_a_title} <i>(${collisionRecord.event_a_start} - ${collisionRecord.event_a_end})</i>
                        <div>
                            Kolliderer med <strong>${collisionRecord.event_b_title} <i>(${collisionRecord.event_b_start} - ${collisionRecord.event_b_end})</i></strong> på eksklusiv ressurs <strong>${collisionRecord.contested_resource_name}</strong>
                        </div>
                        <div class="clearfix">
                            <a href="#" class="btn btn-success text-white shadow-0">Bryt ut</a>
                        </div>
                    </div>
                    `
                })
            }
            console.log(collisions_html)

            tbody.append(
                $(`
                        <div class="rounded border  p-3 ps-4 pe-4" id='${element._uuid}'>
                            <h5 class="mb-0 text-muted">${element.time.title}</h5>
                            <h6 class="mb-0"><i class="fas fa-clock"></i> ${element.time.start} - ${element.time.end} </h6>
                            <h6><i class="fas fa-redo"></i> ${element.pattern.pattern_type} (${element.pattern.pattern_routine})</h6>

                            <div class="btn-group shadow-0 mb-2">
                                <a href="#" class="btn btn-success text-white"
                                    data-toggle='tooltip' title='{% trans "Edit this serie" %}' 
                                    onclick='createArrangementDialog_editSerie("${element._uuid}")'>
                                    <i class="fas fa-edit"></i>&nbsp; Rediger tidsplan
                                </a>
                                <a href="#" class="btn btn-danger text-white"
                                    data-toggle='tooltip' title='{% trans "Remove this serie from the arrangement to be" %}' 
                                    onclick='createArrangementDialog_removeSerie("${element._uuid}")'>
                                    <i class="fas fa-trash"></i>&nbsp; Slett tidsplan
                                </a>
                            </div>
                            <div class="accordion" id="accordion_series_${element._uuid}">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingOne">
                                    <a
                                      class="accordion-button text-muted collapsed"
                                      type="button"
                                      data-mdb-toggle="collapse"
                                      data-mdb-target="#collisionsCollapse_${element._uuid}"
                                      aria-expanded="true"
                                      aria-controls="collisionsCollapse_${element._uuid}"
                                    >
                                    <span class="bg-danger rounded-pill text-white p-1">${element.collisions.length}</span>
                                    <i class="fas fa-exclamation-triangle ms-2"></i>&nbsp; Kollisjoner
                                  </a>
                                  </h2>
                                  <div id="collisionsCollapse_${element._uuid}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-mdb-parent="#accordion_series_${element._uuid}">
                                    <div class="accordion-body">
                                        <div class="alert alert-danger small">
                                            <strong>OBS: </strong> kollisjoner som ikke blir <abbr title="Bryt ut kollisjoner til enkle aktiviteter og løs kollisjonen">brutt ut</abbr> og løst vil ikke bli opprettet
                                            når arrangementet opprettes.
                                        </div>
                                        ${collisions_html}
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                `)
            )
        });
    }

    function createArrangementDialog_removeSerie(uuid) {
        $('#' + uuid).remove();
        seriesMap.delete(uuid);
    }


    function createArrangementDialog_removeSimpleActivity(uuid) {
        $('#' + uuid).remove();
        eventsMap.delete(uuid);
    }

    function createArrangementDialog_editSimpleActivity(uuid) {
        document.dispatchEvent(
            new CustomEvent("arrangementCreator.newSimpleActivityDialog.trigger", { "detail": {
                "event_uuid": uuid
            } })
        )
    }

    function createArrangementDialog_editSerie(uuid) {
        document.dispatchEvent(
            new CustomEvent("arrangementCreator.newTimePlanDialog.trigger", { "detail": {
                "serie_uuid": uuid
            } })
        )
    }

</script>