{% load static i18n %}

<div id="{{dialogId}}" title="Ny tidsplan" class="{{discriminator}}">
    <div style="max-height: 700px; overflow:scroll;">
        <div class="row">
            <div class="col-12">
                <form id="headMockForm">
                    <input type="submit" style="display:none;" />
        
                    <div class="row">
                        <div class="col-7">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <div class="form-outline mb-2">
                                        <input type="text" id="serie_title" class="form-control" />
                                        <label class="form-label" for="serie_title">🇳🇴 Tittel på norsk</label>
                                    </div>    
                                </div>
                                <div class="col-12">
                                    <div class="form-outline mb-2">
                                        <input type="text" id="serie_title_en" class="form-control" />
                                        <label class="form-label" for="serie_title_en">🇬🇧 Tittel på engelsk</label>
                                    </div>  
                                </div>
                            </div>
                
                            <div class="row mb-2">
                                <div class="col-5">
                                    <div class="form-outline timepicker-inline-24 mb-2" id="serie_start_picker">
                                        <input type="text" class="form-control" id="serie_start" />
                                        <label class="form-label" for="serie_start"><i class="fas fa-clock"></i>&nbsp; Start <small>(<i>HH:mm</i>)</small></label>
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <h3><i class="fas fa-arrow-right wb-text-main"></i></h3>
                                </div>
                                <div class="col-5">
                                    <div class="form-outline timepicker-inline-24 mb-2" id="serie_end_picker">
                                        <input type="text" class="form-control" id="serie_end" />
                                        <label class="form-label" for="serie_end"><i class="fas fa-clock"></i>&nbsp; Slutt <small>(<i>HH:mm</i>)</small></label>
                                    </div>
                                </div>
                            </div>
            
                            <div class="form-outline mb-3">
                                <input type="text" id="serie_ticket_code" class="form-control" />
                                    <label class="form-label" for="serie_ticket_code"><i class="fas fa-receipt"></i>&nbsp; Ticket Code</label>
                            </div>        
                            <div class="form-outline mb-2">
                                <input type="text" id="serie_expected_visitors" class="form-control" />
                                    <label class="form-label" for="serie_expected_visitors"><i class="fas fa-users"></i>&nbsp; Expected Visitors</label>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="accordion accordion-flush" id="createSerieDialog_accordion">
                                <div class="accordion-item">
                                    <h5 class="accordion-header">
                                        <button
                                          class="accordion-button collapsed"
                                          type="button"
                                          data-mdb-toggle="collapse"
                                          data-mdb-target="#createSerieDialogAccordion-people"
                                          aria-expanded="false"
                                          aria-controls="createSerieDialogAccordion-people">
                                          <div class="badge badge-secondary" id="peopleCounter">0</div>
                                          &nbsp;<i class="fas fa-users"></i>&nbsp;
                                          Personer
                                        </button>
                                    </h5>
                                    <div
                                      id="createSerieDialogAccordion-people"
                                      class="accordion-collapse collapse"
                                      aria-labelledby="createSerieDialogAccordion-people"
                                      data-mdb-parent="#createSerieDialog_accordion">
                  
                                      <div class="accordion-body">
                                          <a class="btn btn-block wb-btn-secondary shadow-0"
                                          onclick="createSerieDialog__openAddPeople()"
                                          type="button">
                                              <i class="fas fa-plus"></i>
                                              Legg til personer
                                          </a>
                  
                                          <div id="peopleChips"></div>
                                      </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-header">
                                        <button
                                          class="accordion-button collapsed"
                                          type="button"
                                          data-mdb-toggle="collapse"
                                          data-mdb-target="#createSerieDialogAccordion-rooms"
                                          aria-expanded="false"
                                          aria-controls="createSerieDialogAccordion-rooms">
                                          <div class="badge badge-secondary" id="roomsCounter">0</div>
                                          &nbsp;<i class="fas fa-building"></i>&nbsp;
                                          Rom
                                        </button>
                                    </h5>
                                    <div
                                      id="createSerieDialogAccordion-rooms"
                                      class="accordion-collapse collapse"
                                      aria-labelledby="createSerieDialogAccordion-rooms"
                                      data-mdb-parent="#createSerieDialog_accordion">
                  
                                      <div class="accordion-body">
                                        <a class="btn btn-block wb-btn-secondary shadow-0"
                                        onclick="createSerieDialog__openAddRooms()"
                                        type="button">
                                            <i class="fas fa-plus"></i>
                                            Legg til rom
                                        </a>
                
                                        <div id="roomChips"></div>

                                        <div class="table-responsive mt-2">
                                            <table class="table table-sm">
                                                <tbody id="roomsTbody"></tbody>
                                            </table>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <input type="hidden" name="uuid" id="serie_uuid">

        <div class="accordion accordion-flush" id="createSerieDialog_accordion2">
            <div class="accordion-item">
                <h5 class="accordion-header">
                    <button
                        class="accordion-button"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#createSerieDialog_screensAccordion"
                        aria-expanded="false"
                        aria-controls="createSerieDialog-screensAccordion">

                        <i class="fas fa-tv"></i>&nbsp; Vises på
                    </button>
                </h5>

                <div 
                    id="createSerieDialog_screensAccordion"
                    class="accordion-collapse show"
                    aria-labelledby="createSerieDialog-screensAccordion"
                    data-mdb-parent="#createSerieDialog_accordion2">

                    <div class="accordion-body">
                        {% for choice_id, choice_label in form.display_layouts_serie_planner.field.choices %}
                            <div class="badge border fw-light border-body text-muted rounded-pill clickable-badge p-3 m-1">
                                <input type="checkbox" value="{{choice_id}}" name="display_layouts_serie_planner" id="id_display_layouts_serie_planner_{{choice_id}}" />
                                <label for="id_display_layouts_serie_planner_{{choice_id}}">&nbsp;{{choice_label}}</label>
                            </div>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h5 class="accordion-header">
                    <button 
                        class="accordion-button"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#createSerieDialog_patternAccordion">
                        
                        <i class="fas fa-redo"></i>&nbsp; Mønster for gjentagende område
                    </button>
                </h5>

                <div 
                    id="createSerieDialog_patternAccordion"
                    class="accordion-collapse show"
                    aria-labelledby="createSerieDialog-patternAccordion"
                    data-mdb-parent="#createSerieDialog_accordion2">

                    <div class="accordion-body">
                        <fieldset>
                            <div class="row">
                                <div class="col-3 border-end border-1">
                                    <form id="patternMockForm">
                                        <input type="submit" style="display:none;" />
                
                                        <div>
                                            <input type="radio" name="pattern" id="radio_pattern_daily" value="1" checked required/><label>&nbsp; Daily</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="pattern" id="radio_pattern_weekly" value="2"/><label>&nbsp; Weekly</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="pattern" id="radio_pattern_monthly" value="3"/><label>&nbsp; Monthly</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="pattern" id="radio_pattern_yearly" value="4"/><label>&nbsp; Yearly</label>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-9">
                                    <div id="patternRoute_daily">
                                        <div>
                                            <input type="radio" name="pattern_daily_subroute" id="radio_pattern_daily_every_x_day_subroute" value="0" required/>
                                            <label>Every <input type="number" min="1"  id="every_x_day__interval" required /> day</label>
                                        </div>
                                        
                                        <div>
                                            <input type="radio" name="pattern_daily_subroute" id="radio_pattern_daily_every_weekday_subroute" value="1"/>
                                            <label>Every weekday</label>
                                        </div>
                                    </div>
                
                                    <div id="patternRoute_weekly" style="display: none;">
                                        <div><label>Skjer hver <input type="number" min="1" id="week_interval" name="repeat_every_x_week" style="width: 40px" required/> week at:</label></div>
                                        <span id="day_checkbox_wrapper">
                                            <input type="checkbox" id="monday"> <label>Monday</label>
                                            <input type="checkbox" id="tuesday"> <label>Tuesday</label>
                                            <input type="checkbox" id="wednesday"> <label>Wednesday</label>
                                            <input type="checkbox" id="thursday"> <label>Thursday</label>
                                            <input type="checkbox" id="friday"> <label>Friday</label>
                                            <input type="checkbox" id="saturday"> <label>Saturday</label>
                                            <input type="checkbox" id="sunday"> <label>Sunday</label>
                                        </span>
                                    </div>
                
                                    <div id="patternRoute_monthly" style="display: none;">
                                        <div>
                                            <input type="radio" name="pattern_monthly_subroute" id="every_x_day_every_y_month__day_of_month_radio" value="0" required /> 
                                            Day <input type="number" min="1" required id="every_x_day_every_y_month__day_of_month" style="width: 40px"> every <input type="number" required min="1" id="every_x_day_every_y_month__month_interval" style="width: 40px;"> month
                                        </div>
                                        <div>
                                            <input type="radio" name="pattern_monthly_subroute" id="every_x_day_every_y_month__month_interval_radio" value="1" /> The
                                            <select id="every_dynamic_date_of_month__arbitrator" class="newTimePlanDialog_select" required>
                                            </select>
                                            <select id="every_dynamic_date_of_month__weekday" class="newTimePlanDialog_select" required>
                                            </select>
                                            every <input type="number" required min="1" id="every_dynamic_date_of_month__month_interval" style="width:40px"> months
                                        </div>
                                    </div>
                
                                    <div id="patternRoute_yearly" style="display: none;">
                                        <div>
                                            Happens every <input type="number" min="1" required id="pattern_yearly_const__year_interval" style="width: 40px" /> year
                                        </div>
                                        <div>
                                            <input type="radio" name="pattern_yearly_subroute" id="every_x_datemonth_of_year_radio" value="0" required> Dato:
                                            <input type="number" min="1" required id="every_x_of_month__date" style="width: 40px" />
                                            <select id="every_x_of_month__month" class="newTimePlanDialog_select" required>
                                            </select>
                                        </div>
                
                                        <div>
                                            <input type="radio" name="pattern_yearly_subroute" id="every_x_dynamic_day_in_month_radio" value="1"> Every:
                                            <select id="every_arbitrary_weekday_in_month__arbitrator" class="newTimePlanDialog_select" required>
                                            </select>
                                            <select id="every_arbitrary_weekday_in_month__weekday" class="newTimePlanDialog_select" required>
                                            </select>
                                            in
                                            <select id="every_arbitrary_weekday_in_month__month" class="newTimePlanDialog_select" required>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h5 class="accordion-header">
                    <button 
                        class="accordion-button"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#createSerieDialog_recurrenceAreaAccordion">
                        
                        <i class="fas fa-hourglass-end"></i>&nbsp; Gjentagelsesområde
                    </button>
                </h5>

                <div 
                    id="createSerieDialog_recurrenceAreaAccordion"
                    class="accordion-collapse show"
                    aria-labelledby="createSerieDialog_recurrenceAreaAccordion"
                    data-mdb-parent="#createSerieDialog_accordion2">
                    
                    <div class="accordion-body">
                        <fieldset>
                            <div class="row">
                                <div class="col-3">
                                    <label>Start Date</label>
                                    <input type="date" id="area_start_date" required>
                                </div>
                                <div class="col-9" id="area_methods_wrapper">
                                    <div>
                                        <input type="radio" id="radio_timeAreaMethod_stopWithin" name="timeAreaMethod" value="1">
                                        Stop within: <input type="date" id="area_stopWithin" required>
                                    </div>
                
                                    <div>
                                        <input type="radio" id="radio_timeAreaMethod_stopAfterXInstances" name="timeAreaMethod" value="2">
                                        <fieldset>
                                            Stop after: <input type="number" min="1" id="area_stopAfterXInstances" required /> occurences
                                        </fieldset>
                                    </div>
                
                                    <div>
                                        <input type="radio" id="radio_timeAreaMethod_noStopDate" name="timeAreaMethod" value="3">
                                        No stop date
                                        | Project <input type="number" min="1" required style="width:50px" id="area_noStop_projectXMonths"> months into the future
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h5 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  >
                    <i class="fas fa-tools"></i>&nbsp; Opprigg & Nedrigg
                  </button>
                </h5>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingOne"
                  data-mdb-parent="#createSerieDialog_accordion2"
                >
                  <div class="accordion-body">
                      <div class="alert alert-info small">
                          <h6><i class="fas fa-info-circle"></i>&nbsp; Opprigg og nedrigg blir opprettet som egne hendelser før og etter aktiviteten.</h6>
                          Du trenger ikke å definere tider om du ikke ønsker å opprigg eller nedrigg aktiviteter. Du kan velge å bare definere tider for den ene eller andre, eller begge to.
                          Det vil bare opprettes aktiviteter der hvor tider for rigging er definert. Så om du f.eks taster inn verdier for Fra-Til for opprigg, men lar nedrigg være blankt, så vil opprigg aktivitet opprettes med alle 
                          hendelser som resulteres av denne tidsplanen men ikke nedrigg aktiviteter.
                      </div>
          
                      <table class="table table-sm">
                          <thead></thead>
                          <tbody>
                              <tr>
                                  <th colspan="3" class="fw-bold">Opprigg:</th>
                              </tr>
                              <tr>
                                  <td>
                                      Fra
                                      <div class="form-outline">
                                          <input type="time" id="buffer_before_start" class="form-control" />
                                      </div>
                                  </td>
                                  <td>
                                      Til
                                      <div class="form-outline">
                                          <input type="time" id="buffer_before_end" class="form-control" />
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <th colspan="3" class="fw-bold">Nedrigg:</th>
                              </tr>
                              <tr>
                                  <td>
                                      Fra
                                      <div class="form-outline">
                                          <input type="time" id="buffer_after_start" class="form-control" />
                                      </div>
                                  </td>
                                  <td>
                                      Til
                                      <div class="form-outline">
                                          <input type="time" id="buffer_after_end" class="form-control" />
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>            
                  </div>
                </div>
              </div>
        </div>

        <div class="clearfix mt-3">
            <a class="btn wb-btn-main btn-lg float-end" d-trigger="submit" type="button" id="submitBtn">
                <i class="fas fa-check"></i>
                Lagre
            </a>
            <a href="#" class="btn wb-btn-secondary btn-lg float-end" d-trigger="close">
                <i class="fas fa-times"></i>
                Avbryt
            </a>
        </div>
    </div>
</div>

<script type="module">
    import { SeriesUtil } from "{% static 'modules/planner/seriesutil.js' %}";
    import { SelectComponent, MonthSelectComponent, YearSelectComponent } from "{% static 'modules/planner/selectcomponent.js' %}";
    import { ExtendedTimepicker } from "{% static 'js/timepickerExtended.js' %}";

    class DayOfWeekSelectComponent extends SelectComponent {
        constructor (element_id) {
            let options = new Map([
                ["1", '{% trans "monday" %}'],
                ["2", '{% trans "tuesday" %}'],
                ["3", '{% trans "wednesday" %}'],
                ["4", '{% trans "thursday" %}'],
                ["5", '{% trans "friday" %}'],
                ["6", '{% trans "saturday" %}'],
                ["7", '{% trans "sunday" %}'],
            ]);

            super(element_id, options)

            this.insert_options();
        }
    }
    class ArbitratorSelectComponent extends SelectComponent {
        constructor (element_id) {

            let options = new Map([
                ["0", '{% trans "first" %}'],
                ["1", '{% trans "second" %}'],
                ["2", '{% trans "third" %}'],
                ["3", '{% trans "fourth" %}'],
                ["4", '{% trans "last" %}']
            ]);

            super(element_id, options);

            this.insert_options();
        }
    }

    class ValidatorFunctions {
        static __watchInputForValidityChange (element) {
            element.classList.add("border-danger");

            element.addEventListener("change", (event) => {
                if (event.target.checkValidity() === true) {
                    event.target.classList.remove("border-danger");
                    event.target.classList.add("border-success");

                    let alert = document.getElementsByClassName('form_alert')[0];
                    alert.classList.remove('text-danger');
                    alert.classList.add("text-success");
                    alert.innerHTML = "<i class='fas fa-check'></i> " + alert.innerText;

                    setTimeout(function () {
                        event.target.classList.remove("border-success");
                        alert.remove();
                    }, 1000);
                }
            })
            }

        /* Validate the "head" component of the form */
        static validate_head(dialogElement) {
            let field_elements = [
                dialogElement.querySelector('#serie_title'),
                dialogElement.querySelector('#serie_start'),
                dialogElement.querySelector('#serie_end'),
                dialogElement.querySelector('#serie_expected_visitors'),
            ];

            let isInvalid = false;

            for (let i = 0; i < field_elements.length; i++) {
                if (field_elements[i].checkValidity() === false) {
                    isInvalid = true;
                    break;
                }
            }

            if (isInvalid) {
                $(dialogElement).find('#headMockForm :submit').click();
                return false;
            }

            return true;
        }

        static validate_pattern_radio(dialogElement) {
            let radio = dialogElement.querySelector('input[name="pattern"]');

            if (radio.checkValidity() === false) {
                $(dialogElement).find('#patternMockForm :submit').click();
                return false;
            }

            return true;
        }

        static validate_pattern_route(pattern, dialogElement) {
            let is_valid = true;

            let subpattern_radio = dialogElement.querySelector("input[name='" + pattern.sub_routed_by + "']")
            if (subpattern_radio !== null) {
                if (subpattern_radio.checkValidity() === false) {
                    let alert_div = document.createElement('div');
                    alert_div.innerHTML = "<div class='alert alert-danger form_alert'>Vennligst velg et mønster, ved bruk av avhukningsboksene over.</div>"
                    pattern.route_fieldset.append(alert_div)
                    ValidatorFunctions.__watchInputForValidityChange(subpattern_radio);

                    return false;
                }
            }

            let active_inputs = pattern.route_fieldset[0].querySelectorAll("input:not(:disabled):not([type='radio']):not([type='submit']), select:not(:disabled)");
            for(let i = 0; i < active_inputs.length; i++) {
                let input = active_inputs[i];
                if (input.checkValidity() === false) {
                    let alertText = document.createElement('div');
                    alertText.innerHTML = "<span class='text-danger form_alert'>" + input.validationMessage + "</span>";
                    ValidatorFunctions.__watchInputForValidityChange(input);

                    input.parentNode.parentNode.appendChild(alertText);

                    return false;
                }
            }

            if (pattern.name === "weekly") {
                let checkedBoxes = dialogElement.querySelectorAll("#day_checkbox_wrapper input[type='checkbox']:checked");
                if (checkedBoxes.length === 0) {
                    let alert_div = document.createElement('div');
                    alert_div.innerHTML = "<div class='alert alert-danger form_alert'>Vennligst huk av for en eller flere dager.</div>"
                    pattern.route_fieldset.append(alert_div);

                    return false;
                }
            }

            return true;
        }

        static validate_recurrence_area (dialogElement) {
            let area_start_date_el = dialogElement.querySelector('#area_start_date');

            if (area_start_date_el.checkValidity() === false) {
                ValidatorFunctions.__watchInputForValidityChange(area_start_date_el);
                let alertText = document.createElement('div');
                alertText.innerHTML = "<span class='text-danger form_alert'>" + area_start_date_el.validationMessage + "</span>";
                area_start_date_el.parentNode.appendChild(alertText);

                return false;
            }

            let timearea_method_radio = dialogElement.querySelector("input[name='timeAreaMethod']");
            if (timearea_method_radio !== null) {
                if (timearea_method_radio.checkValidity() === false) {
                    ValidatorFunctions.__watchInputForValidityChange(timearea_method_radio);

                    let alert_div = document.createElement('div');
                    alert_div.innerHTML = "<div class='alert alert-danger form_alert'>Vennligst velg en metode for regelmessighet</div>"
                    pattern.route_fieldset.append(alert_div);
                    timearea_method_radio.parentNode.parentNode.appendChild(alert_div)

                    return false;
                }
            }

            let activeInputs = dialogElement.querySelectorAll("#area_methods_wrapper input:not(:disabled):not([type='radio']):not([type='submit']), select:not(:disabled)");
            for(let i = 0; i < activeInputs.length; i++) {
                let input = activeInputs[i];
                if (input.checkValidity() === false) {
                    let alertText = document.createElement('div');
                    alertText.innerHTML = "<span class='text-danger form_alert'>" + input.validationMessage + "</span>";
                    ValidatorFunctions.__watchInputForValidityChange(input);

                    input.parentNode.parentNode.appendChild(alertText);

                    return false;
                }
            }

            return true;
        }
    }

    var _dialog = new Dialog({
        dialogId: '{{ dialogId }}',
        managerName: '{{ managerName }}',
        discriminator: '{{ discriminator }}',
        postInit: function (dialog) {
            document.addEventListener("{{managerName}}.d2_peopleSelected", (e) => {
                dialog.data.peopleNameMap = e.detail.context.people_name_map;
                dialog.setPeople(e.detail.context.people);
                dialog.$("#peopleCounter").text(dialog.$("#peopleChips").children().length);
            })
            document.addEventListener("{{managerName}}.d2_roomsSelected", (e) => {
                dialog.data.roomsNameMap = e.detail.context.room_name_map;
                dialog.setRooms(e.detail.context.rooms);
                dialog.$("#roomsCounter").text(dialog.$("#roomChips").children().length);
            })
            
            new DayOfWeekSelectComponent(dialog.getElementById('every_arbitrary_weekday_in_month__weekday'));
            new MonthSelectComponent(dialog.getElementById('every_arbitrary_weekday_in_month__month'));
            new MonthSelectComponent(dialog.getElementById('every_x_of_month__month'));
            new DayOfWeekSelectComponent(dialog.getElementById('every_dynamic_date_of_month__weekday'));
            new ArbitratorSelectComponent(dialog.getElementById('every_dynamic_date_of_month__arbitrator'));
            new ArbitratorSelectComponent(dialog.getElementById('every_arbitrary_weekday_in_month__arbitrator'));

            dialog.getElementById('serie_start').addEventListener('change', (event) => {
                dialog.$('#buffer_before_end').val(event.target.value);
            });
            dialog.getElementById('serie_end').addEventListener('change', (event) => {
                dialog.$('#buffer_after_start').val(event.target.value);
            });

            /* Pattern: Daily*/
            dialog.data.patterns.set(
                "1",
                {
                    route_fieldset: dialog.$("#patternRoute_daily"),
                    name: "daily",
                    sub_routed_by: 'pattern_daily_subroute',
                    constant_fields: [],
                    sub_routes: [
                        {
                            strategy_name: "daily__every_x_day",
                            route: "pattern_daily_sub__every_x_day",
                            fields: [
                                { element_id: 'every_x_day__interval', out_prop_name: "interval" },
                            ]
                        },
                        {
                            strategy_name: "daily__every_weekday",
                            route: "pattern_daily_sub__every_weekday",
                            fields: []
                        }
                    ]
                }
            );
            /* Pattern: Weekly*/
            dialog.data.patterns.set(
                "2",
                {
                    strategy_name: "weekly__standard",
                    route_fieldset: dialog.$("#patternRoute_weekly"),
                    name: "weekly",
                }
            );
            /* Pattern: Monthly*/
            dialog.data.patterns.set(
                "3",
                {
                    route_fieldset: dialog.$("#patternRoute_monthly"),
                    name: "monthly",
                    sub_routed_by: 'pattern_monthly_subroute',
                    constant_fields: [],
                    sub_routes: [
                        {
                            strategy_name:"month__every_x_day_every_y_month",
                            route: "pattern_monthly_sub__every_x_day_every_y_month",
                            fields: [
                                { element_id: 'every_x_day_every_y_month__day_of_month', out_prop_name: "day_of_month" },
                                { element_id: 'every_x_day_every_y_month__month_interval', out_prop_name: "interval" },
                            ],
                        },
                        {
                            strategy_name: "month__every_arbitrary_date_of_month",
                            route: "pattern_monthly_sub__every_arbitrary_date_of_month",
                            fields: [
                                { element_id: 'every_dynamic_date_of_month__arbitrator', out_prop_name: "arbitrator" },
                                { element_id: 'every_dynamic_date_of_month__weekday', out_prop_name: "weekday" },
                                { element_id: 'every_dynamic_date_of_month__month_interval', out_prop_name: "interval" },
                            ]
                        }
                    ]
                }
            );
            /* Pattern: Yearly*/
            dialog.data.patterns.set(
                "4",
                {
                    route_fieldset: dialog.$("#patternRoute_yearly"),
                    name: "yearly",
                    sub_routed_by: 'pattern_yearly_subroute',
                    constant_fields: [
                        { element_id: 'pattern_yearly_const__year_interval', out_prop_name: "interval" },
                    ],
                    sub_routes: [
                        {
                            strategy_name:"yearly__every_x_of_month",
                            route:"pattern_yearly_sub__every_x_of_month",
                            fields: [
                                { element_id: 'every_x_of_month__date', out_prop_name: "day_index" },
                                { element_id: 'every_x_of_month__month', out_prop_name: "month" },
                            ]
                        },
                        {
                            strategy_name: "yearly__every_arbitrary_weekday_in_month",
                            route: "pattern_yearly_sub__every_arbitrary_weekday_in_month",
                            fields: [
                                { element_id: 'every_arbitrary_weekday_in_month__arbitrator', out_prop_name: "arbitrator" },
                                { element_id: 'every_arbitrary_weekday_in_month__weekday', out_prop_name: "weekday" },
                                { element_id: 'every_arbitrary_weekday_in_month__month', out_prop_name: "month" },
                            ]
                        }
                    ]
                }
            );

            let selects = dialog.$(".newTimePlanDialog_select");
            selects.each(function (index, select) {
                if (select.hasAttribute("init_value")) {
                    select.value = select.getAttribute("init_value");
                }
            });

            const startTimePicker = new ExtendedTimepicker({
                timepickerWrapperElement: dialog.getElementById('serie_start_picker'),
                timepickerInputElement: dialog.getElementById('serie_start'),
                mdbOptions: {
                    format24:true,
                    inline: true,
                }
            });
            const endTimePicker = new ExtendedTimepicker({
                timepickerWrapperElement: dialog.getElementById('serie_end_picker'),
                timepickerInputElement: dialog.getElementById('serie_end'),
                mdbOptions: {
                    format24:true,
                    inline: true,
                }
            });

            /* Handle user changing active time area method */
            dialog.$('input:radio[name="timeAreaMethod"]').change(
                function() {
                    if ($(this).is(':checked')) {
                        let method = $(this).val()
                        dialog.handleTimeAreaRadio({ activeVal: method });
                    }
                }
            );

            /* Handle user changing active pattern */
            dialog.$('input:radio[name="pattern"]').change(
                function() {
                    if ($(this).is(':checked')) {
                        let pattern = dialog.data.patterns.get($(this).val());
                        dialog.data.patterns.forEach(function (item) {
                            $(item.route_fieldset).hide()
                        });
                        $(pattern.route_fieldset).show();
                    }
                }
            );

            /* Handle user changing active pattern */
            dialog.$('input:radio[name="pattern"]').click(
                function() {
                    if ($(this).is(':checked')) {
                        let pattern = dialog.data.patterns.get($(this).val());
                        dialog.data.patterns.forEach(function (item) {
                            $(item.route_fieldset).hide()
                        });
                        $(pattern.route_fieldset).show();
                    }
                }
            );
            
            dialog.matchPatternStateToRadio();
            dialog.matchAreaStateToRadio();

            /* Handle user changing active pattern */
            $('#area_stopWithin').attr("disabled", "");
            $('#area_stopAfterXInstances').attr("disabled", "");
            $('#area_noStop_projectXMonths').attr("disabled", "");

            /* Initialization of state */
            dialog.data.patterns.forEach(function (pattern) {
                $('input:radio[name="' + pattern.sub_routed_by + '"]').change(
                    function () {
                        dialog.resetPattern({ pattern: pattern });
                        let sub = pattern.sub_routes[$(this).val()];
                        dialog.activatePatternSubroute({ subroute: sub });
                    }
                );

                if (pattern.sub_routes !== undefined) {
                    pattern.sub_routes.forEach(function (sub_route) {
                        dialog.deactivatePatternSubroute({ subroute: sub_route });
                    })
                }

                let already_active_radio = $('input:radio[name="' + pattern.sub_routed_by + '"]:checked').val();
                if (already_active_radio !== undefined && already_active_radio !== "") {
                    dialog.activatePatternSubroute({ subroute: pattern.sub_routes[already_active_radio]} )
                }
            });
        },
        methods: {
            close(dialog, {} = {}, triggeredByElement) {
                dialog.closeMe();
            },
            submit(dialog, {} = {}, triggeredByElement) {
                let old_alerts = dialog.querySelectorAll('.form_alert');
                old_alerts.forEach(function (elem) {
                    $(elem).remove();
                });

                let time = {
                    title: dialog.interior.serie_title.value,
                    title_en: dialog.interior.serie_title_en.value,
                    start: dialog.interior.serie_start.value,
                    end: dialog.interior.serie_end.value,
                    ticket_code: dialog.interior.serie_ticket_code.value,
                    expected_visitors: dialog.interior.serie_expected_visitors.value,
                }

                let pattern = {}
                let active_pattern_key = dialog.$('input:radio[name="pattern"]:checked').val();
                let pattern_obj = dialog.data.patterns.get(`${active_pattern_key}`);

                let headResult = ValidatorFunctions.validate_head( dialog.dialogElement );
                let patternResult = ValidatorFunctions.validate_pattern_radio( dialog.dialogElement );
                let patternRouteResult = ValidatorFunctions.validate_pattern_route( pattern_obj, dialog.dialogElement );
                let areaRecurrenceResult = ValidatorFunctions.validate_recurrence_area( dialog.dialogElement );

                if (headResult === false || patternResult === false || patternRouteResult === false || areaRecurrenceResult === false) {
                    return;
                }

                // since weekly doesnt have any subroutings (only one option) we cant use the normal method
                if (active_pattern_key !== "2") {
                    if (active_pattern_key == "4") {
                        pattern["year_interval"] = dialog.$('#pattern_yearly_const__year_interval').val();
                    }

                    let active_sub_route_key = dialog.$('input:radio[name="' + pattern_obj.sub_routed_by +'"]:checked').val();
                    let sub_route = pattern_obj.sub_routes[active_sub_route_key];
                    pattern.pattern_type = pattern_obj.name;
                    pattern.pattern_routine = sub_route.strategy_name;

                    for (let i = 0; i < sub_route.fields.length; i++) {
                        let field = sub_route.fields[i];
                        pattern[field.out_prop_name] = dialog.$("#" + field.element_id).val();
                    }
                }
                else {
                    pattern["week_interval"] = dialog.$('#week_interval').val();
                    pattern.pattern_type = pattern_obj.name;

                    let days = new Map([
                        [0, dialog.$('#sunday').is(':checked')],
                        [1, dialog.$('#monday').is(':checked')],
                        [2, dialog.$('#tuesday').is(':checked')],
                        [3, dialog.$('#wednesday').is(':checked')],
                        [4, dialog.$('#thursday').is(':checked')],
                        [5, dialog.$('#friday').is(':checked')],
                        [6, dialog.$('#saturday').is(':checked')],
                    ]);
                    pattern["days"] = days;
                    pattern["pattern_routine"] = "weekly__standard";
                }

                let area = {}

                let area_methods = new Map();
                area_methods.set(
                    "1",
                    {
                        name: "StopWithin",
                        set: function () {
                            area.stop_within = dialog.$('#area_stopWithin').val();
                        }
                    }
                );
                area_methods.set("2",
                {
                    name: "StopAfterXInstances",
                    set: function () {
                        area.instances = dialog.$('#area_stopAfterXInstances').val()
                    }
                });
                area_methods.set("3",
                {
                    name: "NoStopDate",
                    set: function () {
                        area.projectionDistanceInMonths = dialog.$('#area_noStop_projectXMonths').val()
                    }
                });

                let active_area_method = area_methods.get(dialog.$('input:radio[name="timeAreaMethod"]:checked').val());
                active_area_method.set();
                area.method_name = active_area_method.name;
                area.start_date = dialog.$('#area_start_date').val();

                let serie = {
                    time: time,
                    pattern: pattern,
                    time_area: area,
                }

                let display_layouts = [];
                dialog.querySelectorAll("input[name='display_layouts_serie_planner'][type='checkbox']:checked").forEach(element => {
                    display_layouts.push(element.value)
                })

                serie.buffer = {}
                if ( dialog.$('#buffer_before_start').val() && dialog.$('#buffer_before_end').val() ) {
                    serie.buffer.before = {
                        start: dialog.$('#buffer_before_start').val(),
                        end: dialog.$('#buffer_before_end').val(),
                    }
                }
                if ( dialog.$('#buffer_after_start').val() && dialog.$('#buffer_after_end').val() ) {
                    serie.buffer.after = {
                        start: dialog.$('#buffer_after_start').val(),
                        end: dialog.$('#buffer_after_end').val(),
                    }
                }

                serie._uuid = dialog.$('#serie_uuid').val();
                serie.rooms = dialog.getSelectedRoomIds();
                serie.people = dialog.getSelectedPeopleIds();
                serie.room_name_map = dialog.data.roomsNameMap;
                serie.people_name_map = dialog.data.peopleNameMap;
                serie.display_layouts = display_layouts.join(",");

                dialog.raiseSubmitEvent({
                    serie: serie,
                    csrf_token: '{{csrf_token}}',
                });
            },
            /* Ensure that the shown pattern matches the selected pattern in the radio menu. This will correct any such mismatches. */
            matchPatternStateToRadio(dialog, {} = {}, triggeredByElement) {
                let active_pattern_key = dialog.$('input:radio[name="pattern"]:checked').val();

                // Ensure that if the user closes the modal while working with it, they will
                // come right back to the same pattern fieldset when re-opening it.
                if (active_pattern_key !== undefined && active_pattern_key !== "") {
                    for (let i = 0; i < dialog.data.patterns.length; i++) {
                        $(patterns[i].route_fieldset).hide();
                    }
                    $(dialog.data.patterns.get(active_pattern_key).route_fieldset).show();
                }
            },
            matchAreaStateToRadio(dialog, {} = {}, triggeredByElement) {
                let activeAreaMethod = dialog.$('input:radio[name="timeAreaMethod"]:checked').val();

                if (activeAreaMethod !== undefined && activeAreaMethod !== "") {
                    dialog.handleTimeAreaRadio({ activeVal: activeAreaMethod });
                }
            },
            /* Resets a patterns field values, and disables it. This affects all sub-routes of the pattern. */
            resetPattern(dialog, { pattern } = {}, triggeredByElement) {
                if (pattern.sub_routes !== undefined) {
                    pattern.sub_routes.forEach(function (sub_route) {
                        dialog.deactivatePatternSubroute( { subroute: sub_route });
                        sub_route.fields.forEach(function (field_obj) {
                            let field = dialog.$("#" + field_obj.element_id);
                        })
                    })
                }
            },
            /* Activate a sub route of a pattern. In practice removes the disabled attribute from the fields of this sub route. */
            activatePatternSubroute(dialog, { subroute } = {}, triggeredByElement) {
                for (let i = 0; i < subroute.fields.length; i++) {
                    let field = dialog.querySelector("#" + subroute.fields[i].element_id);
                    field.removeAttribute("disabled");
                }
            },
            deactivatePatternSubroute(dialog, { subroute } = {}, triggeredByElement) {
                for (let i = 0; i < subroute.fields.length; i++) {
                    let field = dialog.querySelector("#" + subroute.fields[i].element_id);
                    field.setAttribute("disabled", "true");
                }
            },
            handleTimeAreaRadio(dialog, {activeVal} = {}, triggeredByElement) {
                dialog.$('#area_stopWithin').attr("disabled", "");
                dialog.$('#area_stopAfterXInstances').attr("disabled", "");
                dialog.$('#area_noStop_projectXMonths').attr("disabled", "");

                if (activeVal === "1") {
                    dialog.$('#area_stopWithin').removeAttr("disabled");
                }
                if (activeVal === "2"){
                    dialog.$('#area_stopAfterXInstances').removeAttr("disabled");
                }
                if (activeVal === "3") {
                    dialog.$('#area_noStop_projectXMonths').removeAttr("disabled");
                }
            },
            triggerAddRooms(dialog, {} = {}, triggeredByElement) {
                dialog.raiseTriggerEvent("{{managerName}}", "{{orderRoomDialog}}");
            },
            triggerAddPeople(dialog, {} = {}, triggeredByElement) {
                dialog.raiseTriggerEvent("{{managerName}}", "{{orderPersonDialog}}");
            },
            setPeople(dialog, {} = {}, triggeredByElement) {
                let wrapper = dialog.$('#peopleChips');
                wrapper.empty();

                people.split(",").forEach(id => {
                    wrapper.append(
                        `<span class='chip' rowid='${id}'>
                            ${dialog.data.peopleNameMap.get(id)}
                            <a href='#' class='text-danger'
                                    data-mdb-toggle='tooltip'
                                    title='{% trans "Remove this room from the activity" %}'
                                    onclick='createSerieDialog__removeAssociation(this)'>
                                        <i class='fas fa-times'></i>
                                    </a>                    
                        </span>`
                    )
                });
            },
            setRooms(dialog, {} = {}, triggeredByElement) {
                let wrapper = dialog.$('#roomChips');
                wrapper.empty();

                rooms.split(",").forEach(id => {
                    wrapper.append(
                        `<span class='chip' rowid='${id}'>
                            ${dialog.data.roomsNameMap.get(id)}
                            <a href='#' class='text-danger'
                                    data-mdb-toggle='tooltip'
                                    title='{% trans "Remove this room from the activity" %}'
                                    onclick='createSerieDialog__removeAssociation(this)'>
                                        <i class='fas fa-times'></i>
                                    </a>                    
                        </span>`
                    );
                });
            },
            removeAssociation(dialog, {} = {}, triggeredByElement) {
                $(triggeredByElement).parent().remove();
            },
            getSelectedRoomIds(dialog, {} = {}, triggeredByElement) {
                return Array.from(dialog.$("#roomChips")[0].children).map(row => row.getAttribute("rowid"));
            },
            getSelectedPeopleIds(dialog, {} = {}, triggeredByElement) {
                return Array.from(dialog.$("#peopleChips")[0].children).map(row => row.getAttribute("rowid"));
            },
        },
        data: {
            peopleNameMap: new Map(),
            roomsNameMap: new Map(),
            patterns: new Map(),
        }
    });
</script>
