{% load static i18n %}


<div id="{{dialog}}" title="<span class='badge badge-success'><i class='fas {{dialogIcon}}'></i></span>&nbsp; {{ dialogTitle }}">
    <div class="row">
        <div class="col-6">
            <form id="newSimpleActivityForm">
                <input type="submit" style="display:none;" />
    
                <input type="hidden" name="uuid" id="event_uuid">
                
                <h5>
                    Informasjon
                </h5>
                <div class="row">
                    <div class="col-6">
                        <div class="form-outline mb-2">
                            <input type="text" id="title" class="form-control" />
                            <label class="form-label" for="title">🇳🇴 Tittel på norsk</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-outline mb-2">
                            <input type="text" id="title_en" class="form-control" />
                            <label class="form-label" for="title_en">🇬🇧 Tittel på engelsk</label>
                        </div>
                    </div>
                </div>
    
                <div class="form-outline mb-2">
                    <input type="text" id="ticket_code" class="form-control" />
                    <label class="form-label" for="ticket_code"><i class="fas fa-receipt text-info"></i>&nbsp; Billetkode</label>
                </div>
    
                <div class="form-outline mb-2">
                    <input type="text" id="expected_visitors" class="form-control" />
                    <label class="form-label" for="expected_visitors"><i class="fas fa-users text-info"></i>&nbsp; Forventet antall besøkende</label>
                </div>
    
                <h5 class="mt-3">
                    Tider
                </h5>
                <div class="form-group mt-2">
                    <label for=""><i class="fas fa-calendar text-muted"></i>&nbsp; Fra</label>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="date" id="fromDate" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="time" id="fromTime" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="form-group mt-2">
                    <label for=""><i class="fas fa-calendar text-muted"></i>&nbsp; Til</label>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="date" id="toDate" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="time" id="toTime" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
    
                <h5 class="mt-3">
                    Skjermvisning
                </h5>
                <div class="form-group mt-3">
                    <label class="d-block"><i class='fas fa-desktop text-muted'></i>&nbsp; {% trans "Show on:" %}</label>
                    <ul>
                        {% for choice_id, choice_label in form.display_layouts.field.choices %}
                            <li class='your class'> <input type="checkbox" value="{{choice_id}}" name="display_layouts_create_event" id="{{choice_id}}_dlcheck" />
                            <label for="{{choice_id}}_dlcheck">{{choice_label}}</label></li>
                        {% endfor %}
                    </ul>
                </div>

            </form>
        </div>
        <div class="col-6">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h5 class="accordion-header">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#activityAccordions-people"
                          aria-expanded="false"
                          aria-controls="activityAccordions-people">
                          <div class="badge badge-secondary" id="peopleCounter">0</div>
                          &nbsp;<i class="fas fa-users"></i>&nbsp;
                          Personer
                        </button>
                    </h5>
                    <div
                      id="activityAccordions-people"
                      class="accordion-collapse collapse"
                      aria-labelledby="activityAccordions-people"
                      data-mdb-parent="#accordionFlushExample">
  
                      <div class="accordion-body">
                          <a class="btn btn-block wb-btn-secondary shadow-0"
                          onclick="dialogCreateEvent_openAddPeople()"
                          type="button">
                              Legg til personer
                          </a>
  
                          <div class="mt-2 table-responsive">
                              <table class="table-sm table">
                                  <tbody id="peopleTbody__d1">
                                  </tbody>
                              </table>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-header">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#activityAccordions-rooms"
                          aria-expanded="false"
                          aria-controls="activityAccordions-rooms">
                          <div class="badge badge-secondary" id="roomsCounter">0</div>
                          &nbsp;<i class="fas fa-building"></i>&nbsp;
                          Rom
                        </button>
                    </h5>
                    <div
                      id="activityAccordions-rooms"
                      class="accordion-collapse collapse"
                      aria-labelledby="activityAccordions-rooms"
                      data-mdb-parent="#accordionFlushExample">
  
                      <div class="accordion-body">
                        <a class="btn btn-block wb-btn-secondary shadow-0"
                        onclick="dialogCreateEvent__openAddRooms()"
                        type="button">
                            Legg til rom
                        </a>

                        <div class="mt-2 table-responsive">
                            <table class="table-sm table">
                                <tbody id="roomsTbody__d1">
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-header" id="flush-headingOne">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#flush-collapseOne"
                        aria-expanded="false"
                        aria-controls="flush-collapseOne"
                      >
                        <i class="fas fa-clock"></i>&nbsp; Buffere
                      </button>
                    </h5>
                    <div
                      id="flush-collapseOne"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingOne"
                      data-mdb-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">
                          <div class="alert alert-info small">
                              <i class="fas fa-info-circle"></i>
                              Buffere blir opprettet som egne hendelser før og etter aktiviteten.
                          </div>
              
                          <table class="table">
                              <thead></thead>
                              <tbody>
                                  <tr>
                                      <th colspan="3" class="fw-bold">Buffer før aktiviteten:</th>
                                  </tr>
                                  <tr>
                                      <td>
                                          Fra
                                          <div class="form-outline">
                                              <input type="time" id="buffer_before_start" class="form-control" />
                                          </div>
                                      </td>
                                      <td>
                                          Til
                                          <div class="form-outline">
                                              <input type="time" id="buffer_before_end" class="form-control" />
                                          </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <th colspan="3" class="fw-bold">Buffer etter aktiviteten:</th>
                                  </tr>
                                  <tr>
                                      <td>
                                          Fra
                                          <div class="form-outline">
                                              <input type="time" id="buffer_after_start" class="form-control" />
                                          </div>
                                      </td>
                                      <td>
                                          Til
                                          <div class="form-outline">
                                              <input type="time" id="buffer_after_end" class="form-control" />
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>            
                      </div>
                    </div>
                  </div>
              </div>
        </div>

        <div class="clearfix">
            <div class="float-end">
                <a href="#" class="btn wb-btn-secondary btn-lg"
                    onclick="window.dialogApi.close('{{managerName}}', '{{dialog}}')">
                    <i class="fas fa-times"></i>
                    Avbryt
                </a>

                <a class="mt-2 btn wb-btn-main" onclick="dialogCreateEvent__submit()">
                    <i class="fas fa-check"></i>&nbsp; Lagre
                </a>
            </div>
        </div>
    </div>
</div>


<script>
    var peopleNameMap = new Map();
    var roomsNameMap = new Map();

    $(document).ready(function () {
        dialogCreateEvent_listenToStartChangeAndUpdateBufferValues();
        dialogCreateEvent_listenToEndChangeAndUpdateBufferValues();
    })

    function dialogCreateEvent_listenToStartChangeAndUpdateBufferValues() {
        document.getElementById('fromTime').addEventListener('change', (event) => {
            document.getElementById('buffer_before_end').value = event.target.value;
        });
    }
    
    function dialogCreateEvent_listenToEndChangeAndUpdateBufferValues() {
        document.getElementById('toTime').addEventListener('change', (event) => {
            document.getElementById('buffer_after_start').value = event.target.value;
        });
    }

    function dialogCreateEvent__evaluateEnTitleObligatory(){
        var $enTitleElement = $('#title_en');
            var countSeletedDisplayLayouts = $("input[name='display_layouts_create_event'][type='checkbox']:checked").length;

            if (countSeletedDisplayLayouts === 0) {
                $enTitleElement.removeAttr("required");
            }
            else {
                $enTitleElement.attr("required", true);
            }
    }

    document.addEventListener("{{managerName}}.d1_peopleSelected", (e) => {
        peopleNameMap = e.detail.context.people_name_map;
        dialogCreateEvent__setPeople(e.detail.context.people);
        document.getElementById('peopleCounter').innerText = $('#peopleTbody__d1').children().length;
    })
    document.addEventListener("{{managerName}}.d1_roomsSelected", (e) => {
        roomsNameMap = e.detail.context.room_name_map;
        dialogCreateEvent__setRooms(e.detail.context.rooms);
        document.getElementById('roomsCounter').innerText = $('#roomsTbody__d1').children().length;
    })

    function dialogCreateEvent__setRooms(rooms) {
        let tbody = $('#roomsTbody__d1');
        tbody.empty();

        let ids = rooms.split(",");

        ids.forEach(id => {
            tbody.append(
                $(`<tr rowid='${id}'>
                    <td> <input type='checkbox' /> </td>
                    <td>${roomsNameMap.get(id)}</td>
                    <td> <a href='#' class='text-danger'
                            data-mdb-toggle='tooltip'
                            title='{% trans "Remove this room from the activity" %}'
                            onclick='dialogCreateEvent__removeAssociation(this)'>
                                <i class='fas fa-trash'></i>
                            </a>
                    </td>
                   </tr>`)
            )
        });
    }

    function dialogCreateEvent__setPeople(people) {
        let tbody = $('#peopleTbody__d1');
        tbody.empty();
        let ids = people.split(",");

        ids.forEach(id => {
            tbody.append(
                $(`<tr rowid='${id}'>
                    <td>${peopleNameMap.get(id)}</td>
                    <td> <a href='#' class='text-danger'
                            data-mdb-toggle='tooltip'
                            title='{% trans "Remove this person from the activity" %}'
                            onclick='dialogCreateEvent__removeAssociation(this)'>
                                <i class='fas fa-trash'></i>
                            </a>
                    </td>
                   </tr>`)
            )
        });
    }

    function validateNewSimpleActivityForm() {
        let field_elements = $('#newSimpleActivityForm').find("input, select");

        let isInvalid = false;

        for (let i = 0; i < field_elements.length; i++) {
            if (field_elements[i].checkValidity() === false) {
                isInvalid = true;
                break;
            }
        }

        if (isInvalid) {
            $('#newSimpleActivityForm').find(':submit').click();
            return false;
        }

        return true;
    }

    function dialogCreateEvent__removeAssociation(a) {
        let row = $(a).closest("tr")[0];
        let rowid = row.getAttribute("rowid");
        row.remove();
    }

    function dialogCreateEvent__openAddRooms() {
        document.dispatchEvent(new Event("{{managerName}}.{{orderRoomDialog}}.trigger"));
    }

    function dialogCreateEvent_openAddPeople() {
        document.dispatchEvent(new Event("{{managerName}}.{{orderPersonDialog}}.trigger"));
    }

    function dialogCreateEvent__getSelectedRoomIds() {
        return Array.from($("#roomsTbody__d1")[0].children).map(row => row.getAttribute("rowid"));
    }

    function dialogCreateEvent__getSelectedPeopleIds() {
        return Array.from($("#peopleTbody__d1")[0].children).map(row => row.getAttribute("rowid"));
    }

    function dialogCreateEvent__submit() {
        if (validateNewSimpleActivityForm() === false) {
            console.warn("Validation failed.")
            return;
        }

        let qualifiedEvent = {
            _uuid: $('#event_uuid').val(),
            title: $('#title').val(),
            title_en: $('#title_en').val(),
            ticket_code: $('#ticket_code').val(),
            expected_visitors: $('#expected_visitors').val(),
            start: new Date( $('#fromDate').val() + "T" + $('#fromTime').val() ),
            end: new Date( $('#toDate').val() + "T" + $('#toTime').val() ),
            arrangement: 0,
            rooms: dialogCreateEvent__getSelectedRoomIds(),
            people: dialogCreateEvent__getSelectedPeopleIds(),
            people_name_map: peopleNameMap, // Kept due to edit - not pertinent for save
            room_name_map: roomsNameMap,    // Kept due to edit - not pertinent for save
            before_buffer_start: document.getElementById('buffer_before_start').value,
            before_buffer_end: document.getElementById('buffer_before_end').value,
            after_buffer_start: document.getElementById('buffer_after_start').value,
            after_buffer_end: document.getElementById('buffer_after_end').value,
        };

        qualifiedEvent.display_layouts = 
            [...document.querySelectorAll("input[name='display_layouts_create_event'][type='checkbox']:checked")]
                .map(element => element.value);

        document.dispatchEvent(
            new CustomEvent(
                "{{managerName}}.submit",
                {
                    'detail': { 'dialog': "{{dialog}}", 'event': qualifiedEvent, 'csrf_token': '{{ csrf_token }}' }
                }
            )
        );
    }
</script>
