{% load static i18n %}


<div id="{{dialogId}}" class="{{discriminator}}" >
    <div class="clearfix">
        <div class="float-start">
            <h6>
                Definer aktivitet
            </h6>
            <h5 class="fw-bold">
                <i class="fas fa-calendar-plus"></i>&nbsp; Aktivitet navn
            </h5>
        </div>
        <div id="stepper" class="float-end stepper-rail"></div>
    </div>

    <hr>

    <div style="max-height: 600px; height: 600px; overflow: scroll; overflow-y: visible;">
        <div id="step-1">
            <form id="newSimpleActivityForm">
                <input type="submit" name="submit" style="display:none;" />
                <input type="hidden" name="uuid" id="event_uuid" />
                
                <div class="form-group mb-2">
                    <label class="form-label" for="title">Tittel <i>(Norsk)</i></label>
                    <input type="text" id="title" name="title" class="form-control form-control-lg" required />
                </div>

                <div class="form-group mb-2">
                    <label class="form-label" for="title_en">Tittel <i>(Engelsk)</i></label>
                    <input type="text" id="title_en" name="title_en" class="form-control form-control-lg" />
                </div>
    
                <div class="form-group mb-2">
                    <label class="form-label" for="ticket_code">
                        <i class="fas fa-receipt"></i>&nbsp;
                        Billetkode
                    </label>
                    <input type="text" id="ticket_code" name="ticket_code" class="form-control form-control-lg" />
                </div>
    
                <div class="form-group mb-2">
                    <label class="form-label" for="expected_visitors">
                        <i class="fas fa-users"></i>
                        Forventet antall besøkende
                    </label>
                    <input type="text" id="expected_visitors" name="expected_visitors" class="form-control form-control-lg" required />
                </div>
    
                <div class="form-group mt-2">
                    <label for="" class="form-label">Fra</label>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="date" id="fromDate" name="fromDate" class="form-control form-control-lg" required />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="time" id="fromTime" name="fromTime" class="form-control form-control-lg" required />
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="form-group mt-2">
                    <label for="" class="form-label">Til</label>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="date" id="toDate" name="toDate" class="form-control form-control-lg" required />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="time" id="toTime" name="toTime" class="form-control form-control-lg" required />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="step-2">
            <div class="input-group input-group-lg">
                <span class="input-group-text">
                    <i class="fas fa-search"></i>
                </span>
                <input type="search" name="" placeholder="Søk etter personer..." class="form-control form-control-lg"></input>

                <button class="btn wb-btn-secondary border"
                        d-trigger="triggerAddPeople">
                    <i class="fas fa-folder"></i>
                </button>
            </div>

            <div id="selectedPeopleWrapper" class="mb-2 mt-3">
            </div>

            <div class="input-group input-group-lg mt-5">
                <span class="input-group-text">
                    <i class="fas fa-search"></i>
                </span>
                <input type="search" name="" placeholder="Søk etter rom..." class="form-control form-control-lg"></input>

                <button class="btn wb-btn-secondary border"
                        d-trigger="triggerAddRooms">
                    <i class="fas fa-folder"></i>
                </button>
            </div>

            <div id="selectedRoomsWrapper" class="mb-2 mt-3"></div>
        </div>
        <div id="step-3">
            <div class="alert alert-info small">
                <i class="fas fa-info-circle"></i>
                Buffere blir opprettet som egne hendelser før og etter aktiviteten.
            </div>

            <table class="table">
                <thead></thead>
                <tbody>
                    <tr>
                        <th colspan="3" class="h5">Buffer før aktiviteten:</th>
                    </tr>
                    <tr>
                        <td>
                            <label for="buffer_before_start" class="form-label">
                                Fra
                            </label>
                            <div class="form-outline">
                                <input type="time" id="buffer_before_start" name="buffer_before_start" class="form-control form-control-lg" />
                            </div>
                        </td>
                        <td>
                            <label for="buffer_before_end" class="form-label">
                                Til
                            </label>
                            <div class="form-outline">
                                <input type="time" id="buffer_before_end" name="buffer_before_end" class="form-control form-control-lg" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="3" class="h5">Buffer etter aktiviteten:</th>
                    </tr>
                    <tr>
                        <td>
                            <label for="buffer_after_start" class="form-label">
                                Fra
                            </label>
                            <div class="form-outline">
                                <input type="time" id="buffer_after_start" name="buffer_after_start" class="form-control form-control-lg" />
                            </div>
                        </td>
                        <td>
                            <lable for="buffer_after_end" class="form-label">
                                Til
                            </lable>
                            <div class="form-outline">
                                <input type="time" id="buffer_after_end" name="buffer_after_end" class="form-control form-control-lg" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="step-4">
            {% if form.display_layouts.field.choices %}
            <div class="form-group mt-2">
                <label class="d-block form-label"><i class='fas fa-desktop text-muted'></i>&nbsp; {% trans "Vises på:" %}</label>
                <ul>
                    {% for choice_id, choice_label in form.display_layouts.field.choices %}
                        <li class='your class'> <input type="checkbox" value="{{choice_id}}" name="display_layouts_create_event" id="{{choice_id}}_dlcheck" />
                        <label for="{{choice_id}}_dlcheck">{{choice_label}}</label></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="clearfix">
        <div class="float-start">
            <button class="btn wb-btn-blank btn-lg text-muted"
                    id="cancel"
                    d-trigger="close">
                <i class="fas fa-times"></i>&nbsp;
                Avbryt
            </button>
        </div>
        <div class="float-end">
            <button class="btn wb-btn-secondary btn-lg"
                    id="back">
                Tilbake
            </button>
            <button class="btn wb-btn-main btn-lg"
                    id="next">
                Neste
            </button>
            <button class="btn wb-btn-main btn-lg"
                    style="display:none;"
                    d-trigger="submit"
                    id="finish">
                Lagre
            </button>
        </div>
    </div>
</div>


<script>
    var _dialog = new Dialog({
        dialogId: '{{ dialogId }}',
        managerName: '{{ managerName }}',
        discriminator: '{{ discriminator }}',
        postInit: function (dialog) {
            dialog.$("#fromTime").on("change", (event) => {
                dialog.$("#buffer_before_end").val(event.target.value);
            });
            dialog.$("#toTime").on("change", (event) => {
                dialog.$("#buffer_after_start").val(event.target.value);
            });

            document.addEventListener("{{managerName}}.d1_peopleSelected", (e) => {
                dialog.data.peopleNameMap = e.detail.context.people_name_map;
                dialog.setPeople({ people: e.detail.context.people });

                dialog.$("#peopleCounter").text(dialog.$("#selectedPeopleWrapper").children().length);
            });
            document.addEventListener("{{managerName}}.d1_roomsSelected", (e) => {
                dialog.data.roomsNameMap = e.detail.context.room_name_map;
                dialog.setRooms({ rooms: e.detail.context.rooms });

                dialog.$("#roomsCounter").text(dialog.$("#selectedRoomsWrapper").children().length);
            });

            dialog.data.stepper = new DialogStepper({
                allowRailBasedNavigation: true,
                railWrapperElement: dialog.getElementById('stepper'),
                steps: [
                    {
                        element: dialog.getElementById('step-1'),
                        title: 'Detaljer',
                        stepIn: () => { console.log("1. Step In") },
                        stepOut: () => { 
                            /** PS!
                             * Be aware that this will cause issues the moment you have inputs or selects
                             * that are not in step-1. As of the writing of this comment all the fields we care
                             * about validating are in step-1, so we can blanket-validate it like this.
                             * This is not the case if you add input or selects to any other steps - and this will
                             * prevent progression to further steps, until the inputs in those future steps are considered
                             * valid, which is of course impossible, since one can not reach them due to this blanket-validation.
                             * */
                            return dialog.validate();
                        }
                    },
                    {
                        element: dialog.getElementById('step-2'),
                        title: 'Rom & Personer',
                        stepIn: () => { console.log("1. Step In") },
                        stepOut: () => { console.log("2. Step Out"); }
                    },
                    {
                        element: dialog.getElementById('step-3'),
                        title: 'Opp og ned-rigg',
                        stepIn: () => { 
                            dialog.getElementById('next').style.display = "none";
                            dialog.getElementById('finish').style.display = "inline-block";
                        },
                        stepOut: () => {
                            dialog.getElementById('finish').style.display = "none";
                            dialog.getElementById('next').style.display = "inline-block";
                        },
                    },
                ]
            });
            dialog.getElementById('next').onclick = () => dialog.data.stepper.next();
            dialog.getElementById('back').onclick = () => dialog.data.stepper.back();
        },
        methods: {
            close(dialog, {} = {}, triggeredByElement) {
                dialog.closeMe();
            },
            setRooms(dialog, { rooms } = {}, triggeredByElement) {
                let wrapper = dialog.$('#selectedRoomsWrapper');
                wrapper.empty();

                rooms.split(",").forEach(id => {
                    wrapper.append(
                        $(`<selected-pill name='${dialog.data.roomsNameMap.get(id)}'
                                          id='${id}'
                                          d-trigger='removeAssociation'>
                           </selected-pill>`)    
                    );
                });
            },
            setPeople(dialog, { people } = {}, triggeredByElement) {
                let wrapper = dialog.$('#selectedPeopleWrapper');
                wrapper.empty();

                people.split(",").forEach(id => {
                    wrapper.append(
                        $(`<selected-pill name='${dialog.data.peopleNameMap.get(id)}'
                                          id='${id}'
                                          d-trigger='removeAssociation'>
                           </selected-pill>`)
                    );
                });
            },
            submit(dialog, {} = {}, triggeredByElement) {
                if (dialog.validate() === false) {
                    console.warn("Validation failed.")
                    return;
                }

                let qualifiedEvent = {
                    _uuid:                      dialog.interior.event_uuid.value,
                    title:                      dialog.interior.title.value,
                    title_en:                   dialog.interior.title_en.value,
                    ticket_code:                dialog.interior.ticket_code.value,
                    expected_visitors:          dialog.interior.expected_visitors.value,
                    start:                      new Date( dialog.interior.fromDate.value   + "T" + dialog.interior.fromTime.value ),
                    end:                        new Date( dialog.interior.toDate.value     + "T" + dialog.interior.toTime.value ),
                    arrangement:                0,
                    rooms:                      dialog.getSelectedRoomIds(),
                    people:                     dialog.getSelectedPeopleIds(),
                    people_name_map:            dialog.data.peopleNameMap,      // Kept due to edit - not pertinent for save
                    room_name_map:              dialog.data.roomsNameMap,       // Kept due to edit - not pertinent for save
                    before_buffer_start:        dialog.interior.buffer_before_start.value ?? "",
                    before_buffer_end:          dialog.interior.buffer_before_end.value ?? "",
                    after_buffer_start:         dialog.interior.buffer_after_start.value ?? "",
                    after_buffer_end:           dialog.interior.buffer_after_end.value ?? "",
                };

                qualifiedEvent.display_layouts = 
                    [...dialog.querySelectorAll("input[name='display_layouts_create_event'][type='checkbox']:checked")]
                        .map(element => element.value);

                dialog.raiseSubmitEvent({
                    event: qualifiedEvent,
                    csrf_token: '{{csrf_token}}',
                });
            },
            validate(dialog, {} = {}, triggeredByElement) {
                let field_elements = dialog.$('#newSimpleActivityForm').find("input, select");
                let isInvalid = false;

                for (let i = 0; i < field_elements.length; i++) {
                    if (field_elements[i].checkValidity() === false) {
                        isInvalid = true;
                        break;
                    }
                }

                if (isInvalid) {
                    dialog.$('#newSimpleActivityForm').find(':submit').click();
                    return false;
                }

                return true;
            },
            removeAssociation(dialog, {} = {}, triggeredByElement) {
                $(triggeredByElement).closest("selected-pill")[0].remove();
            },
            triggerAddRooms(dialog, {} = {}, triggeredByElement) {
                dialog.raiseTriggerEvent("{{managerName}}", "{{orderRoomDialog}}", { $parent: dialog.dialogElement });
            },
            triggerAddPeople(dialog, {} = {}, triggeredByElement) {
                dialog.raiseTriggerEvent("{{managerName}}", "{{orderPersonDialog}}", { $parent: dialog.dialogElement });
            },
            getSelectedRoomIds (dialog, {} = {}, triggeredByElement) {
                return Array.from(dialog.$("#selectedRoomsWrapper")[0].children)
                    .map(pillElement => pillElement.getAttribute("id"));
            },
            getSelectedPeopleIds(dialog, {} = {}, triggeredByElement) {
                return Array.from(dialog.$("#selectedPeopleWrapper")[0].children)
                    .map(pillElement => pillElement.getAttribute("id"));
            },
        },
        data: {
            peopleNameMap: new Map(),
            roomsNameMap: new Map(),
            stepper: null,
        }
    });
</script>
