{% load static i18n %}

<div id="{{dialogId}}" title="{{ form.title.value }}"
    class="{{discriminator}}">
    <ul class="nav nav-tabs webook-tabs mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            <a
            class="nav-link active"
            id="ex1-tab-1"
            data-mdb-toggle="tab"
            href="#ex1-tabs-1"
            role="tab"
            aria-controls="ex1-tabs-1"
            aria-selected="true">
            Aktivitet
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="#tab-resources" role="tab" data-mdb-toggle="tab" class="nav-link" id="tab-resource">
                Rom & Personer
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a
                class="nav-link"
                id="ex1-tab-2"
                data-mdb-toggle="tab"
                href="#ex1-tabs-2"
                role="tab"
                aria-controls="ex1-tabs-2"
                aria-selected="false">
                Filer
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a
                class="nav-link"
                id="ex1-tab-3"
                data-mdb-toggle="tab"
                href="#ex1-tabs-3"
                role="tab"
                aria-controls="ex1-tabs-3"
                aria-selected="false">
                Notater
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="#tab-details" role="tab" data-mdb-toggle="tab" class="nav-link" id="tab-detailss">
                Detaljer
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a
                class="nav-link"
                id="ex1-tab-4"
                data-mdb-toggle="tab"
                href="#ex1-tabs-4"
                role="tab"
                aria-controls="ex1-tabs-3"
                aria-selected="false"
                >Opprigg & Nedrigg
            </a>
        </li>
    </ul>

    <div class="tab-content" id="ex1-content">
        <div
            class="tab-pane fade show active"
            id="ex1-tabs-1"
            role="tabpanel"
            aria-labelledby="ex1-tab-1">
        <form id="inspectEventForm" class="mt-3">
            <input type="submit" style="display:none;" />
            <div>
                <div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" for="{{ form.title.id_for_label }}">Tittel på norsk</label>
                                <input type="text"
                                    class="form-control form-control-md"
                                    id="{{ form.title.id_for_label }}" 
                                    value="{{ form.title.value|default:'' }}"
                                    name="{{ form.title.name }}"
                                    autocomplete="off"
                                    />
                            </div>
                            {% if form.title.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.title.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="">
                                <div class="form-group">
                                    <label class="form-label" for="{{ form.title_en.id_for_label }}">Tittel på engelsk</label>
                                    <input type="text"
                                        class="form-control form-control-md"
                                        id="{{ form.title_en.id_for_label }}" 
                                        value="{{ form.title_en.value|default:'' }}"
                                        name="{{ form.title_en.name }}"
                                        autocomplete="off"
                                        />
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-6">
                                <div >
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="{{ form.expected_visitors.id_for_label }}">Forventet besøk</label>
                                        <input type="text"
                                            class="form-control form-control-md"
                                            id="{{ form.expected_visitors.id_for_label }}" 
                                            value="{{ form.expected_visitors.value|default:'0' }}"
                                            name="{{ form.expected_visitors.name }}"
                                            autocomplete="off"
                                            />
                                    </div>
                                    {% if form.expected_visitors.errors|length > 0 %}
                                        <div class="alert alert-danger">
                                            {{ form.expected_visitors.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6">
                                <div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="{{ form.actual_visitors.id_for_label }}">Faktisk besøk</label>
                                        <input type="text"
                                            class="form-control form-control-md"
                                            id="{{ form.actual_visitors.id_for_label }}" 
                                            value="{{ form.actual_visitors.value|default:'0' }}"
                                            name="{{ form.actual_visitors.name }}"
                                            autocomplete="off"
                                            />
                                    </div>
                                    {% if form.actual_visitors.errors|length > 0 %}
                                        <div class="alert alert-danger">
                                            {{ form.actual_visitors.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-6">
                                <div class="form-outline datetimepicker" id="startDateTime"
                                    data-mdb-default-date="{{object.start|date:'m/d//Y' }}" 
                                    data-mdb-default-time="{{object.start|date:'G:i:s' }}">
                                    <input type="text" class="form-control" id="startDateTimeInput" 
                                        value="{{ object.start|date:'d.m.Y G:i' }}"/>
                                    <label for="datetimepickerExample" class="form-label h5">Startdato og tidspunkt</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-outline datetimepicker" id="endDateTime"
                                    data-mdb-default-date="{{object.end|date:'m/d/Y' }}" 
                                    data-mdb-default-time="{{object.end|date:'G:i:s' }}">
                                    <input type="text" class="form-control" id="endDateTimeInput" 
                                        value="{{ object.end|date:'d.m.Y G:i' }}" />
                                    <label for="datetimepickerExample" class="form-label h5">Sluttdato og tidspunkt</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <label class="d-block form-label">{% trans "Vises på skjerm:" %}</label>
                        {{form.display_layouts}}
                    </div>  
    
                    <div class="alert col-auto mb-4 mt-2 wb-bg-secondary">
                        <div class="clearfix">
                            <div class="float-start">
                                <h6 class="mb-0 d-inline fw-lighter">Tilhører arrangement:</h4>
                                <h4 class="mb-0">{{ object.arrangement.name }}</h6>
                            </div>
                            <button class="btn wb-btn-main float-end shadow-0"
                                    type="button"
                                    d-trigger="openInspectArrangementDialog"
                                    d-arg-slug="{{ object.arrangement.slug }}"
                                    d-arg-event_pk="{{ object.pk }}">
                                Gå til arrangement
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
            <div class="clearfix">
                <div class="float-end">
                    <a class="btn wb-btn-main" id="eventDialog_uploadFilesBtn"><i class="fas fa-upload"></i>&nbsp; Last opp fil(er)</a>
                </div>
            </div>
            <div>
                <table class="table w-100" id="inspectEventDialog__filesTable">
                    <thead>
                        <tr>
                            <th>Filnavn</th>
                            <th>Lastet opp</th>
                            <th>Valg</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in object.files.all %}
                            <tr id="fileRow_{{file.pk}}">
                                <td>{{file.filename}}</td>
                                <td><i class="text-muted">Av {{file.uploader.full_name}} den {{file.created}}</i></td>
                                <td>
                                    <a class="btn wb-btn-secondary rounded-pill" href="/media/{{file.file}}" download>
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a class="btn wb-btn-secondary rounded-pill"
                                        d-arg-file_id="{{file.pk}}"
                                        d-trigger="deleteFile">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-resources" role="tabpanel">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class=" mb-2 mt-4">
                        <label class="form-label">Rom</label>
                        <a class="btn btn-sm btn-link wb-bg-secondary float-end"
                            id="inspectEventDialog_addRoomsBtn"
                            type="button">
                            Legg til nye rom
                        </a>
                    </div>
                    <hr>
        
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless">
                            <tbody id="roomsTableBody">
                                {% for room in object.rooms.all %}
                                <tr rowid="{{room.pk}}">
                                    <td>{{room}}</td>
                                    <td>
                                        <a href="#" class="text-danger"
                                            data-mdb-toggle="tooltip"
                                            d-trigger="i"
                                            title="{% trans 'Remove this room from the activity' %}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="cmb-2 mt-4">
                        <label class="form-label">Personer</label>
                        <a class="btn btn-sm btn-link wb-bg-secondary float-end"
                            id="inspectEventDialog_addPeopleBtn"
                            type="button">
                            Legg til nye personer
                        </a>
                    </div>
        
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless">
                            <tbody id="peopleTableBody">
                                {% for person in object.people.all %}
                                    <tr rowid="{{person.pk}}">
                                        <td>{{person}}</td>
                                        <td>
                                            <a href="#" class="text-danger"
                                                data-mdb-toggle="tooltip"
                                                d-trigger="removeAssociation"
                                                title="{% trans 'Remove this person from the activity' %}">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-details" role="tabpanel">
            <div class="form-group mb-3">
                <label class="form-label" for="{{ form.ticket_code.id_for_label }}">Billetkode</label>
                <input type="text"
                    class="form-control form-control-md"
                    id="{{ form.ticket_code.id_for_label }}" 
                    value="{{ form.ticket_code.value|default:'' }}"
                    name="{{ form.ticket_code.name }}"
                    autocomplete="off"
                    />
            </div>
            {% if form.ticket_code.errors|length > 0 %}
                <div class="alert alert-danger">
                    {{ form.ticket_code.errors }}
                </div>
            {% endif %}
        </div>

        <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tabs-3">
            <div class="clearfix">
                <a class="btn wb-btn-main shadow-0 mb-2 float-end" id="inspectEventDialog__newNoteBtn">
                    <i class="fas fa-feather"></i>
                    Nytt notat
                </a>
            </div>

            {% for note in object.notes.all %}
            <div class="shadow-3 p-3 border-bottom {% if note.has_personal_information %}border-warning{% else %}border-success{% endif %}" id="note_{{note.pk}}">
                {{note.content|safe}}

                <div class="clearfix">
                    <em class="text-muted small float-start"></em>
                    <em class="text-muted small float-end">Opprettet av {{note.author}} den {{ note.created }}</em>
                </div>
                
                <hr>

                <div class="clearfix">
                    <div class="float-end">
                        <a href="#" class="btn wb-btn-secondary"
                            d-trigger="deleteNote"
                            d-arg-note_pk="{{ note.pk }}">
                            <i class="fas fa-trash"></i>
                        </a>

                        <a href="#" class="btn wb-btn-secondary"
                            d-trigger="updateNoteDialog"
                            d-arg-note_pk="{{note.pk}}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>

                    {% if note.has_personal_information %}
                        <i class="fas fa-shield-alt text-warning h3 float-start"></i> 
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tabs-4">
            {% if not object.is_buffer_event %}
                <div class="alert alert-info small">
                    <i class="fas fa-info-circle"></i>
                    Rigg "buffere" blir opprettet som egne hendelser før og etter aktiviteten.
                    <div>
                        Det betyr at om du endrer tidene på aktivitetene så vil denne forandringen også reflekteres her.
                        Vis versa så kan du også endre tidene her, og det vil endre tidene på rigging aktivitetene.
                    </div>
                </div>

                <table class="table table-bordered table-sm">
                    <thead></thead>
                    <tbody>
                        <tr style="background-color: whitesmoke;">
                            <th colspan="3" class="fw-bold">
                                {% if object.buffer_before_event %}
                                <div class="clearfix">
                                    <h5 class="float-start mb-0">Opprigg</h6>

                                    <div class="float-end">
                                        <a href="#" 
                                            d-trigger="inspectOtherEvent"
                                            d-arg-event_id="{{ object.buffer_before_event.pk }}"
                                            class="btn btn-sm btn-white">
                                            Åpne aktivitet
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            </th>
                        </tr>

                        <tr>
                            <td>
                                Fra
                                <div class="form-outline">
                                    <input type="time" id="buffer_before_start" value="{{ form.before_buffer_start.value|date:'H:i' }}" class="form-control" />
                                </div>
                            </td>
                            <td>
                                Til
                                <div class="form-outline">
                                    <input type="time" id="buffer_before_end" value="{{ form.before_buffer_end.value|date:'H:i' }}" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr style="background-color: whitesmoke;">
                            <th colspan="3" class="fw-bold" 
                            style="justify-content: center; align-items:center;">
                                {% if object.buffer_after_event %}
                                <h5 class="float-start mb-0">Nedrigg</h5>
                                <a href="#" class="btn btn-sm btn-white float-end" 
                                    d-trigger="inspectOtherEvent"
                                    d-arg-event_id="{{ object.buffer_before_event.pk }}">
                                    Åpne aktivitet
                                </a>
                                {% endif %}
                            </th>
                        </tr>

                        <tr>
                            <td>
                                Fra
                                <div class="form-outline">
                                    <input type="time" id="buffer_after_start" value="{{ form.after_buffer_start.value|date:'H:i' }}" class="form-control" />
                                </div>
                            </td>
                            <td>
                                Til
                                <div class="form-outline">
                                    <input type="time" id="buffer_after_end" value="{{ form.after_buffer_end.value|date:'H:i' }}" class="form-control" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
            <div class="p-3">
                <h3 class="text-center text-muted"><i class="fas fa-info-circle"></i></h3>
                <hr>
                <h6 class="text-center">Denne hendelsen er en opprigg/nedrigg hendelse for en annen hendelse og du kan dermed ikke definere opprigg/nedrigg tider på denne hendelsen.</h6>
                
                <h6 class="mt-4 text-center">
                    Om du ønsker å endre tider på opprigg/nedrigg så kan du redigere tiden på denne aktiviteten. Denne forandringen vil speiles 
                    til opprigg/nedrigg tidene definert på "hoved-aktiviteten" som disse rigg aktivitetene omhandler.
                </h6>

                <div class="d-flex justify-content-center">
                    <button class="btn wb-btn-secondary"
                            type="button"
                            d-trigger="inspectOtherEvent"
                            d-arg-event_id="{{ object.buffer_before_event.pk }}">
                        Åpne hovedaktivitet
                    </button>
                </div>

            </div>
            {% endif %}
        </div>
    </div>

    <div class="clearfix border-top pt-3">
        <div class="float-start">
            <a href="#" class="btn btn-link"
                d-trigger="delete">
                <i class="fas fa-trash"></i>&nbsp; Slett denne aktiviteten
            </a>
        </div>
        <div class="float-end">
            <a href="#" class="btn wb-btn-secondary btn-lg"
                onclick="window.dialogApi.close('eventInspector', 'inspectEventDialog')">
                <i class="fas fa-times"></i>
                Avbryt
            </a>
            <a class="btn btn-md wb-btn-main" type="button" d-trigger="save">
                <i class="fas fa-save"></i>&nbsp; Lagre
            </a>
        </div>
    </div>
</div>


<script>
    new Dialog({
        managerName: '{{managerName}}',
        dialogId: '{{dialogId}}',
        discriminator: '{{discriminator}}',
        postInit: function (dialog) {
            document.addEventListener("eventInspector.roomsUpdated", (e) => {
                dialog.data.roomsMap = e.detail.context.room_name_map;
                dialog.setRooms(e.detail.context.rooms);
            });

            document.addEventListener("eventInspector.peopleUpdated", (e) => {
                dialog.data.peopleMap = e.detail.context.people_name_map;
                dialog.setPeople(e.detail.context.people);
            });
        },
        methods: {
            /* Open an event inspection dialog for another event */
            inspectOtherEvent: function (dialog, { eventId } = {}) {
                dialog.raiseTriggerEvent(dialog.managerName, "{{dialogId}}", { pk: eventId });
            },
            /* Delete a file, identified by the given fileId */
            deleteFile: (dialog, { fileId } = {}) => {
                fetch(`/arrangement/event/{{object.pk}}/files/${fileId}/delete`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(a => a.text())
                  .then(a => dialog.$safeGet('#fileRow_' + fileId).remove());
            },
            /* Open dialog for editing a note, identified by note_pk */
            updateNoteDialog: (dialog, { notePk } = {}) => {
                dialog.raiseTriggerEvent("eventInspector", "editNoteDialog", { "note_pk": notePk })
            },
            /* Delete a note, identified by note_pk */
            deleteNote: (dialog, { notePk } = {}) => {
                Swal.fire({
                    title: 'Er du sikker?',
                    text: "Er du sikker på at du ønsker å slette dette notatet?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Slett',
                    cancelButtonText: 'Avbryt',
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/arrangement/note/delete/' + note_pk, {
                            method: 'DELETE',
                            headers: {
                                'X-CSRFToken': '{{csrf_token}}',
                            }
                        }).then(response => { dialog.$safeGet('note_' + note_pk).remove(); });     
                    }
                });
            },
            /* Check if the form is valid, the resulting bool is True if yes, False if not */
            validate: (dialog) => {
                let field_elements = dialog.$dialogElement.find("input, select");

                let isInvalid = false;

                for (let i = 0; i < field_elements.length; i++) {
                    if (field_elements[i].checkValidity() === false) {
                        isInvalid = true;
                        break;
                    }
                }

                if (isInvalid) {
                    $('#inspectEventForm').find(':submit').click();
                    return false;
                }

                return true;
            },
            /* Set rooms */
            setRooms: (dialog, rooms) => {
                let tbody = dialog.$safeGet('#roomsTableBody');
                tbody.empty();

                console.log(rooms)

                rooms.split(",").forEach(id => {
                    tbody.append(
                        $(`<tr rowid='${id}'>
                            <td>${dialog.data.roomsMap.get(id)}</td>
                            <td>
                                <a href="#" class="text-danger"
                                            data-mdb-toggle="tooltip"
                                            d-trigger="removeAssociation"
                                            title="{% trans 'Remove this room from the activity' %}">
                                            <i class="fas fa-trash"></i>
                            </td>
                        </tr>`));
                });
            },
            /* Set people */
            setPeople: (dialog, people) => {
                let tbody = dialog.$safeGet('#peopleTableBody');
                tbody.empty();

                people.split(",").forEach(id => {
                    tbody.append(
                        $(`<tr rowid='${id}'>
                            <td>${dialog.data.peopleMap.get(id)}</td>
                            <td>
                                <a href="#" class="text-danger"
                                            data-mdb-toggle="tooltip"
                                            d-trigger="removeAssociation"
                                            title="{% trans 'Remove this person from the activity' %}">
                                            <i class="fas fa-trash"></i>
                            </td>
                        </tr>`) );
                });
            },
            /* Remove association from DOM */
            removeAssociation: (dialog, {}, triggeredByElement) => {
                let row = $(triggeredByElement).closest("tr");
                row.remove();
            },
            /* Gets and returns an array containing the IDs of all selected rooms */
            getSelectedRoomIds: (dialog) => {
                let room_ids = Array.from(dialog.$safeGet("#roomsTableBody")[0].children)
                                    .map(row => row.getAttribute("rowid"))
                return room_ids;
            },
            /* Gets and returns an array containing the IDs of all selected people */
            getSelectedPeopleIds: (dialog) => {
                let people_ids = Array.from(dialog.$safeGet("#peopleTableBody")[0].children)
                                    .map(row => row.getAttribute("rowid"));
                return people_ids;
            },
            /* Open dialog for inspecting an arrangement */
            openInspectArrangementDialog: (dialog, { slug, eventPk } = {}) => {
                document.dispatchEvent(
                    new CustomEvent(
                        "plannerCalendar.inspectThisArrangement",
                        { detail: { slug: slug, event_pk: eventPk } }
                    )
                )
            },
            /* Delete this current event */
            delete: (dialog) => {
                Swal.fire({
                    title: 'Er du sikker?',
                    text: "Hendelsen kan ikke hentes tilbake.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ja',
                    cancelButtonText: 'Avbryt'
                }).then((result) => {
                    if (result.isConfirmed) {
                        let formData = new FormData();
                        formData.append("eventIds", "{{object.pk}}");

                        fetch('/arrangement/planner/delete_events/', {
                            method: 'POST',
                            body: formData,
                            headers: {
                                "X-CSRFToken": '{{ csrf_token }}',
                            }
                        }).then(_ => {
                            dialog.closeMe();
                            document.dispatchEvent(new Event("plannerCalendar.refreshNeeded"));
                        });
                    }
                })
            },
            /* Save the changes made to this event */
            save: (dialog) => {
                if (dialog.validate() === false) {
                    return;
                }

                const getDateISOStringFromMdbDateTimePickerInstance = function (mdbDatetimePicker) {
                    let isoStr = (mdbDatetimePicker._datepicker._selectedDate ??
                                    new Date(mdbDatetimePicker._dateValue + " " + mdbDatetimePicker._timeValue)).toISOString();
                    return isoStr;
                }
                let a = dialog.$safeGet('#startDateTime')[0];
                let b = dialog.$safeGet('#endDateTime')[0];
                let dateTimeStartMdbInstance = mdb.Datetimepicker.getInstance(a);
                let dateTimeEndMdbInstance = mdb.Datetimepicker.getInstance(b);

                let qualifiedEvent = {
                    id:                 '{{object.pk}}',
                    title:              dialog.interior.id_title.value,
                    title_en:           dialog.interior.id_title_en.value,
                    ticket_code:        dialog.interior.id_ticket_code.value,
                    start:              getDateISOStringFromMdbDateTimePickerInstance(dateTimeStartMdbInstance),
                    end:                getDateISOStringFromMdbDateTimePickerInstance(dateTimeEndMdbInstance),
                    expected_visitors:  dialog.interior.id_expected_visitors.value,
                    actual_visitors:    dialog.interior.id_actual_visitors.value,
                    arrangement:        '{{object.arrangement.pk}}',
                    people:             dialog.getSelectedPeopleIds(),
                    rooms:              dialog.getSelectedRoomIds(),
                    display_layouts:    [...document.querySelectorAll("input[name='display_layouts'][type='checkbox']:checked")]
                                            .map(element => element.value),
                    before_buffer_start: dialog.interior.buffer_before_start != undefined ? dialog.interior.buffer_before_start.value : "", 
                    before_buffer_end:  dialog.interior.buffer_before_end != undefined ? dialog.interior.buffer_before_end.value : "",
                    after_buffer_start: dialog.buffer_after_start != undefined ? dialog.interior.buffer_after_start.value : "",
                    after_buffer_end: dialog.interior.buffer_after_end != undefined ? dialog.interior.buffer_after_end.value : "",
                };

                dialog.raiseSubmitEvent({
                    event: qualifiedEvent,
                    csrf_token: '{{ csrf_token }}',
                });
            },
        },
        data: {
            peopleMap: new Map(),
            roomsMap: new Map(),
        },
    })

    $(document).ready(function () {
        new mdb.Datetimepicker(document.getElementById('startDateTime', {
            container: '#inspectEventDialog',
            format: 'dd-mm-yyyy',
        }));
        new mdb.Datetimepicker(document.getElementById('endDateTime', {
            container: '#inspectEventDialog',
            format: 'dd-mm-yyyy',
        }));

        const personAsyncFilter = async (query) => {
        const url = `{% url "arrangement:search_people_ajax_view" %}?term=${encodeURI(query)}`;
        const response = await fetch(url);
        const data = JSON.parse(await response.json());

        let people = []
        for (let i = 0; i < data.length; i++) {
          let entry = data[i]
          entry.fields.id = entry.pk;
          if (peopleMap.has(entry.fields.id) !== true) {
            people.push(entry.fields)
          }
        }

        return people;
      };

      const roomAsyncFilter = async (query) => {
        const url = `{% url "arrangement:search_room_ajax_view" %}?term=${encodeURI(query)}`;
        const response = await fetch(url);
        const data = JSON.parse(await response.json());

        let rooms = [];
        for (let i = 0; i < data.length; i++) {
          let entry = data[i]
          entry.fields.id = entry.pk;
          if (roomsMap.has(entry.fields.id) !== true) {
            rooms.push(entry.fields);
          }
        }

        return rooms;
      };
    })
</script>
