{% load static i18n %}


<div id="inspectEventDialog" title="Inspiser tidspunkt">
    <button class="btn btn-danger mb-3" onclick="inspectEventDialog__delete()"><i class="fas fa-trash"></i>&nbsp; Slett</button>

    <div class="border border-1 bg-secondary rounded-4 mb-2 p-3">
        <div>
            <h5 class="mb-0 d-inline fw-bolder text-white">{{ object.arrangement.name }}</h5>
            <h6 class="fw-bold  d-inline text-white">| På {{ object.arrangement.location }}</h6>
            
            <button class="btn btn-sm btn-white shadow-0 float-end"
                onclick="triggerFocusTo('{{object.arrangement.slug}}', '{{object.pk}}')">
                Inspiser
            </button>
        </div>
    </div>

    <div style="max-height: 300px;">
        <div>
            <h4>Informasjon</h4>
            <div>
                <label for="{{form.title.id_for_label}}">
                    Tittel
                </label>
                <input type="text" class="form-control"
                    name="{{form.title.name}}" id="{{form.title.id_for_label}}"
                    value="{{form.title.value}}">
            </div>
            <div class="mt-2">
                <label for="{{form.title_en.id_for_label}}">
                    Tittel (Engelsk)
                </label>
                <input type="text" class="form-control"
                    name="{{form.title_en.name}}" id="{{form.title_en.id_for_label}}"
                    value="{{form.title_en.value}}">
            </div>

            <div class="mt-2">
                <label for="title" form="{{form.ticket_code.id_for_label}}">
                    Billetkode
                </label>
                <input type="text" class="form-control"
                    name="{{ form.ticket_code.name }}" id="{{ form.ticket_code.id_for_label }}"
                    value="{{ form.ticket_code.value|default:'' }}">
            </div>

            <div class="mt-2">
                <label for="title" form="{{form.expected_visitors.id_for_label}}">
                    Forventet antall besøkende
                </label>
                <input type="text" class="form-control"
                    name="{{ form.expected_visitors.name }}" id="{{ form.expected_visitors.id_for_label }}"
                    value="{{ form.expected_visitors.value|default:'0' }}">
            </div>

            <div class="mt-2">
                <label for="title" form="{{form.actual_visitors.id_for_label}}">
                    Faktisk antall besøkende
                </label>
                <input type="text" class="form-control"
                    name="{{ form.actual_visitors.name }}" id="{{ form.actual_visitors.id_for_label }}"
                    value="{{ form.actual_visitors.value|default:'0' }}">
            </div>

            <div class="mt-2">
                <h6>Fra</h6>
                <div class="row">
                    <div class="col-8">
                        <input type="date" class="form-control" 
                                name="{{form.start.name}}_date" id="{{form.start.id_for_label}}_date"
                                value="{{ form.start.value|date:'Y-m-d' }}">
                    </div>
                    <div class="col-4">
                        <input type="time" class="form-control" 
                                name="{{ form.start.name }}_time" id="{{ form.start.name }}_time" 
                                value="{{ form.start.value|date:'H:i' }}">
                    </div>
                </div>
            </div>

            <div class="mt-2">
                <h6>Til</h6>
                <div class="row">
                    <div class="col-8">
                        <input type="date" class="form-control" 
                                name="{{ form.end.name }}_date" id="{{ form.end.id_for_label }}_date"
                                value="{{ form.end.value|date:'Y-m-d' }}">
                    </div>
                    <div class="col-4">
                        <input type="time" class="form-control" 
                                name="{{form.end.name}}_time" id="{{ form.end.name }}_time"
                                value="{{ form.end.value|date:'H:i' }}" >
                    </div>
                </div>
            </div>

            <div class="mt-2">
                <label for="title">
                    Display layouts:
                </label>
                {{form.display_layouts}}
            </div>

            <div class="clearfix mb-2 mt-4">
                <h4 class=" float-start">People</h4>
                <button class="float-end btn btn-sm btn-success shadow-0"
                    id="inspectEventDialog_addPeopleBtn">
                    + Legg til nye personer
                </button>
            </div>

            <hr>
            <div class="table-responsive">
                <table class="table table-sm table-borderless">
                    <tbody id="peopleTableBody">
                        {% for person in object.people.all %}
                            <tr rowid="{{person.pk}}">
                                <td>{{person}}</td>
                                <td> 
                                    <a href="#" class="text-danger"
                                        data-mdb-toggle="tooltip"
                                        onclick="inspectEventDialog__removeAssociation(this)"
                                        title="{% trans 'Remove this person from the activity' %}">
                                        <i class="fas fa-trash"></i>
                                    </a> 
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            

            <div class="clearfix mb-2 mt-4">
                <h4 class=" float-start">Rom</h4>
                <button class="float-end btn btn-sm btn-success shadow-0"
                    id="inspectEventDialog_addRoomsBtn">
                    + Legg til nye rom
                </button>
            </div>
            <hr>

            <div class="table-responsive">
                <table class="table table-sm table-borderless">
                    <tbody id="roomsTableBody">
                        {% for room in object.rooms.all %}
                        <tr rowid="{{room.pk}}">
                            <td>{{room}}</td>
                            <td>
                                <a href="#" class="text-danger"
                                    data-mdb-toggle="tooltip"
                                    onclick="inspectEventDialog__removeAssociation(this)"
                                    title="{% trans 'Remove this room from the activity' %}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="clearfix">
                <div class="float-end">
                    <button class="btn btn-sm btn-dark">Avbryt</button>
                    <button class="btn btn-sm btn-success" onclick="inspectEventDialog__save()">Lagre</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var peopleMap = new Map();
    var roomsMap = new Map();

    $(document).ready(function () {
        document.addEventListener("eventInspector.roomsUpdated", (e) => {
            roomsMap = e.detail.context.room_name_map;
            inspectEventDialog__setRooms(e.detail.context.rooms);
        })
        document.addEventListener("eventInspector.peopleUpdated", (e) => { 
            peopleMap = e.detail.context.people_name_map;
            inspectEventDialog__setPeople(e.detail.context.people);
        });
    })

    function inspectEventDialog__removeAssociation(a) {
        var row = $(a).closest("tr");
        row.remove();
    }

    function inspectEventDialog__setRooms(rooms) {
        console.log("rooms", rooms)

        var tbody = $('#roomsTableBody');
        tbody.empty(); // remove child elements

        var ids = rooms.split(",");

        ids.forEach(id => {
            tbody.append( 
                $(`<tr rowid='${id}'>
                    <td>${roomsMap.get(id)}</td>
                    <td>
                        <a href="#" class="text-danger"
                                    data-mdb-toggle="tooltip"
                                    onclick="inspectEventDialog__removeAssociation(this)"
                                    title="{% trans 'Remove this room from the activity' %}">
                                    <i class="fas fa-trash"></i>    
                    </td>
                   </tr>`) );
        });
    }

    function inspectEventDialog__setPeople(people) {
        var tbody = $('#peopleTableBody');
        tbody.empty(); // remove child elements

        var ids = people.split(",");

        ids.forEach(id => {
            tbody.append( 
                $(`<tr rowid='${id}'>
                    <td>${peopleMap.get(id)}</td>
                    <td>
                        <a href="#" class="text-danger"
                                    data-mdb-toggle="tooltip"
                                    onclick="inspectEventDialog__removeAssociation(this)"
                                    title="{% trans 'Remove this person from the activity' %}">
                                    <i class="fas fa-trash"></i>    
                    </td>
                   </tr>`) );
        });
    }

    function inspectEventDialog__getSelectedRoomIds() {
        var room_ids = Array.from($("#roomsTableBody")[0].children).map(row => row.getAttribute("rowid"));
        console.log("Rooms", room_ids);
        return room_ids;
    }

    function inspectEventDialog__getSelectedPeopleIds() {
        var people_ids = Array.from($("#peopleTableBody")[0].children).map(row => row.getAttribute("rowid"));
        console.log("People", people_ids)
        return people_ids;
    }

    function inspectEventDialog__delete() {

        Swal.fire({
            title: 'Er du sikker?',
            text: "Hendelsen kan ikke hentes tilbake.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ja',
            cancelButtonText: 'Avbryt'
        }).then((result) => {
            if (result.isConfirmed) {
                let formData = new FormData();
                formData.append("eventIds", "{{object.pk}}");
                
                fetch('/arrangement/planner/delete_events/', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        "X-CSRFToken": '{{ csrf_token }}',
                    }
                }).then(_ => { 
                    document.dispatchEvent(new Event("eventInspector.close"));
                    document.dispatchEvent(new Event("plannerCalendar.refreshNeeded")); // Tell the planner calendar that it needs to refresh the event set
                });
            }
        })


    }

    function inspectEventDialog__save() {
        let formData = new FormData();
        var start = new Date( $('#id_start_date').val() + "T" + $('#start_time').val() ).toISOString();
        var end = new Date( $('#id_end_date').val() + "T" + $('#end_time').val() ).toISOString();

        formData.append("id",           '{{object.pk}}');
        formData.append("title",        $('#id_title').val());
        formData.append("title_en",     $('#id_title_en').val());
        formData.append("start",        start);
        formData.append("end",          end);
        formData.append("expected_visitors", $('#id_expected_visitors').val());
        formData.append("actual_visitors", $('#id_actual_visitors').val())
        formData.append("arrangement", '{{object.arrangement.pk}}');
        formData.append("people",       inspectEventDialog__getSelectedPeopleIds());
        formData.append("rooms",        inspectEventDialog__getSelectedRoomIds());
        formData.append("csrf_token",   "{{ csrf_token }}");

        let displayLayouts = [];
        document.querySelectorAll("input[name='display_layouts'][type='checkbox']:checked").forEach(element => {
            formData.append("display_layouts", element.value);
        })

        document.dispatchEvent(
            new CustomEvent("eventInspector.submit", { "detail": {
                dialog: "inspectEventDialog",
                formData: formData,
                event_pk: '{{ object.pk }}',
                csrf_token: '{{ csrf_token }}',
            }})
        );
    }

    function triggerFocusTo(slug, event_pk) {
        document.dispatchEvent(
            new CustomEvent(
                "plannerCalendar.inspectThisArrangement",
                { detail: { slug: slug, event_pk: event_pk } }
            )
        )
    }

    function removePerson(el) {
      let key = $(el).attr("person-key");
      peopleMap.delete(parseInt(key));
      el.remove();
    }

    function removeRoom(el) {
      let key = $(el).attr("room-key");
      roomsMap.delete(parseInt(key));
      el.remove();
    }

    $(document).ready(function () {
        const personAsyncFilter = async (query) => {
        const url = `{% url "arrangement:search_people_ajax_view" %}?term=${encodeURI(query)}`;
        const response = await fetch(url);
        const data = JSON.parse(await response.json());
        
        let people = []
        for (let i = 0; i < data.length; i++) {
          let entry = data[i]
          entry.fields.id = entry.pk;
          if (peopleMap.has(entry.fields.id) !== true) {
            people.push(entry.fields)
          }
        }

        return people;
      };

      const roomAsyncFilter = async (query) => {
        const url = `{% url "arrangement:search_room_ajax_view" %}?term=${encodeURI(query)}`;
        const response = await fetch(url);
        const data = JSON.parse(await response.json());

        let rooms = [];
        for (let i = 0; i < data.length; i++) {
          let entry = data[i]
          entry.fields.id = entry.pk;
          if (roomsMap.has(entry.fields.id) !== true) {
            rooms.push(entry.fields);
          }
        }

        return rooms;
      };

      var personAutocomplete = new mdb.Autocomplete(document.getElementById('personAutocomplete'), {
        filter: personAsyncFilter,
        displayValue: (value) => [value.first_name, value.middle_name, value.last_name].join(" ")
      });
      var roomAutocomplete = new mdb.Autocomplete(document.getElementById('roomAutoComplete'), {
        filter: roomAsyncFilter,
        displayValue: (value) => value.name
      });

      $("#personAutocomplete").on("itemSelect.mdb.autocomplete", function (ev) {
          peopleMap.set(ev.value.id, ev.value);
          $('#peopleTableBody').append("<tr person-key='" + ev.value.id  + "'><td>" + [ev.value.first_name, ev.value.middle_name, ev.value.last_name].join(" ") + "</td><td><a href='#' onclick='removePerson(this.parentElement.parentElement)'><i class='fas fa-minus text-danger'></i></td>");
          personAutoCompleteEl.children[0].value = ""
      })
      $("#roomAutoComplete").on("itemSelect.mdb.autocomplete", function (ev) {
          roomsMap.set(ev.value.id, ev.value);
          $('#roomsTableBody').append("<tr room-key='" + ev.value.id  + "'><td>" + ev.value.name + "</td><td><a href='#' onclick='removeRoom(this.parentElement.parentElement)'><i class='fas fa-minus text-danger'></i></td>");
      })
    })
</script>