<div id="{{dialog}}" title="<span class='badge badge-success'><i class='fas fa-feather'></i></span>&nbsp; {% if not form.instance.id %}Nytt notat{% else %}Rediger notat{% endif %}">
    <form id="noteForm">
        <input type="hidden" name="id" value="{{ form.instance.id }}">
        <input type="hidden" name="entityPk" value="{{arrangementPk}}">
        <input type="hidden" name="entityType" value="arrangement">

        <div id="{{ form.content.id_for_label }}">
            {% if form.content.value %}
                {{ form.content.value|safe }}
            {% endif %}
        </div>

        <div class="mt-3">
            <i class="fas fa-shield-alt"></i>
            {{form.has_personal_information}}
            <label for="{{form.has_personal_information.id_for_label}}">
                Inneholder personlig informasjon?
            </label>
        </div>
        
        <div class="clearfix">
            <a class="float-end text-white btn btn-success" onclick="submitNote()" type="button">
                Lagre
            </a>
        </div>
    </form>
</div>

<script>
    var editor;
    $(document).ready(function () {
        editor = new Quill('#{{form.content.id_for_label}}', {
            theme: 'snow'
        });
    })

    function submitNote() {
        let data = new FormData(
            document.getElementById('noteForm')
        );
        data.append("content", editor.root.innerHTML);
        data.append('csrfmiddlewaretoken', "{{ csrf_token }}");
        
        document.dispatchEvent(
            new CustomEvent("{{manager}}.submit", { "detail": {
                dialog: '{{dialog}}',
                formData: data,
                csrf_token: '{{csrf_token}}',
            }})
        );
    }
</script>