<div id="{{dialog}}" title="{% if mode == 'serie' %}Bestill person{% else %}Bestill person for '{{event.title}}'{% endif %}">
    <div class='bg-white p-2 border border-1'>
        {% if mode == 'serie' %}
        <div class="alert alert-danger">
            <strong>Merk: </strong> du bestiller personer for hele serien.
        </div>
        {% endif %}

        <table class="table table-sm table-striped">
            <tbody>
                {% for person in people %}
                    <tr>
                        <td>
                            {% if person.is_selected %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{person.pk}}" person_name="{{person.full_name}}" id="personCheck__{{person.slug}}" 
                                    name="orderPersonDialog__checkboxArray" checked/>
                                <label class="form-check-label" for="personCheck__{{person.slug}}">{{person}}</label>
                            </div>
                            {% else %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{person.pk}}"  person_name="{{person.full_name}}" id="personCheck__{{person.slug}}" 
                                    name="orderPersonDialog__checkboxArray"/>
                                <label class="form-check-label" for="personCheck__{{person.slug}}">{{person}}</label>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="small text-right">
            {{people|length}} elementer
        </div>

        <div class="clearfix">
            <button class="btn btn-sm btn-success shadow-0 float-end" onclick="orderPersonDialog__order()">Bestill valgte personer</button>
        </div>
    </div>
</div>

<script>

    function orderPersonDialog__getSelectedPeopleIds() {
        var checkboxes = $("input[type=checkbox][name=orderPersonDialog__checkboxArray]:checked");
        var peopleIds = []
        for (let i = 0; i < checkboxes.length; i++) {
            peopleIds.push( { id: checkboxes[i].value, text: checkboxes[i].getAttribute("person_name") } );
        }
        return peopleIds;
    }

    {% if mode == 'serie' %}
        function orderPersonDialog__order() {
            var data = new FormData();
            data.set("people_ids", orderPersonDialog__getSelectedPeopleIds()
                                    .map( x => x.id )
                                    .join(","));
            data.set("serie_guid", "{{serie_guid}}");

            document.dispatchEvent(
                new CustomEvent("{{manager}}.submit", { "detail": {
                    dialog: "{{dialog}}",
                    mode: "serie",
                    formData: data,
                    csrf_token: '{{csrf_token}}',
                }})
            );
        }
    {% else %}
        function orderPersonDialog__order() {
            var data = new FormData();
            var people_ids = orderPersonDialog__getSelectedPeopleIds();

            data.set("people_ids", people_ids.map( x => x.id ).join(","));
            data.set("event_pk", "{{event.pk}}");

            people_name_map = new Map();
            people_ids.forEach(element => {
                people_name_map.set(element.id, element.text)
            });

            document.dispatchEvent(
                new CustomEvent("{{manager}}.submit", { "detail": {
                    dialog: "{{dialog}}",
                    mode: "event",
                    formData: data,
                    csrf_token: '{{csrf_token}}',
                    people_name_map: people_name_map,
                }})
            );
        }
    {% endif %}
</script>