{% include "arrangement/vue/table_component.html" %}
{% include "arrangement/vue/popover_component.html" %}


<div id="{{dialogId}}" class="{{discriminator}}">
    <div class="clearfix">
        <div class="float-start">
            <h5 class="fw-bold">
                Velg rom
            </h5>
        </div>
        <div id="rail" class="float-end stepper-rail"></div>
    </div>
    <hr>
    
    <div style="overflow-y: scroll;">
        <div class="mb-5">
            <div class="d-flex flex-wrap justify-content-center">
                <div v-for="location in locations" 
                    @click="focusedLocation = location"
                    :class="['card wb-bg-white border border-dark shadow-0 m-1', { 'wb-bg-secondary shadow-5': focusedLocation == location }]">

                    <div class="card-body p-2">
                        <h6 class="text-center mb-0">
                            [[location.name]]
                        </h6>
                    </div>

                    <div class="card-footer p-1">
                        <div class="d-flex justify-content-center">
                            <div class="badge badge-light bg-white border border-1 border-dark text-center m-1">
                                <span class="h6 mt-0 mb-0">
                                    [[location.rooms.length]]
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <table-component
                v-if="focusedLocation"
                :data-source="locationDataSourceFunc(focusedLocation.pk)"
                :can-search="true">
            </table-component>

        </div>
        
        <div class="clearfix">
            <div class="float-end">
                <a href="#" class="btn wb-btn-secondary btn-lg"
                    d-trigger="close">
                    <i class="fas fa-times"></i>
                    Avbryt
                </a>

                <a class="btn wb-btn-main shadow-0" type="button" @click="submit()">
                    <i class="fas fa-check"></i>&nbsp; Legg til valgte rom
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let orderRoomDialogVueApp = Vue.createApp({
            components: { TableComponent },
            data() {
                return {
                    locations: [
                        {% for location in locations %}
                            {
                                pk: "{{location.pk}}",
                                name: "{{location.name}}",
                                slug: "{{location.slug}}",
                                rooms: [
                                    {% for room in location.rooms.all %}
                                        {
                                            id: "{{room.id}}",
                                            name: "{{room}}",
                                            is_selected: {% if room.is_selected %}true{% else %}false{% endif %}
                                        },
                                    {% endfor %}
                                ]
                            },
                        {% endfor %}
                    ],
                    presets: [
                        {% for preset in room_presets %}
                            {
                                pk: "{{preset.pk}}",
                                name: "{{preset.name}}",
                                room_ids: [
                                    {% for room in preset.rooms.all %}
                                        "{{room.id}}",
                                    {% endfor %}
                                ]
                            },
                        {% endfor %}
                    ],
                    focusedLocation: null,
                    disabledRooms: [],
                }
            },
            computed: {
                totalSelectedRoomsCount() {
                    return this.locations.map(location => location.rooms).flat().filter(room => room.is_selected).length;
                },
            },
            watch: {
                totalSelectedRoomsCount: {
                    handler: function (newVal, oldVal) {
                        if (typeof this.callback === "function") {
                            this.callback(
                                Array.from(this.locations.map(location => location.rooms.filter(room => room.is_selected)).flat())
                            );
                        }
                    },
                    deep: true,
                }
            },
            methods: {
                submit() {

                },
                activatePreset(presetId) {
                    let preset = this.presets.find(preset => preset.pk == presetId);
                    let roomIds = preset.room_ids;

                    roomIds.forEach(roomId => {
                        let room = this.locations.find(
                                location => location.rooms.find(room => room.id == roomId))
                                                    .rooms.find(room => room.id == roomId
                            );
                        room.is_selected = true;
                    });
                },
                submit() {
                    let viewables = this.locations.map(l => l.rooms).flat().filter(room => room.is_selected).map(room => {
                        return {
                            id: room.id,
                            text: room.name,
                        }
                    });

                    let results = {
                        allPresets: this.presets,
                        selectedPresets: [],
                        allSelectedEntityIds: viewables.map(viewable => viewable.id),
                        viewables: viewables,
                        eventPk: 0
                    };

                    this.dialog.raiseSubmitEvent({
                        recipientDialog: "{{recipientDialogId}}",
                        selectedBundle: results,
                        csrf_token: "{{csrf_token}}",
                    });
                },
                async locationDataSourceFunc(locationPk) {
                    return {
                        columns: {
                            "id": {
                                isHtml: false,
                                friendlyName: "Id",
                                isSearchable: true,
                            },
                            "name": {
                                isHtml: false,
                                friendlyName: "Romnavn",
                                isSearchable: true,
                            },
                            "is_selected": {
                                isHtml: false,
                                friendlyName: "Valgt",
                                componentName: "checkbox",
                                isComponent: true,
                            }
                        },
                        actions: {
                        },
                        data: this.locations.find(location => location.pk == locationPk).rooms
                    }
                },
            },
            mounted() {
                this.focusedLocation = this.locations[0];

                this.dialog = new Dialog({
                    dialogId: '{{dialogId}}',
                    vueApp: this,
                    managerName: '{{managerName}}',
                    discriminator: '{{discriminator}}',
                    postInit: function (dialog) {
                    },
                    methods: {
                        close(dialog, {} = {}, triggeredByElement) {
                            dialog.closeMe();
                        },
                        order(dialog, {} = {}, triggeredByElement) {
                            let selectedBundle = dialog.plugins.presetSelectManager.getSelected();
                            selectedBundle.eventPk = "{{event.pk}}";
                            
                            dialog.$('#roomsTable').DataTable().destroy();
            
                            dialog.raiseSubmitEvent({
                                recipientDialog: "{{recipientDialogId}}",
                                selectedBundle: selectedBundle,
                                csrf_token: "{{csrf_token}}",
                            });
                        },

                    },
                    when: [
                        { eventKnownAs: "setState", do: (dialog, payload) => {
                            console.log(payload)

                            if ("selectedRooms" in payload) {
                                this.locations.forEach(location => {
                                    location.rooms.forEach(room => {
                                        console.log(room.id, payload.selectedRooms)
                                        room.is_selected = payload.selectedRooms.includes(parseInt(room.id));
                                    });
                                });
                            }
                        } },
                        { eventKnownAs: "registerCallback", do: (dialog, callbackFunction) => {
                            console.log("Registering callback", callbackFunction)
                            dialog.vueApp.callback = callbackFunction;
                        } }
                    ],
                    data: {},
                });
            },
            delimiters: ["[[", "]]"],
        });

        orderRoomDialogVueApp.mount(
            document.getElementsByClassName('{{discriminator}}')[0]
        )
    })
</script>