<div id="{{dialog}}" title="{% if mode == 'serie' %}Bestill person{% else %}Bestill person for '{{event.title}}'{% endif %}">
    <div>
        {% if mode == 'serie' %}
        <div class="alert alert-danger">
            <strong>Merk: </strong> du bestiller personer for hele serien.
        </div>
        {% endif %}

        <table class="table table-sm " id="orderPersonDialog__table">
            <thead>
                <tr>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for person in people %}
                    <tr>
                        <td>
                            {% if person.is_selected %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{person.pk}}" person_name="{{person.full_name}}" id="personCheck__{{person.slug}}" 
                                    name="orderPersonDialog__checkboxArray" checked/>
                                <label class="form-check-label" for="personCheck__{{person.slug}}">{{person}}</label>
                            </div>
                            {% else %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{person.pk}}"  person_name="{{person.full_name}}" id="personCheck__{{person.slug}}" 
                                    name="orderPersonDialog__checkboxArray"/>
                                <label class="form-check-label" for="personCheck__{{person.slug}}">{{person}}</label>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="small text-right">
            {{people|length}} elementer
        </div>

        <div class="clearfix">
            <div class="float-end">
                <a href="#" class="btn wb-btn-secondary btn-lg"
                    onclick="window.dialogApi.close('{{manager}}', '{{dialog}}')">
                    <i class="fas fa-times"></i>
                    Avbryt
                </a>

                <a class="btn wb-btn-main shadow-0 float-end" onclick="orderPersonDialog__order()"><i class="fas fa-check"></i>&nbsp; Legg til valgte personer</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        listenToPeopleBeingSelectedByCheckbox();
    })

    var selectedPeopleMap = new Map();

    function listenToPeopleBeingSelectedByCheckbox() {
        $("input[type=checkbox][name=orderPersonDialog__checkboxArray]").change((event) => {
            if (event.currentTarget.checked === true)
                selectedPeopleMap.set(event.currentTarget.value, event.currentTarget.getAttribute("person_name"));
            else
                selectedPeopleMap.delete(event.currentTarget.value);
        })
    }

    $(document).ready(function () {
        $("#orderPersonDialog__table").DataTable();
    })

    function orderPersonDialog__getSelectedPeopleIds() {
        return Array.from(selectedPeopleMap,
            ([name, value]) => ({id: name, text: value})
        );
    }

    {% if mode == 'serie' %}
        function orderPersonDialog__order() {
            let data = new FormData();
            data.set("people_ids", orderPersonDialog__getSelectedPeopleIds()
                                    .map( x => x.id )
                                    .join(","));
            data.set("serie_guid", "{{serie_guid}}");

            document.dispatchEvent(
                new CustomEvent("{{manager}}.submit", { "detail": {
                    dialog: "{{dialog}}",
                    mode: "serie",
                    formData: data,
                    csrf_token: '{{csrf_token}}',
                }})
            );
        }
    {% else %}
        function orderPersonDialog__order() {
            let data = new FormData();
            let people_ids = orderPersonDialog__getSelectedPeopleIds();

            data.set("people_ids", people_ids.map( x => x.id ).join(","));
            data.set("event_pk", "{{event.pk}}");

            people_name_map = new Map();
            people_ids.forEach(element => {
                people_name_map.set(element.id, element.text)
            });

            document.dispatchEvent(
                new CustomEvent("{{manager}}.submit", { "detail": {
                    dialog: "{{dialog}}",
                    mode: "event",
                    formData: data,
                    csrf_token: '{{csrf_token}}',
                    people_name_map: people_name_map,
                }})
            );
        }
    {% endif %}
</script>