<div id="orderRoomDialog" title="{% if mode == 'serie' %}Bestill rom{% else %}Bestill rom for '{{event.title}}'{% endif %}">
    <div class='bg-white p-2 border border-1'>
        {% if mode == "serie" %}
        <div class="alert alert-danger">
            <strong>Merk: </strong> du bestiller rom for hele serien.
        </div>
        {% endif %}

        <table class="table table-sm table-striped">
            <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{room.pk}}" id="personCheck__{{room.slug}}" 
                                    name="orderRoomDialog__checkboxArray"/>
                                <label class="form-check-label" for="personCheck__{{room.slug}}">{{room}}</label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="clearfix">
            <button class="btn btn-sm btn-success float-end shadow-0" type="button" onclick="orderRoomDialog__order()">
                Bestill valgte rom
            </button>
        </div>
    </div>
</div>

<script>
    {% if mode == 'serie' %}
    function orderRoomDialog__order() {
        var checkboxes = $("input[type=checkbox][name=orderRoomDialog__checkboxArray]:checked");
        var roomIds = []
        for (let i = 0; i < checkboxes.length; i++) {
            roomIds.push(checkboxes[i].value)
        }

        var data = new FormData();
        data.set("room_ids", roomIds.join(","));
        data.set("serie_guid", "{{serie_guid}}");
        
        document.dispatchEvent(
            new CustomEvent("arrangementInspector.submit", { "detail": {
                dialog: "orderRoomDialog",
                mode: 'serie',
                formData: data,
                csrf_token: '{{csrf_token}}',
            }})
        );
    }
    {% else %}
    function orderRoomDialog__order() {
        var checkboxes = $("input[type=checkbox][name=orderRoomDialog__checkboxArray]:checked");
        var roomIds = []
        for (let i = 0; i < checkboxes.length; i++) {
            roomIds.push(checkboxes[i].value)
        }

        var data = new FormData();
        data.set("room_ids", roomIds.join(","));
        data.set("event_pk", "{{event.pk}}");
        
        document.dispatchEvent(
            new CustomEvent("arrangementInspector.submit", { "detail": {
                dialog: "orderRoomForOneEventDialog",
                mode: 'event',
                formData: data,
                csrf_token: '{{csrf_token}}',
            }})
        );
    }
    {% endif %}
</script>