{% load static i18n %}

{% include "arrangement/vue/table_component.html" %}

<div id="roomsTableApp">
    <div class="clearfix">
        <button class="btn wb-btn-main btn-sm mb-3 float-end"
            @click="showCreateRoomModal()">
            <i class="fas fa-plus"></i>&nbsp; Opprett nytt rom
        </button>    
    </div>
    

    <table-component
        :data-source="roomsDataSourceFunc"
        :can-search="true"
        :rerender-toggle="renderToggle"
        @row-clicked="whenRowIsClicked"
        @edit="edit"
        @delete-room="deleteRoom">
    </table-component>

    <div
        class="modal fade"
        id="createRoomModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
            >
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <span class="badge badge-success">
                        <i class="fas fa-plus"></i>
                    </span>
                    {% trans "New room" %}
                </h5>
                <button
                type="button"
                class="btn-close"
                data-mdb-dismiss="modal"
                aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form id="createNewRoomDialogForm">
                    <input type="hidden" name="location" value="{{ LOCATION.id }}" />
                    <div class="form-group">
                        <label>{% trans "Location" %}</label>
                        <input type="text" class="form-control" value="{{ LOCATION.name }}" name="location_name" disabled/>
                    </div>

                    <div class="form-group mt-3">
                        <label>{% trans "Maximum Occupancy" %}</label>
                        <input type="number" name="max_capacity" class="form-control" value="0" />
                    </div>

                    <div class="form-group mt-3">
                        <label>{% trans "Room Name" %}</label>
                        <input type="text" class="form-control" name="name" id="roomNameInput"/>
                    </div>

                    <div class="form-group mt-3">
                        <label>{% trans "Room Name (English)" %}</label>
                        <input type="text" class="form-control" name="name_en" id="roomNameEnInput">
                    </div>

                    <div class="form-group mt-3">
                        <div class="form-check form-switch">
                            <label>Is Exclusive?</label>
                            <input class="form-check-input" name="is_exclusive" type="checkbox" role="switch" id="roomIsExclusive" />
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="form-check form-switch">
                            <label>Has Screen?</label>
                            <input class="form-check-input" name="has_screen" type="checkbox" role="switch" id="roomHasScreen" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn wb-btn-secondary" data-mdb-dismiss="modal">
                    <i class="fas fa-times"></i>&nbsp; 
                    {% trans "Cancel" %}
                </button>
                <button type="button" class="btn wb-btn-main" @click="createNewRoom()">{% trans "Create room" %}</button>
                <button type="button" class="btn wb-btn-main" @click="createNewRoom(false)">{% trans "Create and new" %}</button>
            </div>
            </div>
        </div>
        </div>
</div>


<script>
    $(document).ready(function() {
        const roomsTableApp = Vue.createApp({
            components: {
                TableComponent
            },
            data() {
                return {
                    renderToggle: true
                }
            },
            computed: {},
            methods: {
                async rerenderTable() {
                    this.renderToggle = !this.renderToggle;
                },
                showCreateRoomModal() {
                    $("#createRoomModal").modal("show")
                },
                edit(row) {
                    location.href = "/arrangement/room/edit/" + row.slug
                },
                async deleteRoom(row) {
                    Swal.fire({
                        title: 'Er du sikker?',
                        text: "Du kan ikke angre denne handlingen!\n Rommet '" + row.title + "' vil bli slettet permanent.",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        cancelButtonText: 'Avbryt',
                        confirmButtonText: 'Ja, slett!'
                      }).then(async (result) => {
                        if (result.isConfirmed) {
                            const response = await fetch("/arrangement/room/delete/" + row.slug, {
                                method: "DELETE",
                                headers: {
                                    "X-CSRFToken": "{{ csrf_token }}",
                                }
                            });

                            if (response.status === 200) {
                                Swal.fire(
                                    'Slettet!',
                                    'Rommet er slettet.',
                                    'success'
                                ).then(() => {
                                    this.rerenderTable();
                                })
                            } else {

                                console.error(response)
                                Swal.fire(
                                    'Feil!',
                                    'Noe gikk galt.',
                                    'error'
                                )
                            }
                        }
                      })
                },
                async roomsDataSourceFunc() {
                    let data = await fetch('{% url "arrangement:location_rooms_json" slug=LOCATION.slug %}')
                        .then( response => response.json() );
                    
                    data.forEach(function(item) {
                        let boolConvert = (value) => {
                            if (value === true) {
                                return "<i class='fas text-success fa-check'></i>"
                            } else {
                                return "<i class='fas text-danger fa-times'></i>"
                            }
                        }

                        item.is_exclusive = boolConvert(item.is_exclusive)
                        item.has_screen = boolConvert(item.has_screen)
                    })

                    return {
                        columns: {
                            "title": {
                                isHtml: true,
                                friendlyName: "Navn",
                                isSortable: true,
                                isSearchable: true
                            },
                            "max_capacity": {
                                friendlyName: "Maks antall",
                                isSortable: true,
                            },
                            "is_exclusive": {
                                friendlyName: "Eksklusivt?",
                                isHtml: true, 
                                isSortable: true,
                            },
                            "has_screen": {
                                friendlyName: "Har skjerm?",
                                isHtml: true, 
                                isSortable: true,
                            },
                        },
                        actions: {
                            "edit": {
                                type: "main",
                                isContentHtml: true,
                                content: "<i class='fas fa-edit'></i> Rediger",
                            },
                            "deleteRoom": {
                                type: "main",
                                isContentHtml: true,
                                content: "<i class='fas fa-trash'></i> Slett",
                            },
                        },
                        data: data
                    }
                },
                resetModalForm() {
                    $('#createNewRoomDialogForm input:not([name=location_name], [name=location])').val('')
                    $('#createNewRoomDialogForm input[name=max_capacity]').val("0");
                },
                async createNewRoom (closeModalOnDone=true) {
                    console.log("createNewRoom")

                    let dataForm = new FormData(document.getElementById("createNewRoomDialogForm"))
                    let url = "{% url 'arrangement:room_create' %}"

                    dataForm.append("csrfmiddlewaretoken", "{{ csrf_token }}");

                    fetch(url, {
                        method: 'POST',
                        body: dataForm,
                        headers: {
                            'X-CSRFToken': '{% csrf_token %}'
                        }
                    }).then( async (response) => {
                        if (response.ok) {
                            await this.rerenderTable() // refresh rooms table to include our newly created room
                            toastr.success("Rom opprettet!");
                        }
                        else {
                            throw "Response not OK."
                        }
                    }).catch(err => {
                        console.log(err)
                    }).then(response => {
                        this.resetModalForm();

                        if (closeModalOnDone) {
                            $('#createRoomModal').modal('hide');
                        }
                    })
                }
            }
        })

        roomsTableApp.mount("#roomsTableApp")
    })
</script>