{% extends "users/users_base.html" %}
{% load static %}
{% load static i18n %}

{% block title %}User: {{ object.get_representative_name }}{% endblock %}

{% block inner %}

    {{object.timezone}}

    <div id="day_calendar" class="mb-4"></div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('day_calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                schedulerLicenseKey: '{{ FULLCALENDAR_LICENSE_KEY }}',
                initialView: 'listDay',
                height: 600,
                navLinks:true,
                eventSources: [
                    {
                        events: async (times) => {
                            return await fetch(`{% url 'arrangement:my_events_event_source' %}?start=${times.start.toISOString()}&end=${times.end.toISOString()}`)
                                .then(response => response.json())
                        },
                    }
                ],
                locale: 'nb',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listDay'
                } 
            });
            calendar.render();
          });
      </script>
{% endblock inner %}

