{% extends "users/users_base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}


{% block title %}{{ user.username }}{% endblock %}
{% block section_title %}{% trans "My Info" %}{% endblock %}

{% block inner %}
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">

        {{ form | crispy }}

        <div class="control-group mt-2">
          <div class="controls">
            <button type="submit" class="btn float-end btn-primary">Update</button>
          </div>
        </div>
      </div>

    </div>
  </form>
{% endblock %}
