{% extends "base.html" %}
{% load static i18n %}


{% block content %}
  <h1>{% trans "Good day" %}, {{ request.user.get_representative_name }}</h1>
  <br>
  <div class="row">
    <div class="col-sm-12 col-lg-3">
      <ul class="list-group">

        <li class="list-group-item text-center">
          <a class="text-muted font-weight-bold" href="{% url 'users:detail' request.user.slug  %}">
            My Dashboard
          </a>
        </li>

      <a
        class="nav-link {% if request.get_full_path == my_info_url %}active{% endif %}"
        id="v-tabs-my-info-tab"
        href="{% url 'users:update' %}"
        aria-controls="v-tabs-my-info"
        aria-selected="{% if request.get_full_path == my_info_url %}true{% else %}false{% endif %}">
        {% trans "My Info" %}
      </a>
      <a
        class="nav-link {% if request.get_full_path == emails_url %}active{% endif %}"
        id="v-tabs-email-tab"
        href="{% url 'account_email' %}"
        aria-controls="v-tabs-email"
        aria-selected="{% if request.get_full_path == emails_url %}true{% else %}false{% endif %}">
        {% trans "E-Mail" %}</a>
      <a
        class="nav-link {% if request.get_full_path == account_reset_password_url %}active{% endif %}"
        id="v-tabs-reset-password-tab"
        href="{% url 'account_reset_password' %}"
        aria-controls="v-tabs-reset-password"
        aria-selected="{% if request.get_full_path == account_reset_password_url %}true{% else %}false{% endif %}">
        {% trans "Reset Password" %}
      </a>
    </div>
  </div>

    <div class="col-9 mt-sm-4 mt-lg-0">
      <p class="h3">
        {% block section_title %}{% endblock %}
      </p>

      {% block inner %}{% endblock %}
    </div>
  </div>
{% endblock %}
