{% extends "base.html" %}
{% load static i18n %}



{% block content %}
  {% url "users:detail" request.user.username as overview_url %}
  {% url "users:update" as my_info_url %}
  {% url "account_email" as emails_url %}
  {% url "account_reset_password" as account_reset_password_url %}

  <p class="h2 mb-0">{% trans "Good day" %}, {{ object.name }}</p>
  <hr class="mb-4">
  <div class="row">
    <div class="col-sm-12 col-lg-3">
    <!-- Tab navs -->
    <div
      class="nav flex-column nav-tabs text-center"
      id="v-tabs-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <a class="nav-link {% if request.get_full_path == overview_url %}active{% endif %}"
          id="v-tabs-overview-tab"
          href="{% url 'users:detail' request.user.username  %}"
          aria-controls="v-tabs-overview"
          aria-selected="{% if request.get_full_path == overview_url %}true{% else %}false{% endif %}">
          {% trans "Overview" %}
      </a>

      <a
        class="nav-link {% if request.get_full_path == my_info_url %}active{% endif %}"
        id="v-tabs-home-tab"
        href="{% url 'users:update' %}"
        aria-controls="v-tabs-home"
        aria-selected="{% if request.get_full_path == my_info_url %}true{% else %}false{% endif %}">
        {% trans "My Info" %}
      </a>
      <a
        class="nav-link {% if request.get_full_path == emails_url %}active{% endif %}"
        id="v-tabs-profile-tab"
        href="{% url 'account_email' %}"
        aria-controls="v-tabs-profile"
        aria-selected="{% if request.get_full_path == emails_url %}true{% else %}false{% endif %}">
        {% trans "E-Mail" %}</a>
      <a
        class="nav-link {% if request.get_full_path == account_reset_password_url %}active{% endif %}"
        id="v-tabs-reset-password-tab"
        href="{% url 'account_reset_password' %}"
        aria-controls="v-tabs-reset-password"
        aria-selected="{% if request.get_full_path == account_reset_password_url %}true{% else %}false{% endif %}">
        {% trans "Reset Password" %}
      </a>
    </div>
  </div>

    <div class="col-9">
      <p class="h3">
        {% block section_title %}{% endblock %}
      </p>

      {% block inner %}{% endblock %}
    </div>
  </div>
{% endblock %}
