{% extends "users/users_base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}


{% block title %}{{ user.username }}{% endblock %}
{% block section_title %}{% trans "My Info" %}{% endblock %}

{% block inner %}
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">

        <div class="form-outline mt-4"> 
          <input type="text" name="{{ form.name.name }}" maxlength="255" 
                  class="textinput textInput form-control form-control-lg" id="{{ form.name.id_for_label }}" 
                  value="{{ form.name.value }}"/> 
          <label class="form-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        </div>
        
        <div class="form-outline mt-2">
          <label class="border-bottom border-1 border-dark p-2 font-weight-bold bg-light"
                 style="width: 100%">{{ form.profile_picture.label}}</label>
          <input type="file" name="{{ form.profile_picture.name }}" id="{{ form.profile_picture.id_for_label }}"
                 class="form-control form-control-lg" />
        </div>
        
        <div class="control-group mt-2">
          <div class="controls">
            <button type="submit" class="btn float-end btn-primary">Update</button>
          </div>
        </div>
      </div>

    </div>
  </form>
{% endblock %}
