{% extends "arrangement/room/room_section_base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "Rooms" %}
{% endblock %}

{% block section_subtitle %}
    All Rooms
{% endblock %}

{% block current_crumb_title %}
    <i class="fas fa-list"></i>&nbsp; All Rooms
{% endblock %}

{% block content %}

<h4 class="fw-bold"><i class="fas fa-list" aria-hidden="true"></i>&nbsp; All Rooms</h4>
<a class="btn btn-link"
    href="{% url 'arrangement:room_create' %}">
    <i class="fas fa-plus"></i>&nbsp; New Room
</a>
<table class="table">
    <thead>
        <tr>
            <td class="h6">
                <i class="fas fa-door-open"></i>
                <span>Room</span>
            </td>
            <td class="h6">
                <i class="fas fa-cog"></i>
                <span>Options</span>
            </td>
        </tr>
    </thead>

    <tbody>
        {% for item in object_list %}
            <tr>
                <td>
                    {{ item.name }}
                </td>

                <td>
                    <a class="btn btn-sm btn-outline-info"
                        href="{% url 'arrangement:room_detail' item.slug %}">

                        <i class="fa fa-eye"></i>
                        Open
                    </a>
                    <a class="btn btn-sm btn-outline-success"
                        href="{% url 'arrangement:room_edit' item.slug %}">

                        <i class="fa fa-edit"></i>
                        Edit
                    </a>
                    <button class="btn btn-sm btn-outline-danger">
                        <i class="fa fa-trash"></i>
                        Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}