{% extends "arrangement/room/room_section_base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "Location" %} {{ object.name }}
{% endblock %}

{% block section_subtitle %}
    {{ object.name }}
{% endblock %}

{% block current_crumb_title %}
    {{ object.name }}
{% endblock %}

{% block beneath_breadcrumbs_block %}
    <a class="btn btn-outline-success"
        href="{% url 'arrangement:room_edit' object.slug %}">
        <i class="fa fa-edit"></i>&nbsp; Edit
    </a>
    <a class="btn  btn-outline-danger">
        <i class="fa fa-trash"></i>&nbsp; Delete
    </a>
{% endblock %}

{% block content %}

<section>
    <div class="col-6">
        <div class="text-center">
            <h4><i class="fas fa-building h3"></i> <strong>Location</strong></h4>
            <h4 class="mb-2">{{object.location.name}}</h4>
            <a class="mt-3 btn btn-info"
               href="{% url 'arrangement:location_detail' object.location.slug %}">
                Gå til
            </a>
        </div>
    </div>
</section>

<section class="mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <div id="room_calendar"></div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('room_calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      height: 600,
      navLinks:true,
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      }
    });
    calendar.render();
  });
</script>

{% endblock %}