{% load static %}


<template id="vuec_personell_table_component">
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Valg</th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="person in allPersonnell">
                <td>[[getFullName(person)]]</td>
                <td>
                    <button class="btn wb-btn-main">
                        Fjern
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</template>

<script type="module">
    import { Dialog, DialogManager, DialogSimpleRenderer, DialogFormInterceptorPlugin } from  "{% static 'modules/planner/dialog_manager/dialogManager.js' %}";

    const PersonellTableComponent = {
        components: {},
        props: { serviceId: Number },
        data() {
            return {
                allPersonnell: [],
                dialogManager: DialogManager,
            }
        },
        computed: {},
        methods: {
            async getPersonnell() {
                await fetch("/arrangement/service/{{object.id}}/personnell")
                    .then(async response => this.allPersonnell = await response.json());
            },
            openAddPersonDialog(serviceId) {
                document.dispatchEvent(new CustomEvent(
                    "personellTableDialogsManager.add_person_dialog.trigger",
                    { detail: { id: serviceId } }
                ))
            },
            getFullName(person) {
                return [ person.first_name, person.middle_name, person.last_name ].join(" ");
            }
        },
        async created() {
            await this.getPersonnell()

            this.dialogManager = new DialogManager({
                managerName: 'personellTableDialogsManager',
                allowMultipleOpenAtOnce: false,
                dialogs: [
                [
                    "add_person_dialog",
                    new Dialog({
                        dialogElementId: 'add_person_dialog',
                        triggerElementId: undefined,
                        triggerByEvent: true,
                        formUrl: '/arrangement/service/add_person/<<id>>',
                        dialogOptions: {
                            classes: { "ui-dialog": "wb-dialog" },
                            dialogClass: 'no-titlebar',
                            position: {
                                my: 'top right',
                                at: 'top',
                                of: document
                            },
                            modal: true,
                            width: '100%',
                            height: $(window).height,
                        },
                        plugins: [ new CustomDialogFormInterceptorPlugin("{{csrf_token}}") ],
                        htmlFabricator: async (context, dialog) => {
                            const id = context.lastTriggererDetails.id;
    
                            return this.dialogManager.loadDialogHtml({
                                url: "/arrangement/service/add_person/{{object.id}}",
                                dialogId: "add_person_dialog",
                                managerName: "serviceDialogsManager",
                            });
                        },
                        onRenderedCallback: (dialogManager, context) => {
                        },
                        onUpdatedCallback: async (dialogManager, context) => {
                            await this.getPersonnell();

                        },
                        onSubmit: async (context, details) => {
                            console.log("onsubmit has been triggerered")
                            await this.getPersonnell();
                        }
                    })
                ]
            ]});
    
            this.dialogManager._makeAware();
        },
        delimiters: [ '[[', ']]'],
        template: '#vuec_personell_table_component'
    }

    export { PersonellTableComponent };
</script>