{% include "arrangement/vue/dialog-component.html" %}

<template id="vuec-upload-files-dialog-template">
    <dialog-component :is-visible="isOpen" 
        :position="{ my: 'bottom', at: 'center', of: window }"
        width="70em">

        <template v-slot:header>
            <h3>[[ title ]]</h3>
        </template>

        <template v-slot:content>
            <div class="file-upload-wrapper">
                <input type="file"
                    ref="file_field"
                    id="input-file-now"
                    name="file_field"
                    class="file-upload-input"
                    data-mdb-default-msg="Last opp en eller flere filer ved å trykke her eller dra filene hit"
                    multiple="true"
                    data-mdb-file-upload="file-upload" />
            </div>
        </template>

        <template v-slot:footer>
            <div class="d-flex justify-content-end">
                <button v-for="button in buttons" @click="button.action" :class="button.class" :key="button.text">[[ button.text ]]</button>
            </div>
        </template>

    </dialog-component>
</template>


<script>
    let UploadFilesDialogComponent = {
        components: {
            DialogComponent
        },
        data() {
            return {
                isOpen: false,
                title: 'Upload files',
                content: 'Upload files',
                buttons: [
                    {
                        text: 'Cancel',
                        action: 'cancel',
                        class: 'btn wb-btn-secondary'
                    },
                    {
                        text: 'Upload',
                        action: 'upload',
                        class: 'btn wb-btn-main'
                    }
                ]
            }
        },
        methods: {
            open() {
                this.isOpen = true;
                this.$nextTick(() => {
                    new FileUpload(
                        this.$refs.file_field
                    );
                });

            },
            cancel() {
                console.log('cancel');
            },
            upload() {
                console.log('upload');
            }
        },
        delimiters: ['[[', ']]'],
        template: '#vuec-upload-files-dialog-template'
    }
</script>