<template id="vuec-display-layout-select">
    <h4>Skjermvisning</h4>
    <div class="mt-2 mb-1">
        <div v-for="layout in displayLayouts">
            <input type="checkbox" v-model="layout.isSelected" @change="updateSelectedDisplayLayouts()">
            <label for="" class="ms-2">[[layout.name]]</label>
        </div>
    </div>
    <input type="text" placeholder="Visningstekst"  class="form-control"
        v-if="showDisplayLayoutText" :value="text" @input="$emit('update:text', $event.target.value)">
</template>

<script>
    let DisplayLayoutSelect = {
        template: '#vuec-display-layout-select',
        delimiters: ['[[', ']]'],
        props: ['selectedDisplayLayouts', 'text'],
        emits: ['update:displayLayouts', 'update:text'],
        data() {
            return {
                displayLayouts: [],
            }
        },
        methods: {
            updateSelectedDisplayLayouts() {
                this.$emit('update:selectedDisplayLayouts', this.displayLayouts.filter((x) => x.isSelected).map((x) => x.id));
            },
        },
        computed: {
            showDisplayLayoutText: function() {
                const showDisplayLayoutText = this.displayLayouts.filter((x) => x.isSelected && x.display_layout_text).length > 0;

                if (!showDisplayLayoutText && this.text) {
                    this.$emit('update:text', '');
                }

                return showDisplayLayoutText;
            }
        },
        watch: {
            
            selectedDisplayLayouts: function(value) {
                this.displayLayouts.forEach(element => {
                    element.isSelected = false;
                    element.isSelected = this.selectedDisplayLayouts.includes(element.id);
                });
            }
        },
        async mounted() {
            this.displayLayouts = await fetch("/screenshow/layout/list/json", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(function (response) {
                return response.json();
            });
        }
    }
</script>