{% include "arrangement/vue/dialogs/upload-files-dialog.html" %}


<template id="vuec-files-list">

    <upload-files-dialog-component 
        @upload="$emit('upload', $event); modalVisibilityFlags.uploadFilesDialog = false;"
        @close="modalVisibilityFlags.uploadFilesDialog = false;"
        :is-visible="modalVisibilityFlags.uploadFilesDialog">
    </upload-files-dialog-component>

    <div v-if="files.length == 0">
        <div class="alert wb-bg-secondary">
            <h4 class="text-center">Ingen filer lastet opp her ennå!</h4>
            <div class="row" v-if="isUploadEnabled">
                <div class="col text-center">
                    <button class="btn wb-btn-main text-center shadow-0 mb-2 center" 
                        style="margin:auto" 
                        @click="modalVisibilityFlags.uploadFilesDialog = true;">
                        
                        <i class="fas fa-upload"></i>
                        Last opp
                    </buttons>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="row mb-2">
            <div class="col-10">
                {% comment %} <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Søk" v-model="searchQuery">
                </div> {% endcomment %}
            </div>
            <div class="col-2">
                <button class="float-end btn wb-btn-main" v-if="isUploadEnabled" @click="modalVisibilityFlags.uploadFilesDialog = true;"
                    data-mdb-toggle="tooltip" title="Last opp fil(er)">
                    <i class="fas fa-upload"></i>
                </button>
            </div>
        </div>

        <table class="table table-striped table-sm">
            <thead><tr> </tr></thead>
            <tbody>
                <tr v-for="file in files" class="align-middle">
                    <td>[[file.filename]]</td>
                    <td class="text-end">
                        <a href="#"
                            data-mdb-toggle="tooltip"
                            title="Slett denne filen"
                            class="btn btn-round wb-btn-secondary h5 mb-0 border border-dark"
                            @click="deleteFile(file)"
                            data-mdb-toggle="tooltip"
                            title="Slett denne filen">
            
                            <i class="fas fa-trash"></i>
                        </a>
            
                        <a data-mdb-toggle="tooltip"
                            class=" btn btn-round wb-btn-secondary ms-3 me-3 h5 mb-0 border border-dark"
                            title="Last ned denne filen"
                            :href="'/media/' + [[file.path]]"
                            data-mdb-toggle="tooltip"
                            title="Last ned denne filen"
                            download>
            
                            <i class="fas fa-download"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    let FilesListComponent = {
        computed: {
        },
        props: {
            confirmationIsRequiredOnDelete: {
                type: Boolean,
                default: true
            },
            isUploadEnabled: {
                type: Boolean,
                default: false
            },
            files: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                modalVisibilityFlags: {
                    uploadFilesDialog: false
                },
                searchQuery: ''
            }
        },
        methods: {
            deleteFile(file) {
                if (!this.confirmationIsRequiredOnDelete) {
                    this.$emit('delete', file.id);
                    return;
                }
                
                Swal.fire({
                    "title": "Er du sikker?",
                    "text": "Dette vil slette filen permanent.",
                    "icon": "warning",
                    "showCancelButton": true,
                    "confirmButtonColor": "#dc3545",
                    "confirmButtonText": "Ja, slett filen",
                    "cancelButtonText": "Avbryt",
                    "reverseButtons": true
                }).then(response => {
                    if (response.isConfirmed) {
                        this.$emit('delete', file.id);
                    }
                });
            }
        },
        components: { UploadFilesDialogComponent },
        delimiters: ['[[', ']]'],
        template: '#vuec-files-list',
        emits: ['delete', 'upload'],
    }
</script>