<template id="vuec-popover-component">
    <div 
        :class="[ { active : internalIsVisible }, 'popover_wrapper', 'dialog-popover-left-fix' ]" 
        ref="popover">
        <div class="popover_content" :style="style">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    let PopoverComponent = {
        props: {
            isVisible: Boolean,
            excludes: Array,
            style: String
        },
        data() {
            return {
                internalIsVisible: false,
            }
        },
        methods: {
            toggleVisibility() {
                this.internalIsVisible = !this.internalIsVisible;
            }
        },
        watch: {
            isVisible(newState, oldState) {
                if (newState == false) {
                    $(this.$refs.popover).hide("fade", {}, 400, () => {
                        this.internalIsVisible = false;
                    });
                }
                else {
                    this.internalIsVisible = newState;
                    $(this.$refs.popover).show("fade", {}, 400);
                }
            },
            internalIsVisible(newState, oldState) {
                this.$emit("update:isVisible", newState);
            }
        },
        mounted() {
            this.internalIsVisible = this.isVisible;

            this.clickOutsideEvent = (e) => {
                if (this.$el !== event.target && !this.$el.contains(event.target)) {
                    console.log("excludes", this.excludes)
                    if (this.excludes && this.excludes.length > 0 && this.excludes.includes(event.target)) {
                        return;
                    }
                    
                    console.log("Clicked outside");
                    console.log(event.target, this.$el.contains(event.target));

                    this.internalIsVisible = false;
                }
            };

            document.addEventListener('click', this.clickOutsideEvent);
            document.addEventListener('touchstart', this.clickOutsideEvent);
        },
        unmounted() {
            document.removeEventListener('click', this.clickOutsideEvent);
            document.removeEventListener('touchstart', this.clickOutsideEvent);
        },
        delimiters: ["[[", "]]"],
        template: "#vuec-popover-component"
    }
</script>