

<template id="vuec-rigging-form">
    <div class="d-flex flex-column">
        <div>
            <input type="text" name="title" id="title"
                v-model="modelValue.title" @input="emitUpdateEvent"
                class="form-control w-auto" placeholder="Tittel">
        </div>
        <span class="mt-2">
            Fra
        </span>
        <div class="row">
            <div class="col-6">
                <div class="input-group w-auto">
                    <input type="date" class="form-control" 
                        v-model="modelValue.date" @input="emitUpdateEvent">
                    </input>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group w-auto">
                    <span class="input-group-text">
                        <i class="fas fa-clock"></i>
                    </span>
                    <input type="time" class="form-control" 
                        v-model="modelValue.start_time" @input="emitUpdateEvent">
                    </input>
                </div>
            </div>
        </div>




        <span class="mt-2">
            Til
        </span>

        <div class="input-group w-auto">
            <span class="input-group-text">
                <i class="fas fa-clock"></i>
            </span>
            <input type="time" class="form-control" 
                v-model="modelValue.end_time"
                @input="emitUpdateEvent">
            </input>
        </div>
    </div>
</template>


<script>
    let RiggingForm = {
        template: '#vuec-rigging-form',
        delimiters: ['[[', ']]'],
        props: {
            split: {
                type: Boolean,
                default: false,
            },
            modelValue: {
                type: Object,
                default: function() {
                    return {
                        title: '',
                        date: '',
                        start_time: '',
                        end_time: '',
                    }
                }
            }
        },
        mounted: function() {
            
        },
        data() {
            return {
            }
        },
        emits: ['update:modelValue'],
        methods: {
            emitUpdateEvent() {
                console.log('Emitting update event');
                console.log(this.modelValue);
                this.$emit('update:modelValue', this.modelValue);
            },
        },
        components: { 
        },
    }
</script>