{% comment %}
Rooms select2 component

This component is used to select rooms. It also allows for selecting presets, which are predefined collections of rooms.
Logic related to presets are encased in the processIncoming and processOutgoing methods, which effectively means the consumer of this component
does not need to care about presets, only room ids.
So feed this component an array of room ids, and it will take care of the rest. When the user selects a preset, the component will
automatically select all the rooms in the preset, and inversely on deselection of preset, rooms in said preset will be removed.
The consumer only needs to handle room ids.

When room ids come in, the component will check if all the rooms in a preset are selected, and if so, it will collapse the rooms into the preset.

{% endcomment %}

{% include "arrangement/vue/select2.html" %}

<template id="vuec-rooms-select">
    <select2 
        @input="(values) => processOutgoing(values)"
        :options="rooms" 
        :multiple="true" 
        :selected="selectedRooms" 
        placeholder="Velg rom og presets">

    </select>
</template>

<script>
    let RoomsSelect = {
        template: '#vuec-rooms-select',
        delimiters: ['[[', ']]'],
        components: { Select2 },
        emits: ['update:selected'],
        props: {
            selected: {
                type: Array,
                required: true
            }
        },
        data: function () {
            return {
                presets: [],
                rooms: [],
                skipFlag : false,
                selectedRooms: this.selected
            }
        },
        watch: {
            selected: function (newSelected) {
                if (this.skipFlag) {
                    // Avoid infinite loop when updating selectedRooms
                    // I wonder if this is the best way to do this. it likely is not.
                    // If you stumble upon this and have a better way, please let me know.
                    this.skipFlag = false;
                    return;
                }
                // Process the ids, replacing them with presets where applicable, so as to show the "collapsed" presets in the select2
                // upstream only cares about the room ids
                let transformedIdsArray = this.processIncoming(newSelected);

                this.selectedRooms = transformedIdsArray;
            }
        },
        methods: {
            processIncoming: function (selectedIds) {
                Object.values(this.presets).forEach(function (preset) {
                    let allArePresent = true;
                    preset.rooms.forEach(function (room) {
                        if (selectedIds.indexOf(room.id) === -1) {
                            allArePresent = false;
                        }
                    });
                    if (allArePresent) {
                        selectedIds.push("PRESET-" + preset.id);

                        preset.rooms.forEach(function (room) {
                            if (selectedIds.indexOf(room.id) !== -1) {
                                selectedIds.splice(selectedIds.indexOf(room.id), 1);
                            }
                        });
                    }
                });

                return selectedIds;
            },
            processOutgoing: function (selectedIds) {
                let roomIds = [];
                selectedIds.forEach(function(id) {
                    if (String(id).startsWith("PRESET-")) {
                        roomIds = roomIds.concat(this.presetsLookup[id].rooms.map((room) => room.id));
                    }
                    else {
                        roomIds.push(id);
                    }
                }.bind(this));
                this.skipFlag = true;

                this.$emit('update:selected', roomIds);
            },
            getRooms: async function () {
                return await fetch("/arrangement/room/select2/json")
                    .then(response => response.json());
            },
            getPresets: async function () {
                return await fetch("/arrangement/room_preset/json_list")
                    .then(response => response.json());
            }
        },
        mounted: async function () {
            this.rooms = await this.getRooms();
            await this.getPresets().then(presets => {
                let presetsLookup = {};
                presets.forEach((preset) => {
                    presetsLookup["PRESET-" + preset.id] = preset;
                });

                this.presetsLookup = presetsLookup;
            })
        }
    }
</script>