<template id="select2_component">
    
    <select ref="select" :multiple="multiple ? true : null" class="w-100">
    </select>

</template>

<script>
    let Select2 = {
        template: '#select2_component',
        props: {
            options: {
                type: Array,
                required: true
            },
            selected: { // Array of selected values - int ids
                type: Array,
                default: () => []
            },
            placeholder: {
                type: String,
                default: 'Select'
            },
            multiple: {
                type: Boolean,
                default: false
            }
        },
        mounted() {
            this.$nextTick(() => {
                console.log("selected", this.selected)

                $(this.$refs.select)
                    .select2()
                    .val(this.selected)
                    .trigger('change')
                    .on('change', e => {
                        this.$emit('input', $(this.$refs.select).val() || [])
                    });
            })

        },
        emits: ['input'],
        watch: {
            selected(selected) {
                $(this.$refs.select)
                    .val(selected)
                    .trigger('change')
            },
            options(options) {  
                $(this.$refs.select)
                    .empty()
                    .select2({
                        placeholder: this.placeholder,
                        data: options
                    })
                    .val(this.selected)
                    .trigger('change');
            }
        },
        destroyed() {
            $(this.$refs.select).off().select2('destroy')
        }
    }
</script>