<template id="vuec-upload-files-popover-component">
    
    <button class="wb-btn-main"
        @click="isExpanded = !isExpanded"
        ref="trigger"
        type="button">

        <i class="fas fa-upload"></i>
        Last opp fil(er)
    </button>

    <popover-component
        :is-visible="isExpanded"
        @update:is-visible="(value) => isExpanded = value"
        :excludes="[ triggerRef ]"
        ref="eventPopover"
        style="z-index: 1000000001">

        <div class="d-flex">
            <div class="file-upload-wrapper p-2 wb-bg-secondary" style="border: dotted 2px black;">
                <input type="file"
                    ref="file_field"
                    id="input-file-now"
                    name="file_field"
                    multiple="true"/>
            </div>

            <div>
                [[fileField]]
                <ul>
                    <li>A</li>
                    <li>B</li>
                </ul>
            </div>
        </div>



        <button class="btn wb-btn-main btn-block mt-1">
            <i class="fas fa-upload"></i>
            Last opp
        </button>
    </popover-component>
</template>

<script>
    let UploadFilesPopoverComponent = {
        components: {
            PopoverComponent
        },
        props: {
            isVisible: {
                type: Boolean,
                default: true
            },
        },
        data() {
            return {
                isMounted: false,
                isExpanded: false,
            }
        },
        computed: {
            triggerRef() {
                if (!this.isMounted) {
                    return null;
                }
                return this.$refs.trigger;
            },
            fileField() {
                return this.$refs.file_field
            }
        },
        watch: {
            isExpanded(value) {
                if (value === true) {
                }
            }
        },
        mounted() {
            this.$nextTick(() => {
                new FileUpload(
                    this.$refs.file_field
                );
                console.log("fileField", this.$refs.file_field);
                this.excludes = this.$parent.$refs.excludes;
                console.log("parent", this.$parent)
            });
            this.isMounted = true;
        },
        delimiters: ['[[', ']]'],
        template: '#vuec-upload-files-popover-component'
    }
</script>