{% include "arrangement/vue/popover_component.html" %}

<template id="vuec-week-select-component-template">
    
    <button class="btn border-1 wb-large-btn wb-btn-white shadow-0" @click="showPopover = !showPopover">
        <h5 class="mb-0"> <i class="fas fa-angle-down"></i> Ekspander</h5>
    </button>

    <popover-component
        :is-visible="showPopover"
        @update:is-visible="(value) => isExpanded = value"
        style="width: 5000em;">

        <h5>Hello</h5>

    </popover-component>

</template>

<script>
    let WeekSelectComponent = {
        data() {
            return {
                showPopover: true,
                
            }
        },
        components: {
            PopoverComponent
        },
        delimiters: ["[[", "]]"],
        template: "#vuec-week-select-component-template"
    }
</script>